/* 首页 */

.header {
    height: .8rem;
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, .6);
    display: flex;
    justify-content: center;
    z-index: 1000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 1400px;
    left: 0;
}

.header a {
    margin: auto 0;
    color: #fff !important;
}

.header>div {
    position: absolute;
    left: .4rem;
    width: .8rem;
    height: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-style {
    width: 80%;
}

.header-r {
    width: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .25rem;
    font-weight: bolder;
    position: relative;
}

.header-r-block {
    position: relative;
    cursor: pointer;
    height: .8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-r-block:hover .navbarAlert_Product {
    display: block;
}

.header-r-block:hover .navBarAlert_Service {
    display: block!important;
}

.navbarAlert_Product:hover {
    display: block!important;
}

.navbarAlert_Product {
    position: fixed;
    top: .8rem;
    width: 100%;
    height: 3rem;
    background: #fff;
    display: none;
    left: 0;
    flex-direction: column;
    box-shadow: 0 0 10px #86868b;
    z-index: 99;
    /* opacity: 0.9; */
}

.navbarAlert_Product>div {
    width: 70%;
    margin-left: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar-Product-Top {
    height: .8rem;
    border-bottom: 1px solid #86868b;
    color: #86868b;
    font-weight: 100;
    /* padding: 0 2rem; */
    /* box-sizing: border-box; */
    font-size: .2rem;
}

.navbar-Product-Top span {
    cursor: pointer;
}

.navBar-Active {
    color: red;
    font-weight: bold;
    font-size: .22rem;
}

.navbar-Product-Bottom {
    height: 2.2rem;
    /* background: orange; */
}

.navbar-Product-Bottom>div {
    width: 3rem;
    height: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #131313;
    font-size: .2rem;
    font-weight: 100;
}

.navbar-Product-Bottom>div img {
    width: 1.5rem;
    height: 1rem;
}

.navBarAlert_Service {
    display: none;
}

.navBarAlert_Service,
.navBarAlert_AboutUs {
    position: absolute;
    top: .8rem;
    width: 2.5rem;
    height: auto;
    background: #fff;
    display: none;
    z-index: 10;
    /* display: flex; */
    flex-direction: column;
    color: #86868b;
    box-shadow: 0 0 10px #86868b;
    z-index: 99;
}

.navBarAlert_Service>span,
.navBarAlert_AboutUs>span {
    width: 100%;
    height: .5rem;
    border-bottom: 1px solid #86868b;
    font-weight: 100;
    font-size: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBarAlert_Service>span:last-child,
.navBarAlert_AboutUs>span:last-child {
    border-bottom: none;
}

body {
    margin: 0;
    background-color: #fff;
    overflow-x: hidden;
    min-width: 1400px;
}

#sticky {
    top: 0;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131313;
}

canvas {
    position: relative;
}

p.left,
p.right {
    font-size: 28px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    top: 45%;
    opacity: 0;
}

p.left {
    left: 50%;
}

p.right {
    right: 50%;
}

#loading {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    position: absolute;
    width: 45vw;
    text-align: center;
    z-index: 10;
    font-weight: bold;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2002878/iphone-se.01.png') no-repeat center center;
    background-size: contain;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    transition: .5s opacity ease-in-out;
    transition-delay: 2s;
}

#loading p {
    margin-top: 40%;
}


/* 尾部 */

.footer {
    width: 100%;
    background: #131313;
    color: #fff;
    min-width: 1200px;
}

.footerBox {
    width: 80%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.footerBox>div {
    width: 100%;
    display: flex;
}

.footer_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerTop_left {
    flex: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: .5rem;
    box-sizing: border-box;
}

.footerTop_left>ul {
    font-size: .15rem;
}

.footerTop_left>ul>li:nth-child(1) {
    color: #fff;
    cursor: inherit;
}

.footerTop_left>ul>li {
    color: #86868b;
    margin-top: .3rem;
    cursor: pointer;
}

.footerTop_left>ul>li>a {
    color: #86868b;
}

.footerTop_right {
    flex: 2;
}

.footerTop_right>div:nth-child(1) {
    color: #86868b;
    font-size: .15rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 1rem;
}

.footerTop_right>div:nth-child(1)>span:nth-child(1) {
    font-weight: bold;
    font-size: .25rem;
}

.footer_bottom {
    width: 100%;
    padding: 0 2.5rem;
    box-sizing: border-box;
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
}

.footer_bottom>div:nth-child(2) {
    color: #86868b;
    margin-top: .2rem;
}

.footer_bottom>div:nth-child(1) {
    border-bottom: 1px solid #86868b;
    padding: .3rem 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.footer_bottom>div:nth-child(1)>img {
    width: 5%;
}

.footer_bottom a {
    color: #86868b;
}

.footer_bottom>div:nth-child(1)>span {
    margin-left: .2rem;
    cursor: pointer;
}

#nav .nav-current {
    position: absolute;
    bottom: -2px;
    height: 2px;
    overflow: hidden;
    background: crimson;
    z-index: 88;
}