/* 首页 */

.header {
    height: 1rem;
    width: 100%;
    position: fixed;
    background: #131313bb;
    display: flex;
    justify-content: center;
    z-index: 99;
    color: #fff;
    
}

.header a {
    margin: auto 0;
    color: #fff !important;
}

.header .img-style {
    width: 1rem;
    height: .5rem;
    display: inline-block;
    position: absolute;
    left: .4rem;
    top: .25rem;
}

.header-r {
    width: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .25rem;
    font-weight: bolder;
}

body {
    margin: 0;
    background-color: #131313;
    overflow-x: hidden;
}

#sticky {
    top: 0;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131313;
}

canvas {
    position: relative;
}

p.left,
p.right {
    font-size: 28px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    top: 45%;
    opacity: 0;
}

p.left {
    left: 50%;
}

p.right {
    right: 50%;
}

#loading {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    position: absolute;
    width: 45vw;
    text-align: center;
    z-index: 10;
    font-weight: bold;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2002878/iphone-se.01.png') no-repeat center center;
    background-size: contain;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    transition: .5s opacity ease-in-out;
    transition-delay: 2s;
}

#loading p {
    margin-top: 40%;
}


/* 尾部 */

.fooder {
    height: 600px;
}