/* 阿里巴巴普惠体 */
@font-face{
    font-family: 'alibaba-bold';
    src:url('../css/font/alibaba/Alibaba-PuHuiTi-Bold.otf');
}
@font-face{
    font-family: 'alibaba-heavy';
    src:url('../css/font/alibaba/Alibaba-PuHuiTi-Heavy.otf');
}
@font-face{
    font-family: 'alibaba-light';
    src:url('../css/font/alibaba/Alibaba-PuHuiTi-Light.otf');
}
@font-face{
    font-family: 'alibaba-medium';
    src:url('../css/font/alibaba/Alibaba-PuHuiTi-Medium.otf');
}
@font-face{
    font-family: 'alibaba-regular';
    src:url('../css/font/alibaba/Alibaba-PuHuiTi-Regular.otf');
}
/* 数字 */
@font-face{
    font-family: 'NeuzeitGro-Black';
    src:url('../css/font/Neuzeit-Grotesk-math/NeuzeitGro-Black.otf');
}
@font-face{
    font-family: 'NeuzeitGro-Bold';
    src:url('../css/font/Neuzeit-Grotesk-math/NeuzeitGro-Bold.otf');
}
@font-face{
    font-family: 'NeuzeitGro-Light';
    src:url('../css/font/Neuzeit-Grotesk-math/NeuzeitGro-Light.otf');
}
@font-face{
    font-family: 'NeuzeitGro-Regular';
    src:url('../css/font/Neuzeit-Grotesk-math/NeuzeitGro-Regular.otf');
}