body::-webkit-scrollbar {
    display: none;
}

body,
html {
    background: #000;
}

.homeVideoBox {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: .8rem;
}

.homeVideo {
    display: flex;
    width: 100%;
    height: 12.7rem;
    object-fit: fill;
}

.videoTitleInfo {
    position: absolute;
    color: #fff;
    font-size: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videoTitleInfo>span:nth-child(1) {
    font-weight: bold;
    font-size: .8rem;
}

.videoTitleInfo>img {
    width: .8rem;
    height: .8rem;
    margin-top: .5rem;
    cursor: pointer;
}

.Home_VideoAlert {
    width: 100%;
    height: 100%;
    display: none;
}

.videoAlert {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoAlertContaner {
    width: 50%;
}

.videoAlert>img {
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: .3rem;
    height: .3rem;
}

.genduoBox {
    font-size: .25rem;
    position: absolute;
    bottom: 1rem;
    color: #fff;
    display: flex;
    align-items: center;
}

.genduoBox>img {
    width: .35rem;
    margin-left: .2rem;
}

.frame {
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 1rem;
    font-size: .23rem;
    margin-top: 2rem;
}

.frame img:hover {
    transform: scale(1.2);
    /* background-color: #dedede; */
    cursor: pointer;
}

.frame img {
    width: 2rem;
    height: 2rem;
    transition: all 0.5s;
}