.homeVideoBox {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: .8rem;
}

.homeVideo {
    display: flex;
    width: 100%;
    height: 12.7rem;
    object-fit: fill;
}

.homeVideoBox .swiper-container {
    width: 100%;
    height: 13.21rem;
    position: relative;
}

.homeVideoBox .swiper-wrapper>div:nth-child(1) {
    background: url(https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/honeSwiper-1a.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.homeVideoBox .swiper-wrapper>div:nth-child(2) {
    background: url(https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/honeSwiper-2.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.homeVideoBox .swiper-wrapper>div:nth-child(3) {
    background: url(https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/honeSwiper-4.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.homeVideoBox .swiper-wrapper>div:nth-child(4) {
    background: url(https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/honeSwiper-5.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.homeVideoBox .swiper-wrapper>div:nth-child(5) {
    background: url(https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/honeSwiper-6.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.homeVideoBox .swiper-wrapper>div:nth-child(6) {
    background: url(https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/honeSwiper-3.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.homeVideoBox .swiper-slide {
    width: 100%;
    height: 100%;
    position: relative;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.swiper-button-next,
.swiper-button-prev {
    color: #fff!important;
}

.swiper-button-prev {
    left: 100px !important;
}

.swiper-button-next {
    right: 100px !important;
}

.homeVideoBox .swiper-slide>h3 {
    font-size: .7rem;
    color: #fff;
    font-weight: bold;
    margin-top: .8rem;
    text-align: justify;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 70px!important;
}

.homeVideoBox .swiper-slide>span {
    font-size: 16px;
    color: #fff;
    width: 2rem;
    height: .6rem;
    background: #E2142B;
    margin-top: .5rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.homeVideoBox .swiper-wrapper>.swiper-slide:nth-child(6) {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.homeVideoBox .swiper-wrapper>.swiper-slide:nth-child(3)>h3:nth-child(1) {
    margin-top: 0;
    font-size: 50px;
}


/* 首页第五张轮播图文字 */

.homeVideoBox .swiper-wrapper>.swiper-slide:nth-child(6)>h3:nth-child(2) {
    opacity: .8;
    font-weight: 100;
    font-size: 30px;
}

.videoTitleInfo {
    position: absolute;
    color: #fff;
    font-size: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videoTitleInfo>span:nth-child(1) {
    font-weight: bold;
    font-size: .8rem;
}

.videoTitleInfo>img {
    width: .8rem;
    height: .8rem;
    margin-top: .5rem;
    cursor: pointer;
}

.Home_VideoAlert {
    width: 100%;
    height: 100%;
    display: none;
}

.videoAlert {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoAlertContaner {
    width: 50%;
}

.videoAlert>img {
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: .3rem;
    height: .3rem;
}

.genduoBox {
    font-size: .25rem;
    position: absolute;
    bottom: 1rem;
    color: #fff;
    display: flex;
    align-items: center;
}

.genduoBox>img {
    width: .35rem;
    margin-left: .2rem;
}

.Theproductline {
    width: 100%;
    height: auto;
    display: flex;
    background: #fff;
    padding: .5rem;
    box-sizing: border-box;
    font-size: .22rem;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
}

.Theproductline>div {
    width: 48%;
    height: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.Theproductline>div>h3 {
    font-size: .5rem;
    color: #fff;
    font-weight: bold;
    margin-top: .5rem;
}

.Theproductline>div>span {
    font-size: .3rem;
    color: #fff;
    margin-top: .2rem;
    opacity: .8;
    font-weight: 100;
}

.Theproductline>div:nth-child(1) {
    background: url(https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/5G.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    margin-right: .7rem;
}

.Theproductline>div:nth-child(2) {
    background: url(https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/dinzhi.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.Theproductline .frame:nth-child(2) {
    margin-left: 0;
}

.frame {
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 1rem;
    font-size: .23rem;
    margin-top: 2rem;
}

.frame img:hover {
    transform: scale(1.2);
    /* background-color: #dedede; */
    cursor: pointer;
}

.frame img {
    width: 2rem;
    height: 2rem;
    transition: all 0.5s;
}

.partnersBox {
    width: 100%;
    position: relative;
    margin-bottom: .5rem;
}

.box1 {
    width: 100%;
    height: 10rem;
    background: url(https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/seviceport.jpg) no-repeat center center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.box1>div {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.box1>div>span:nth-child(1) {
    font-size: .5rem;
}

.box1>div>span:nth-child(2) {
    font-size: .3rem;
    margin-top: .2rem;
}

.box1>div>span:nth-child(3) {
    width: 2rem;
    height: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: .2rem;
    border: 1px solid #fff;
    border-radius: .5rem;
    margin-top: .5rem;
    cursor: pointer;
}

.newsAndInformation {
    width: 100%;
    height: auto;
    background: #fff;
    margin-top: .1rem;
    position: relative;
    display: flex;
    justify-content: center;
}

.newsAndInformation .swiper-container {
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsAndInformation .swiper-container .swiper-info {
    position: absolute;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    font-size: .35rem;
    margin-bottom: 6rem;
}

.swiper-container .swiper-info>span:nth-child(2) {
    font-size: .25rem;
    opacity: .7;
    margin-top: .2rem;
}

.newsAndInformation .swiper-slide {
    width: 978px;
    height: 8rem;
    transition-timing-function: linear;
}

@media only screen and (max-width:1200px) {
    .swiper-slide {
        width: 770px;
    }
}

@media only screen and (max-width:980px) {
    .swiper-slide {
        width: 471px;
    }
}

@media only screen and (max-height:480px) {
    .swiper-slide {
        width: 471px;
    }
}

.newsAndInformation .swiper-slide img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.newsAndInformation .swiper-slide video {
    width: 100%;
    height: 100%;
    margin-top: -.18rem;
    border-radius: 4px;
}

.newsAndInformation .swiper-slide .title {
    position: absolute;
    transform: rotate(90deg);
    transform-origin: left top;
    left: -3px;
    font-size: 11px;
    color: rgb(102, 102, 102);
}

.newsAndInformation .swiper-button-next,
.swiper-button-prev {
    width: 86px;
    height: 112px;
    background-size: 86px 112px;
    margin-top: -56px;
    outline: none;
}

.newsAndInformation .swiper-pagination-bullet {
    background: none;
    opacity: 1;
    margin: 0 6px !important;
    width: 9px;
    height: 9px;
    position: relative;
    outline: none;
    vertical-align: middle;
}

.newsAndInformation .swiper-pagination-bullet span {
    width: 3px;
    height: 3px;
    background: #CCC;
    display: block;
    border-radius: 50%;
    margin-top: 3px;
    margin-left: 3px;
}

.newsAndInformation .swiper-pagination-bullet i {
    background: #000;
    height: 1px;
    width: 20px;
    position: absolute;
    top: 4px;
    transform: scaleX(0);
    transform-origin: left;
    z-index: 3;
    transition-timing-function: linear;
}

.newsAndInformation .swiper-pagination-bullet-active span,
.newsAndInformation .swiper-pagination-bullet:hover span {
    width: 9px;
    height: 9px;
    margin-top: 0;
    margin-left: 0;
    background: #000;
    position: relative;
    z-index: 1;
}

.newsAndInformation .swiper-pagination-bullet-active i {
    animation: middle 6s;
}

.newsAndInformation .swiper-pagination-bullet:first-child.swiper-pagination-bullet-active i {
    animation: first 6s;
}

.newsAndInformation .swiper-pagination-bullet:last-child.swiper-pagination-bullet-active i {
    animation: last 6s;
}

@keyframes first {
    0% {
        transform: scaleX(0.5);
        left: 0px;
    }
    /*091*/
    100% {
        transform: scaleX(1);
        left: 2px;
    }
    /*0915*/
}

@keyframes last {
    0% {
        transform: scaleX(0.7);
        left: -10px;
    }
    /*1090*/
    20% {
        transform: scaleX(0.3);
        left: 2px;
    }
    /*090*/
    100% {
        transform: scaleX(0.3);
        left: 0px;
    }
    /*090*/
}

@keyframes middle {
    0% {
        transform: scaleX(0.7);
        left: -10px;
    }
    /*1091*/
    20% {
        transform: scaleX(0.45);
        left: 2px;
    }
    /*092*/
    100% {
        transform: scaleX(1);
        left: 2px;
    }
    /*0913*/
}