.homeVideoBox {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: .8rem;
}

.homeVideo {
    display: flex;
    width: 100%;
    height: 12.7rem;
    object-fit: fill;
}

.videoTitleInfo {
    position: absolute;
    color: #fff;
    font-size: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videoTitleInfo>span:nth-child(1) {
    font-weight: bold;
    font-size: .8rem;
}

.videoTitleInfo>img {
    width: .8rem;
    height: .8rem;
    margin-top: .5rem;
    cursor: pointer;
}

.Home_VideoAlert {
    width: 100%;
    height: 100%;
    display: none;
}

.videoAlert {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoAlertContaner {
    width: 50%;
}

.videoAlert>img {
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: .3rem;
    height: .3rem;
}

.genduoBox {
    font-size: .25rem;
    position: absolute;
    bottom: 1rem;
    color: #fff;
    display: flex;
    align-items: center;
}

.genduoBox>img {
    width: .35rem;
    margin-left: .2rem;
}

.Theproductline {
    width: 100%;
    height: auto;
    display: flex;
    background: #fff;
    padding: 0 0 1rem 0;
    /* box-sizing: border-box; */
    font-size: .22rem;
    justify-content: space-between;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
}

.Theproductline_title {
    position: absolute;
    color: #1d1d1f;
    font-size: .4rem;
    font-weight: bold;
    top: .5rem;
}

.Theproductline .frame:nth-child(2) {
    margin-left: 0;
}

.frame {
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 1rem;
    font-size: .23rem;
    margin-top: 2rem;
}

.frame img:hover {
    transform: scale(1.2);
    /* background-color: #dedede; */
    cursor: pointer;
}

.frame img {
    width: 2rem;
    height: 2rem;
    transition: all 0.5s;
}

.partnersBox {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: #fff;
    margin-top: 0.1rem;
    padding: 1rem 0;
    padding-top: 0;
    box-sizing: border-box;
    position: relative;
    flex-wrap: wrap;
}

.partnersBox>div {
    width: 11rem;
    height: 7rem;
    background: #fff;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 0.1rem;
    overflow: hidden;
    margin-top: 2rem;
}

.partnersBox>div img {
    width: 100%;
    height: 100%;
    border-radius: 0.1rem;
}

.partnersBox>div:hover img {
    transform: scale(1.2);
    filter: blur(5px);
    -webkit-filter: blur(5px);
    cursor: pointer;
}

.partnersBox>div img {
    width: 100%;
    transition: all 1s;
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.partnersBox>div>div {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    top: 1rem;
    cursor: pointer;
}

.partnersBox>div span {
    color: #fff;
    font-size: .25rem;
}

.partnersBox>div>div>span:nth-child(1) {
    font-weight: bold;
    font-size: .35rem;
}

.relatedServices>div {
    width: 7rem;
    height: 6rem;
    background: rgba(0, 0, 0, .05);
    border-radius: 0;
    transition: all .5s;
}

.relatedServices>div span {
    color: #1d1d1f;
}

.newsAndInformation {
    width: 100%;
    height: 4rem;
    background: #fff;
    margin-top: .1rem;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #F5F5F5;
}

.listBox {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: .5rem;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
}

.listBox>div {
    flex: 1;
    height: 2rem;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 .3rem;
    box-sizing: border-box;
    cursor: pointer;
}

.listBox>div>span:nth-child(1) {
    font-size: .2rem;
    color: #999;
    margin-bottom: .2rem;
}

.listBox>div>span:nth-child(2) {
    font-size: .35rem;
    color: #1d1d1f;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    margin-bottom: .2rem;
}

.listBox>div>span:nth-child(3) {
    font-size: .25rem;
    color: red;
}

.listBox>div:last-child {
    border: none;
}