#LoadingBar {
    background-color: red;
}

.product-detailsBox {
    padding-top: .8rem;
    box-sizing: border-box;
}

.section {
    text-align: center;
    font: 50px "Microsoft Yahei";
    color: #fff;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-color: #fff !important;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span {
    background: #fff !important;
}

.section9 {
    background: url(https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/9_bg.jpg) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    display: flex;
    flex-direction: column;
}
.section9_txt{
    position: absolute;
    left:50%;
    transform: translate(-50%);
    margin-top: -1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section9_img{
    float: right;
    padding-top: 124px;
    padding-right: 256px;
    width: 1466px;
    box-sizing: border-box;
}
.section9_img>img{
    display: block;
    width: 100%;
    height: 100%;
}
.section9 h3 {
    font-size: 45px;
    display: none;
    margin-top: 46px;
    font-family: 'alibaba-regular';
    font-weight: 500;
    display: none;
}
.section9 p {
    font-size: 20px;
    font-weight: 100;
    margin-top: 8px;
    display: none;
    font-family: 'alibaba-light';
}

.section10 {
    background: url(https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/10_bg.jpg) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column
}
.section10_txt{
    position: absolute;
    left:50%;
    transform: translate(-50%);
    margin-top: -1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section10 h3 {
    font-size: 45px;
    font-weight: 500;
    display: none;
    font-family: 'alibaba-regular';
    color: #fff;
    display: none;
}
.section10_img{

    padding-top: 124px;
    margin: 0 auto;
    width: 860px;
    box-sizing: border-box;
}
.section10_img>img{
    display: block;
    width: 100%;
    height: 100%;
}
.section11 {
    background: url(https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/11_bg.jpg) no-repeat;
    /* background-size: contain; */
    display: flex;
    flex-direction: column;
    background-position: center center;
    /* background-size: 100% 100%; */
    background-color: #131313!important;
}
.section11_txt{
    position: absolute;
    left:50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section11_img{
    width: 16rem;
    margin: 0 auto;
}
.section11_img>img{
    display: block;
    width: 100%;
    height: 100%;
}

.section12 {
    background: url(https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/12_bg.jpg) no-repeat;
    display: flex;
    flex-direction: column;
    background-position: center center;
    background-size: 100% 100%;
    background-color: #030400!important;
}
.section12_txt{
    position: absolute;
    left:50%;
    margin-top: -164px;;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section12 h3 {
    font-size: 45px;
    display: none;
    font-weight:  500;
    font-family: 'alibaba-regular';
    display: none;
}
.section12_img{
    width:870px;
    margin: 0 auto;
    padding-top: 68px;
}
.section12_img>img{
    display: block;
    width: 100%;
    height: 100%;
}
.section13 {
    display: flex;
    flex-direction: column;
}

.section14 {
    background: url(https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/14_bg.jpg) no-repeat;
    display: flex;
    flex-direction: column;
    background-position: center center;
    background-size: 100% 100%;
    background-color: #131313!important;
    z-index: 1;
}
.section14_txt{
    position: absolute;
    left:50%;
    margin-top: -24px ;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section14 h3 {
    font-size: 45px;
    display: none;
    /* margin-top: -6rem; */
    font-weight:  500;
    font-family: 'alibaba-regular';
}
.section11 h3 {
    font-size: 45px;
    font-weight:  500;
    font-family: 'alibaba-regular';
    display: none;
}
.section10 p,
.section11 p,
.section12 p,
.section13 p,
.section14 p {
    font-size: 20px;
    font-weight: 100;
    opacity: .9;
    margin-top: 8px;
    font-family: 'alibaba-light';
    display: none;
}
.section11 ul {
    width: 50%;
    left: 25%;
    top: 14%;
    height: 4.5rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.section11 ul li {
    width: 2.5rem;
    height: 2rem;
    padding-right: .2rem;
    box-sizing: border-box;
    margin-left: .2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    cursor: pointer;
}

.section11 ul li>img {
    width: .35rem;
    height: .35rem;
}

.section11 ul li>h4 {
    font-size: .3rem;
    margin-top: .2rem;
    font-weight:  500;
}

.section11 ul li>span {
    font-size: .2rem;
    opacity: .7;
    margin-top: .2rem;
    /* text-align: center; */
    text-align: justify;
}

.liActive {
    color: #E2142B;
}
.section13_txt{
    position: absolute;
    left:50%;
    margin-top: -1rem ;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section13 h3 {
    font-size: 45px;
    font-weight:  500;
    font-family: 'alibaba-regular';
    margin-top: -1rem;
    display: none;
}
.section13 ul {
    /* margin: 0  200px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 1.5rem; */
    margin: 2rem 2rem 0;
}

.section13 ul li {
    width: 15%;
    /* height: 3.5rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    cursor: pointer;
    margin-bottom: .5rem;
}

.section13 ul li>img {
    width: 70%;
    margin-bottom: .2rem;
}
.section13 ul li>i {
    font-size: 23px;
    margin-top: 56px;
    text-align: left;
    width: 166px;
}

.section13 ul li>span {
    width: 165px;
    font-size: 13px;
    opacity: .7;
    margin-top: 8px;
    text-align: left;
}


.section3 p {
    display: none;
}


.selection2-text {
    position: relative;
    left: -120%;
}

.section5 span {
   display: none;
}

/* 第一屏 */

.section1 {
    /* background-image: url(https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img1.jpg); */
    background-image: url(https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img1.jpg);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    display: flex;
    flex-direction: column;
}

.section1 h1 {
    margin-top: -5rem;
    color: #222222!important;
    font-size: 1.5rem;
    font-family: 'NeuzeitGro-Bold';
}

.section1 p {
    color: #3a3633!important;
    font-size: .6rem;
    font-weight: 200;
    /* font-family: 'KaiTi'; */
    font-family: 'alibaba-light';
}


/* 第二屏 */

.section2 {
    background-image: url(https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img2.jpg);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    display: flex;
    flex-direction: column;
}

.selection2-text {
    color: #18181a!important;
    font-size: .5rem;
   
}

.selection2-text>section {
    width: 2.5rem;
    /* background-color: red; */
    display: inline-block;
    margin: 0 0.5rem;
}

.selection2-text>section>p {
    display: inline-block;
    color: #fefefe;
    font-weight: 100;
    font-family: 'alibaba-light';

}
.selection2-text>section>p>b {
    display: inline-block;
    color: #fefefe;
    font-weight: 10;
}
.selection2-text>section>p>span{
    font-size: 130px;
    color: #fff;
    font-family: 'NeuzeitGro-Bold';
    font-weight: bolder;
    
    
}
.selection2-text>section>p>i{
    font-size: 110px;
    color: #fff;
    font-family: 'alibaba-medium';
    font-weight:  500;
    
}
.selection2_img{
    width: 1020px;
    margin: 0 auto;
    margin-top: 1rem;
    
}
.selection2_img>img{
    display: block;
    width: 100%;
    height: 100%;
}
/* 第三屏 */

.section3 {
    /* background: url(https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img3.jpg)no-repeat center center; */
    /* background-size: 100% 100%; */
    background-size: contain;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9!important;
}
.section3_txt{
    position: absolute;
    left:50%;
    transform: translate(-50%);
    margin-top: -2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section3 h3 {
    color: black!important;
    font-size: 45px;
    font-weight:  500;
    font-family: 'alibaba-regular';
    display: none;
}

.section3 p {
    color: #000!important;
    /* margin-top:8px; */
    font-size:24px;
    font-weight: 200;
    font-family: 'alibaba-light';
}

.section3_contain {
    display: flex;
    flex-wrap: wrap;
    width: 976px;
    margin: 0 auto;
    padding-top: 56px;
    /* display: none; */
}

.section3_contain>section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 60px;
    width: 75px;
}

.section3_contain>section:hover span {
    color: red;
}

.section3_contain>section>img {
    display: block;
    width: 110px;
    height: 100%;
}

.section3_contain>section>span {
    font-size: 16px;
    margin-top: .2rem;
    color: black;
}


/* 第四屏 */

.section4 {
    background: url(https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img4.jpg) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    background-size: cover;
    background-color: black!important;
}
.section4_txt{
    position: absolute;
    left:50%;
    transform: translate(-50%);
    margin-top: -4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section4 h3 {
    /* margin-top: -5rem */
    color: #fff!important;
    font-size: 45px;
    font-weight:  500;
    font-family: 'alibaba-regular';
    display: none;
}

.section4 p {
    color: #ffff!important;
    font-size: .35rem;
    margin-bottom: 2.8rem;
    margin-top:8px;
    font-weight: 200;
    font-family: 'alibaba-light';
    display: none;
}

.box {
    margin: 0 auto 48px;
    width: 396px;
}

.swiper-container {
    border-radius: 30px!important;
    /* margin: 0 auto;
    
    height: 182px; */
}
.swiper-slide{
    /* width: 392px!important;
    height: 76px;
    margin: 0 auto;
    overflow: hidden!important; */
}
.swiper-slide>img {
    width: 100%;
    height: 100%;
    display: block;
}

.swiper-button-prev {
    top: 36%!important;
    left: 5rem!important;
    font-size: .1rem;
    height: 3rem!important;
    width: 5rem!important;
    /* background-color: red; */
    opacity: 0;
}

.swiper-button-next {
    top: 36%!important;
    right: 5rem!important;
    font-size: .1rem;
    height: 3rem!important;
    width: 5rem!important;
    /* background-color: red; */
    opacity: 0;
}


/* 第五屏 */

.section5 {
    background: #fff!important;
    padding-top: .8rem;
}
.section5_txt{
    position: absolute;
    left:50%;
    transform: translate(-50%);
    margin-top: -2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section5 h3 {
    color: black!important;
    font-size: 45px;
    font-weight:  500;
    margin-bottom: -24px;
    font-family: 'alibaba-regular';
    display: none;
}

.section5 span {
    color: black!important;
    font-size: .35rem;
    font-weight: 200;
    opacity: 0.8;
    font-family: 'alibaba-light';
    margin-top: 22px;
}

.section5 p {
    color: black!important;
    font-size: 16px;
    opacity: 0.5;
}

.section5_contain {
    width: 6rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: .5rem;
    padding-bottom: .5rem;
}

.section5_contain>section {
    margin: 0 auto;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section5_contain>section>img {
    display: block;
    width: 58px;
    padding: 12px;
    border-radius: 50%;
    background-color: #ececec;
}

.section_5_img {
    width: 682px;
    margin: 0 auto;
}

.section_5_img>img {
    display: block;
    width: 100%;
    height: 100%;
}

.section5_contain_1>p:nth-child(2) {
    color: red!important;
}


/* 第六屏 */

.section6 {
    background: url(https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img6.jpg) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    background-size: contain;
    display: flex;
    background-color: black!important;
}

.section6 h3 {
    margin-top: -5rem;
    color: #fff!important;
    font-size: 45px;
    padding-top: 3rem;
    font-weight:  500;
    font-family: 'alibaba-regular';
    display: none;
}

.section6 p {
    color: #ffff!important;
    font-size: 20px;
    opacity: 0.5;
    font-weight: 200;
    margin-top: 8px;
    font-family: 'alibaba-light';
    display: none;
}

.sectionContain {
    width: 14rem;
    display: flex;
    margin: 0 auto;
    margin-top: 1rem;
}

.sectionContain>.section6_left {
    width: 31rem;
    height: 6rem;
}

@keyframes section6_left {
    0% {
        background-clor: #F00;
        left: 0rem;
        top: 0rem;
        opacity: 0;
    }
    /* 25%{background-clor:#F00;left:2.5rem;top:0rem;opacity: 1;} */
    50% {
        background-clor: #F00;
        left: 5rem;
        top: 0rem;
        opacity: 1;
    }
    /* 75%{background-clor:#F00;left:2.5rem;top:0rem;opacity: 1;} */
    100% {
        background-clor: #F00;
        left: 0rem;
        top: 0rem;
        opacity: 0;
    }
}

@keyframes section6_right {
    0% {
        background-clor: #F00;
        right: 0rem;
        top: 0rem;
        opacity: 0;
    }
    50% {
        background-clor: #F00;
        right: 5rem;
        top: 0rem;
        opacity: 1;
    }
    100% {
        background-clor: #F00;
        right: 0rem;
        top: 0rem;
        opacity: 0;
    }
}

.sectionContain>.section6_right {
    width: 12rem;
    height: 6rem;
}

.sectionContain>.section6_left>img {
    margin-top: 3rem;
    display: block;
    position: absolute;
    /*这句不能少，否则动不起来*/
    animation: section6_left 2s infinite;
    /*keyframes名称，动画时间，循环*/
}

.sectionContain>.section6_right>img {
    display: block;
    margin-top: 3rem;
    position: absolute;
    /*这句不能少，否则动不起来*/
    animation: section6_right 2s infinite;
    /*keyframes名称，动画时间，循环*/
}


/* 第七屏 */

.section7 {
    background: url(https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img7.jpg) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    display: flex;
    flex-direction: column;
    /* background-color: black!important; */
}
.section7_txt{
    position: absolute;
    left:50%;
    transform: translate(-50%);
    margin-top: -2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section7 h3 {
    color: #030400!important;
    font-size: 45px;
    font-weight:  500;
    font-family: 'alibaba-regular';
    display: none;
}

.section7 p {
    color: #030400!important;
    font-size: .35rem;
    font-weight: 200;
    opacity: 0.4;
    margin-top:8px;
    font-family: 'alibaba-light';
    display: none;
}
.section7_img{
    width: 1000px;
    float: right;
    padding-top: .5rem;
    box-sizing: border-box;
    padding-right: 2rem;
}
.section7_img>img{
    display: block;
    width: 100%;
    height: 100%;
}

/* 第八屏 */

.section8 {
    background: url(https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img8.jpg) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    display: flex;
    flex-direction: column;
}
.section8_txt{
    position: absolute;
    left:50%;
    transform: translate(-50%);
    margin-top: -1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section8 h3 {
    color: #fff!important;
    font-size: 45px;
    font-weight:  500;
    font-family: 'alibaba-regular';
    display: none;
}

.section8 p {
    color: #ffff!important;
    font-size: 22px;
    margin-top: 10px;
    font-weight: 200;
    font-family: 'alibaba-light';
    display: none;
}
.section8_img{
    width: 640px;
    padding-top: 2rem;
    margin: 0 auto;
}
.section8_img>img{
    display: block;
    width: 100%;
    height: 100%;
}

/* 第十五屏 */

.section15 {
    background: #fff!important;
}
.section15_txt{
    position: absolute;
    left:50%;
    margin-top: -24px ;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section15 h3 {
    color: black!important;
    font-size: 45px;
    font-weight:  500;
    font-family: 'alibaba-regular';
    display: none;
}

.section15 p {
    color: black!important;
    opacity: 0.9;
    margin-bottom: 30px;
    font-weight: 200;
    font-family: 'alibaba-light';
    font-size: 20px;
    display: none;
}

.section15_select {
    width: 7rem;
    border-bottom: black solid .02rem;
    position: relative;
    text-align: left!important;
}

.section15_select>span {
    color: black!important;
    font-size: .3rem;
}

.section15_select>img {
    display: block;
    width: .2rem;
    height: .2rem;
    position: absolute;
    top: .5rem;
    right: 0;
}

.section15_contain {
    width: 19rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 75PX auto 0;
}

.section15_contain_1 {
    
    margin: 0 1rem;
}

.section15_contain_1>img {
    width: 3rem;
}

.section15_select_img {
    padding:80px 20px 10px;
}

.section15_select_img>img {
    width: 350px;
}

/* .section15_contain_1:nth-child(1):hover .section15_select_img img {
    transform: scale(1.5, 1.5);
}

.section15_contain_1:nth-child(2):hover .section15_select_img img {
    transform: scale(1.5, 1.5);
}

.section15_contain_1:nth-child(3):hover .section15_select_img img {
    transform: scale(1.5, 1.5);
}

.section15_contain_1:nth-child(4):hover .section15_select_img img {
    transform: scale(1.5, 1.5);
} */


/* 第十六屏 */

.section16 {
    background: url(https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img16.jpg) no-repeat;
}

.section16 h3 {
    font-size: 58px;
    margin-top: -2rem;
    color: #fff;
    font-weight:  500;
    font-family: 'alibaba-regular';
    letter-spacing: -4px;
}

.section16 p {
    font-size: 28px;
    font-weight: 200;
    font-family: 'alibaba-light';
    letter-spacing:0px;
}

.section16_button {
    width: 242px;
    text-align: center;
    color: #ffff;
    background-color: #e2142b;
    font-size: 30px;
    border-radius: 100px;
    line-height: 64px;
    margin: 0 auto;
    margin-top: 54px;
    cursor: pointer;
}