.product-title {
    width: 70%;
    margin-left: 15%;
    font-weight: bold;
    font-size: .4rem;
    color: #000;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.productContaner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding-top: .8rem;
}

.nongye-drone {
    width: 70%;
    min-height: 6rem;
    margin-left: 15%;
    border-bottom: 1px solid #ddd;
    position: relative;
    margin-bottom: .5rem;
}

.nongye-drone>div {
    position: absolute;
    left: 0;
    top: 0;
    font-size: .25rem;
    display: flex;
    align-items: center;
}

.nongye-drone>div>span:nth-child(1) {
    width: .04rem;
    height: .3rem;
    background: #ddd;
    display: flex;
    margin-right: .2rem;
}

.nongye-drone>div>span:nth-child(1)>span {
    width: 100%;
    height: .15rem;
    background: crimson;
}

.nongye-drone>ul {
    width: 80%;
    height: auto;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    clear: both;
	font-size: .2rem;
}

.nongye-drone>ul>li {
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    clear: both;
    cursor: pointer;
}

.nongye-drone>ul>li>img {
    width: 80%;
}