.section-1 {
    width: 100%;
    height: 1000px;
    background: url('../images/rtk1Top.jpg') no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    text-align: center;
}

.section-1 h2 {
    color: #fff;
    font-size: 80px;
    padding-top: 70px;
    box-sizing: border-box;
}

.section-1 p {
    color: #fff;
    font-size: 50px;
    /* padding-top: 10px; */
    box-sizing: border-box;
}

.section-2 {
    /* width: 100%; */
    height: 800px;
    background: url(../images/RT1/images/rtk1_section_2.jpg)no-repeat;
    background-size: 100% 100%;
}

.section-2-main {
    width: 1200px;
    margin: 0 auto;
    padding-top: 230px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-2-main div {
    width: 152px;
    margin: 0 20px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-2-main div img {
    display: block;
    width: 50px;
    height: 50px;
}

.section-2-main div p {
    color: #fff;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.section-3 {
    height: 800px;
    background: url(../images/RT1/images/rtk1_section_3.jpg) no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.section-3 p {
    font-size: 66px;
    color: #fff;
    position: absolute;
    left: 28%;
    top: 46%;
}

.section-4 {
    background-color: #1e1e1e;
}

.section-4-main {
    width: 1200px;
    margin: 0 auto;
}

.section-4-txt {
    width: 800px;
}

.section-4-txt h2 {
    color: #fff;
    font-size: 46px;
    font-weight: 400;
    padding: 60px 0 20px;
    box-sizing: border-box;
}

.section-4-txt i {
    color: #fff;
    font-style: normal;
    font-size: 20px;
    opacity: 0.8;
}

.section-4-box {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin-top: 40px;
}

.section-4-box div {
    width: 400px;
    margin-bottom: 70px;
}

.section-4-box div:nth-child(0) {
    width: 400px;
    margin-bottom: 40px;
    text-align: right;
}

.section-4-box div p {
    color: #fff;
    font-size: 46px;
}

.section-4-box div p i {
    color: #fff;
    font-style: normal;
    opacity: 1;
    font-size: 24px;
    font-weight: 800;
}

.section-4-box div em {
    color: #fff;
    font-style: normal;
    font-size: 26px;
    opacity: 0.8;
}

.section-4-img {
    height: 600px;
    background: url(../images/RT1/images/rtk1_section_4.jpg) no-repeat;
}

.section-5 {
    background-color: #1e1e1e;
    padding-top: 110px;
}

.section-5-main {
    width: 1200px;
    margin: 0 auto;
}

.section-5-txt {
    width: 800px;
}

.section-5-txt h2 {
    color: #fff;
    font-size: 46px;
    font-weight: 400;
    padding: 60px 0 20px;
    box-sizing: border-box;
}

.section-5-txt i {
    color: #fff;
    font-style: normal;
    font-size: 20px;
    opacity: 0.8;
}

.section-5-box {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin-top: 40px;
}

.section-5-box div {
    width: 266px;
    margin-bottom: 70px;
}

.section-5-box div:nth-child(0) {
    width: 400px;
    margin-bottom: 40px;
    text-align: right;
}

.section-5-box div p {
    color: #fff;
    font-size: 46px;
}

.section-5-box div p i {
    color: #fff;
    font-style: normal;
    opacity: 1;
    font-size: 24px;
    font-weight: 800;
}

.section-5-box div em {
    color: #fff;
    font-style: normal;
    font-size: 26px;
    opacity: 0.8;
}

.section-5-img {
    height: 600px;
    background: url(../images/RT1/images/rtk1_section_5.jpg) no-repeat;
}

.section-6 {
    background-color: #1e1e1e;
}

.section-6-main {
    width: 1200px;
    margin: 0 auto;
    padding-top: 110px;
    padding-bottom: 110px;
    box-sizing: border-box;
}

.section-6 h2 {
    color: #fff;
    font-size: 46px;
    font-weight: 400;
}

.section-6 p {
    width: 700px;
    color: #fff;
    font-size: 24px;
    opacity: 0.8;
    margin-top: 40px;
}

.section-6-box {
    margin-top: 200px;
}

.section-6-box-button {
    width: 622px;
    display: flex;
    justify-content: space-between;
    margin: 110px auto 0;
    border-bottom: 1px solid #fff;
}

.section-6-box-button i {
    opacity: 1;
    color: #fff;
    line-height: 60px;
    font-size: 24px;
}

.section-6-box-button i:nth-child(2) {
    opacity: 0.8;
    color: #fff;
    line-height: 60px;
    font-size: 24px;
}

.rtk_Info {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: .8rem;
}

.section-7 {
    width: 100%;
    height: 8rem;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: url('../images/rtk-section-7.jpg') no-repeat;
    background-size: 100%;
}

.section-7>span {
    position: absolute;
    font-size: .7rem;
    color: #fff;
    font-weight: bold;
}

.section-8 {
    width: 100%;
    height: auto;
    background: #1E1E1E;
    position: relative;
}

.children_left {
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    box-sizing: border-box;
}

.children_left>div {
    width: 500px;
    height: 800px;
    margin-top: 200px;
}

.children_left>div:last-child {
    height: 300px;
}

.children_left>div>span {
    font-size: 50px;
    display: inline-block;
    margin-bottom: 30px;
}

.children_left>div>p {
    font-size: 20px;
}

.sticky {
    color: #FFFFFF;
}

.nowSticky {
    width: 11rem;
    height: 5rem;
    position: absolute;
    right: 100px;
    top: 0;
    background: url('../images/rtk-section-8-01.jpg') no-repeat;
    background-size: 100% 100%;
}

.section-9 {
    width: 100%;
    height: auto;
    background: #141414;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    box-sizing: border-box;
}

.section-9>span {
    color: #fff;
    font-size: .5rem;
    margin-top: 1.5rem;
}

.section-9>ul {
    width: 800px;
    height: 535px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: .5rem;
}

.section-9>ul li {
    width: 380px;
    height: 258px;
    background: #1E1E1E;
    margin-left: 10px;
    margin-top: 10px;
    color: #fff;
    font-size: .3rem;
    padding: 30px 0 0 30px;
    box-sizing: border-box;
}

.section-9>ul li:nth-child(1) {
    background: url('../images/rtk-section-9-01.jpg') no-repeat;
    background-size: contain;
}

.section-9>ul li:nth-child(2) {
    background: url('../images/rtk-section-9-02.jpg') no-repeat;
    background-size: contain;
}

.section-9>ul li:nth-child(3) {
    background: url('../images/rtk-section-9-03.jpg') no-repeat;
    background-size: contain;
}

.section-9>ul li:nth-child(4) {
    background: url('../images/rtk-section-9-04.jpg') no-repeat;
    background-size: contain;
}

.section-10 {
    background: #0D0D0D;
}

.section-10>ul {
    height: 300px;
}

.section-10>ul li {
    width: 250px;
    height: 250px;
    background: #1E1E1E;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;
    box-sizing: border-box;
}

.section-10>ul li>span:nth-child(1) {
    margin-bottom: 20px;
    font-weight: bold;
}

.section-10>ul li>span:nth-child(2) {
    font-size: .15rem;
}

.section-10>ul li:nth-child(1) {
    background: url('../images/rtk-section-10-01.jpg') no-repeat;
    background-size: contain;
}

.section-10>ul li:nth-child(2) {
    background: url('../images/rtk-section-10-02.jpg') no-repeat;
    background-size: contain;
}

.section-10>ul li:nth-child(3) {
    background: url('../images/rtk-section-10-03.jpg') no-repeat;
    background-size: contain;
}

.section-10>ul li:nth-child(4) {
    background: url('../images/rtk-section-10-04.jpg') no-repeat;
    background-size: contain;
}

.section-10>ul li:nth-child(5) {
    background: url('../images/rtk-section-10-05.jpg') no-repeat;
    background-size: contain;
}

.section-10>ul li:nth-child(6) {
    background: url('../images/rtk-section-10-06.jpg') no-repeat;
    background-size: contain;
}