.banner {
    height: 7rem;
    width: 100%;
    padding-top: 1rem;
    position: relative;
}

.banner img {
    display: block;
    width: 100%;
    height: 100%;
}

.input-p {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -7%;
    margin-left: -25%;
    text-align: center;
}

.input-p h1 {
    font-size: .8rem;
}

.inputt {
    border: solid .02rem #f0f0f2;
    width: 12rem;
    height: 1rem;
    margin-top: 1rem;
    border-radius: .08rem;
    padding-left: .5rem;
    position: relative;
    background-color: #f6f6f6;
}

#inputt_icon {
    position: absolute;
    right: .2rem;
    top: 2.3rem;
    width: .6rem;
    height: .6rem;
    z-index: 1;
}

.product_line {
    /* background-color: red; */
    z-index: 1;
    padding: 0 2rem;
}

.form {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 4rem;
    z-index: 2;
    /* background-color: blue; */
    border-bottom: #f0f0f2 solid .08rem;
}

.fotm-li {
    width: 4rem;
    height: 4rem;
    text-align: center;
    /* border-bottom: thistle solid .1rem; */
    font-size: .2rem;
}

.back_red {
    border-bottom: thistle solid .05rem;
}

.fotm-li img {
    width: 4rem;
    height: 3rem;
}

.file {
    text-align: center;
    padding: 0 2rem;
}

.file h1 {
    font-size: .5rem;
    margin: 1rem 0;
}

.file_word {
    border-top: .05rem solid red;
    border-bottom: .05rem solid red;
}


/* .form-li-filel{
    display: none!important;
} */