<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/public.css" />
    <link rel="stylesheet" href="../css/aboutUs.css">
    <link rel="stylesheet" href="/css/vivify.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script type="text/javascript" src="/js/public.js"></script>
    <title>关于我们</title>
</head>

<body>
    <section class="header"></section>
    <section class="contain">
        <section class="banner">
            <img src="../img/banner_aboutus.jpg" alt="">
            <h2>行业指导</h2>
            <p>1对1服务</p>
            <section id="borderW"></section>
            <section id="borderH"></section>
        </section>
        <sectio class="profile">
            <section class="profile_img">
                <img src="../img/eft暂时.jpg" alt="">
            </section>
            <section class="profile_text">
                <h3>专业介绍</h3>
                <h4>Company&nbsp;profile</h4>
                <p>专业的无人机系统方案供应商</p>
                <span>
                    华启天成（深圳）智能科技有限公司，主要从事行业级无人机和无人机相关产品的研发和制造，公司产品覆盖各行业各领域，是一家专业的无人机解决方案提供商，公司致力于在5G大数据时代，结合AR大数据等技术，针对不同行业的痛点，提供智能专业的无人机产品。
                </span>
            </section>
            
        </sectio>
        <sectio class="contact">
            <section class="contact_text">
                <h3>联系我们</h3>
                <h4>Contact&nbsp;US</h4>
                <h5>深圳华启天成智能科技有限公司</h5>
                <p>地址：</p>
                <span>
                    广东省深圳市南山区大冲商务中心D栋1605
                </span>
                <p>电话:</p>
                <span>
                    400-000-8558
                </span>
                <p>邮箱：</p>
                <span>5445@163.com</span>
                <p>网址:</p>
                <span>www.hqtc.cn</span>
            </section>
            <section class="contact_img">
                <section id="container">

                </section>
            </section>
        </sectio>

        <!-- <section class="core">
            <span>华启核心价值观</span>
            <section class="wrap-contain">
                <section class="wrap">
                    <img src="../img/sense-worth-img2.png" alt="">
                    <section class="wrap-p">
                        <h1>用户至上</h1>
                        <p>极⻜的用户，不仅是农业生产者，还有亿万消费者，它包括我们自己和我们居住的星球。用户至上，就是要将极⻜人的使命和愿景持之以恒地转化为极致的产品与服务，不仅让客户感受到我们的诚意，还要让地球上世世代代的人们，都能享受到科学技术带来的美好改变。
                        </p>
                    </section>
                    <section class="wrap-ppp">
                        <h1>用户至上</h1>
                    </section>

                </section>
                <section class="wrap">
                    <img src="../img/sense-worth-img2.png" alt="">
                    <section class="wrap-pp">
                        <h1>心怀天下</h1>
                        <p>极⻜正在从一家科技公司成⻓为智慧农业生态系统。生态系统和公司最大的差别，不是规模，而是责任。我们在追求自己梦想的同时，必须心怀天下，有家国情怀和世界担当。或许几十年后，你早已不再从事现在的工作，而仍有很多人的生活或生命体验会因你曾经的工作成果而发生改变，你会从心里感到幸福。
                        </p>
                    </section>
                    <section class="wrap-ppp">
                        <h1>心怀天下</h1>
                    </section>

                </section>
                <section class="wrap">
                    <img src="../img/sense-worth-img2.png" alt="">
                    <section class="wrap-p">
                        <h1>用户至上</h1>
                        <p>极⻜的用户，不仅是农业生产者，还有亿万消费者，它包括我们自己和我们居住的星球。用户至上，就是要将极⻜人的使命和愿景持之以恒地转化为极致的产品与服务，不仅让客户感受到我们的诚意，还要让地球上世世代代的人们，都能享受到科学技术带来的美好改变。
                        </p>
                    </section>
                    <section class="wrap-ppp">
                        <h1>用户至上</h1>
                    </section>

                </section>
                <section class="wrap">
                    <img src="../img/sense-worth-img2.png" alt="">
                    <section class="wrap-pp">
                        <h1>心怀天下</h1>
                        <p>极⻜正在从一家科技公司成⻓为智慧农业生态系统。生态系统和公司最大的差别，不是规模，而是责任。我们在追求自己梦想的同时，必须心怀天下，有家国情怀和世界担当。或许几十年后，你早已不再从事现在的工作，而仍有很多人的生活或生命体验会因你曾经的工作成果而发生改变，你会从心里感到幸福。
                        </p>

                    </section>
                    <section class="wrap-ppp">
                        <h1>心怀天下</h1>
                    </section>
                </section>
            </section>
        </section> -->
    </section>
    <section class="footer"></section>
</body>
<script type="text/javascript" src="https://vncdn.mobi88.cn/public/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="../js/md5.js"></script>
<script type="text/javascript" src="../js/LanguagePublic.js"></script>
<!-- </script> -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script type="text/javascript"
    src="http://api.map.baidu.com/api?v=1.0&type=webgl&ak=rLd2nXM8f4xsTfPz1zAEyQlsvpN1UfGz"></script>
</script>
<script type="text/javascript">
    $(function () {
        $(".header").load("../common/header.html");
        $(".footer").load("../common/fooder.html");
    });
    // 百度地图
    var map = new BMapGL.Map("container");          // 创建地图实例 
    var point = new BMapGL.Point(113.96016, 22.546828);  // 创建点坐标 
    map.centerAndZoom(point, 15);
    map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放  
    var marker = new BMapGL.Marker(point);        // 创建标注   
    map.addOverlay(marker);


    //  轮播图
    var mySwiper = new Swiper('.swiper-container', {
        direction: 'horizontal', // 垂直切换选项
        loop: true, // 循环模式选项
        autoplay: true,
        // 如果需要分页器
        // pagination: {
        //   el: '.swiper-pagination',
        // },

        // 如果需要前进后退按钮
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // 如果需要滚动条
        scrollbar: {
            el: '.swiper-scrollbar',
        },
    })
</script>

</html>