<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/public.css" />
    <link rel="stylesheet" href="../css/aboutUs.css">
    <link rel="stylesheet" href="/css/vivify.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"> 
    <script type="text/javascript" src="/js/public.js"></script>
    <script type="text/javascript" src="/js/navBarMover.js"></script>
    <title>关于我们</title>
</head>

<body>
    <section class="header"></section>
    <section class="contain">
        <section class="banner">
            <img src="../img/about-index-pc.png" alt="">
            <h2>品质</h2>
            <p>真诚</p>
            <section id="borderW"></section>
            <section id="borderH"></section>
        </section>
        <section class="p-text">
            <p>深圳华启天成智能科技有限公司将无人机、机器人、自动驾驶、人工智能、物联网等技术带进农业生产，</p>
            <p>通过构建无人化智慧农业生态，让农业进入自动化、精准高效的 4.0 时代。</p>
        </section>
        <section class="banner-t">
            <img src="../img/mission-new-bg.png" alt="">
        </section>
        <section class="core">
            <span>华启核心价值观</span>
            <section class="wrap-contain">
                <section class="wrap">
                    <img src="../img/sense-worth-img1.png" alt="">
                    <section class="wrap-p">
                        <h1>用户至上</h1>
                        <p>极⻜的用户，不仅是农业生产者，还有亿万消费者，它包括我们自己和我们居住的星球。用户至上，就是要将极⻜人的使命和愿景持之以恒地转化为极致的产品与服务，不仅让客户感受到我们的诚意，还要让地球上世世代代的人们，都能享受到科学技术带来的美好改变。
                        </p>
                    </section>
                    <section class="wrap-ppp">
                        <h1>用户至上</h1>
                    </section>

                </section>
                <section class="wrap">
                    <img src="../img/sense-worth-img4.png" alt="">
                    <section class="wrap-pp">
                        <h1>心怀天下</h1>
                        <p>极⻜正在从一家科技公司成⻓为智慧农业生态系统。生态系统和公司最大的差别，不是规模，而是责任。我们在追求自己梦想的同时，必须心怀天下，有家国情怀和世界担当。或许几十年后，你早已不再从事现在的工作，而仍有很多人的生活或生命体验会因你曾经的工作成果而发生改变，你会从心里感到幸福。
                        </p>
                    </section>
                    <section class="wrap-ppp">
                        <h1>心怀天下</h1>
                    </section>

                </section>
                <section class="wrap">
                    <img src="../img/sense-worth-img1.png" alt="">
                    <section class="wrap-p">
                        <h1>用户至上</h1>
                        <p>极⻜的用户，不仅是农业生产者，还有亿万消费者，它包括我们自己和我们居住的星球。用户至上，就是要将极⻜人的使命和愿景持之以恒地转化为极致的产品与服务，不仅让客户感受到我们的诚意，还要让地球上世世代代的人们，都能享受到科学技术带来的美好改变。
                        </p>
                    </section>
                    <section class="wrap-ppp">
                        <h1>用户至上</h1>
                    </section>

                </section>
                <section class="wrap">
                    <img src="../img/sense-worth-img4.png" alt="">
                    <section class="wrap-pp">
                        <h1>心怀天下</h1>
                        <p>极⻜正在从一家科技公司成⻓为智慧农业生态系统。生态系统和公司最大的差别，不是规模，而是责任。我们在追求自己梦想的同时，必须心怀天下，有家国情怀和世界担当。或许几十年后，你早已不再从事现在的工作，而仍有很多人的生活或生命体验会因你曾经的工作成果而发生改变，你会从心里感到幸福。
                        </p>

                    </section>
                    <section class="wrap-ppp">
                        <h1>心怀天下</h1>
                    </section>
                </section>
            </section>

        </section>
        <section class="textp">
            <h1>联合全球合作伙伴，共建可持续发展未来</h1>
            <p>极飞科技通过对科研、开发、制造和传播渠道的整合，不断推动机器人、人工智能和新能源技术</p>
            <p>在全球农业领域的应用和普及。如今，极飞已经在 20 多个国家设立了试验基地，与中国农大、荷兰瓦赫宁根</p>
            <p>大学、英国哈伯亚当斯大学、悉尼大学等知名研究院校建立长期合作，通过科研探索、人才培养和公益合作</p>
            <p>践行农业可持续发展理念。2021 年 3 月 17 日，极飞科技完成 C 轮 15 亿元人民币融资，由高瓴资本</p>
            <p>百度资本和软银愿景基金领投，成为资本、创新工场、越秀产业基金和广州新兴基金跟投</p>
            <p>百度资本和软银愿景基金领投，成为资本、创新工场、越秀产业基金和广州新兴基金跟投</p>
        </section>
        <section class="cooperation">
            <h1>合作企业</h1>
            <img src="../img/about-index-partner1.jpg" alt="">
        </section>
    </section>
    <section class="footer"></section>
</body>
<script type="text/javascript" src="https://vncdn.mobi88.cn/public/jquery-2.1.3.min.js">
</script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"> </script>

</script>
<script type="text/javascript">
    $(function () {
        $(".header").load("../common/header.html");
        $(".footer").load("../common/fooder.html");
    });

</script>

</html>