<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/after_Sale_Service.css">
    <link rel="stylesheet" href="../css/public.css" />
    <link rel="stylesheet" href="/css/vivify.min.css" />
    <script type="text/javascript" src="/js/public.js"></script>
    <title>售后服务</title>
</head>

<body>
    <section class="header"></section>
    <section class="banner">
        <h1>华启天成科技售后服务政策</h1>
    </section>
    <section class="main">
        <section class="nav">
            <a href="#navList_1">
                <p class="nav_list" >
                    服务对象
                </p>
            </a>
            <a href="#navList_2">
                <p class="nav_list" >
                    退货服务
                </p>
            </a>

            <a href="#navList_3">
                <p class="nav_list">
                    换货服务
                </p>
            </a>
            <a href="#navList_4">
                <p class="nav_list">
                    保修服务
                </p>
            </a>
            <a href="#navList_5">
                <p class="nav_list">
                    售后须知
                </p>
            </a>
            <a href="#navList_6">
                <p class="nav_list">
                    声明
                </p>
            </a>
        </section>
        <section class="contain">
            <section class="text-a" id="navList_1">
                <h1>服务对象</h1>
                <p>通过华启科技或华启科技授权的经销商/合作方等正规渠道购买的, 用户购买于自用而非转售、且符合本售后服务条款规定的终端产品，由华启科技提供售后服务，包括退货、换货、保修服务。</p>
                <p>终端产品系指包括产品的整机、系统、模块、零部件等。</p>
            </section>
            <section class="text-a" id="navList_2">
                <h1>退货服务</h1>
                <p>通过华启科技或华启科技授权的经销商/合作方等正规渠道购买的, 用户购买于自用而非转售、且符合本售后服务条款规定的终端产品，由华启科技提供售后服务，包括退货、换货、保修服务。</p>
                <p>终端产品系指包括产品的整机、系统、模块、零部件等。</p>
            </section>
            <section class="text-a" id="navList_3">
                <h1>换货服务</h1>
                <p>通过华启科技或华启科技授权的经销商/合作方等正规渠道购买的, 用户购买于自用而非转售、且符合本售后服务条款规定的终端产品，由华启科技提供售后服务，包括退货、换货、保修服务。</p>
                <p>终端产品系指包括产品的整机、系统、模块、零部件等。</p>
            </section>
            <section class="text-a" id="navList_4">
                <h1>保修服务</h1>
                <p>通过华启科技或华启科技授权的经销商/合作方等正规渠道购买的, 用户购买于自用而非转售、且符合本售后服务条款规定的终端产品，由华启科技提供售后服务，包括退货、换货、保修服务。</p>
                <p>终端产品系指包括产品的整机、系统、模块、零部件等。</p>
            </section>
            <section class="text-a" id="navList_5">
                <h1>售后须知</h1>
                <p>整机保修期限的起始时间以产品发货的日期开始计算。</p>
                <p>除整机购买时配套周边和易损件保修期限的起始时间与整机相同之外，其他单独购买的周边设备、易损耗件的保修期限的起始时间以产品出厂时间之日起满7日的次日开始计算。</p>
                <p>产品保修期内华启科技负责单程邮寄费用，寄出时由用户承担。超过保修期的产品因无配件时,华启科技将提前与用户沟通，并有权选择将上述产品寄回并由用户承担邮寄费用。</p>
                <p>售后维修由华启科技售后保障中心或各区域授权维修网点负责，将对产品进行故障检测以确定问题和责任归属，属于产品本身质量缺陷问题的由华启科技负责维修或更换。若产品的问题不属于保修范围的，华启科技会根据华启科技相应的收费标准收取相应的检测费、零件费、人工费及运费。
                </p>
                <p>产品只能在华启科技指定的维修中心或区域授权维修网点进行维修，如用户未将产品提交至上述指定维修网点，由此产生的损失由用户自行承担。用户如需华启科技提供上门维修服务，华启科技有权根据用户的实际需求收取一定的交通、人工等费用。
                </p>
                <p>华启科技为用户提供的保修服务，针对更换的产品可能不是全新的，但更换的产品可正常使用，且性能与被更换的旧件等同。</p>
                <p>产品更换件为非全新件的情形，则更换后的部件在原产品部件剩余的保修期限内继续享受保修服务。</p>
                <p>返厂维修之前，请用户自行备份产品中所包含的所有数据。华启科技不对由此产生的一切信息、数据的遗失或任何损失承担责任。</p>
                <p>在必要的情况下，用户应当向华启科技提供产品的系统密码，产品若非用户所有，请从产品的实际所有人那里获得许可，保证华启科技能够充分、自由和安全的接入用户的产品来提供售后服务。</p>
            </section>
            <section class="text-a" id="navList_6">
                <h1>声明</h1>
                <p>华启科技所有产品的售后服务政策均以华启科技官方网站、华启科技公众号、华启官方APP或其他华启科技认可的官方渠道发布的内容为准，用户通过任何其他非华启科技认可的渠道获取的售后服务政策或信息，华启科技均不予认可也不承担任何责任。
                </p>
                <p>售后服务政策仅适用于中国大陆地区（港澳台除外），其他地区以当地售后服务条款或法律法规为准。</p>
                <p>广州华启科技股份有限公司有权根据产品的升级、调整等情形不定时的更新《广州华启科技股份有限公司售后服务政策》，用户可在华启官网或华启科技公众号、华启官方APP等途径获取。</p>
                <p>在法律允许范围内，广州华启科技股份有限公司对《广州华启科技股份有限公司售后服务政策》具有最终的修订和解释权。</p>
            </section>

        </section>
    </section>
    <section class="footer"></section>
</body>
<script type="text/javascript" src="https://vncdn.mobi88.cn/public/jquery-2.1.3.min.js">
</script>
<script type="text/javascript">
    $(function () {
        $(".header").load("../common/header.html");
        $(".footer").load("../common/fooder.html");
    });
     let navList = $('.nav').children().children();
     $(navList).each(function(){
        //  $(this).css('border-left','gold solid .02rem')
       $(this).mouseover(function(){
        //    console.log($(this));
        $(this).css('border-left','gold solid .02rem')
       })
       $(this).mouseleave(function(){
        //    console.log($(this));
        $(this).css('border-left','none')
       })
     })
</script>

</html>