<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/after_Sale_Service.css">
    <link rel="stylesheet" href="../css/public.css" />
    <link rel="stylesheet" href="/css/vivify.min.css" />
    <script type="text/javascript" src="/js/public.js"></script>
    <title>售后服务</title>
</head>
<body>
    <section class="header"></section>
    <section class="banner">
        <h1>华启天成科技售后服务政策</h1>
    </section>
    <section class="main">
        <section class="nav">
            <section class="nav_list">
                
            </section>
        </section>
    </section>
    <section class="footer"></section>
</body>
<script type="text/javascript" src="https://vncdn.mobi88.cn/public/jquery-2.1.3.min.js">
</script>
<script type="text/javascript">
    $(function() {
        $(".header").load("../common/header.html");
        $(".footer").load("../common/fooder.html");
    });
</script>
</html>