<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="无人机,植保,植保无人机,农业,农业无人机,消防,消防无人机,华启,华启天成,天成,华启无人机,华启消防无人机,华启植保无人机" />
    <meta name="description" content="华启天成（深圳）智能科技有限公司，主要从事行业级无人机和无人机相关产品的研发和制造，公司产品覆盖各行业各领域，是一家专业的无人机解决方案提供商，公司致力于在5G大数据时代，结合AR大数据等技术，针对不同行业的痛点，提供智能专业的无人机产品。" />
    <meta name="author" content="华启天成(深圳)智能科技有限公司 www.hqtcsz.cn" />
    <link rel="shortcut icon" href="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/logo2.png">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/after_Sale_Service.css">
    <link rel="stylesheet" href="../css/public.css" />
    <link rel="stylesheet" href="../css/vivify.min.css" />
    <script type="text/javascript" src="../js/public.js"></script>
    <title i18n="i18n.Sale_Service61">售后服务</title>
</head>

<body>
    <section class="header"></section>
    <section class="banner">
        <h1 i18n="i18n.shouhou">华启天成科技售后服务政策</h1>
    </section>
    <section class="main">
        <section class="nav">
            <a href="#navList_1">
                <p class="nav_list" i18n="i18n.zhuyishixiangyi">
                    一、注意事项
                </p>
            </a>
            <a href="#navList_2">
                <p class="nav_list" i18n="i18n.anquangaiyao">
                    二、安全概要
                </p>
            </a>

            <a href="#navList_3">
                <p class="nav_list" i18n="i18n.mianzeshenmin">
                    三、免责声明
                </p>
            </a>
        </section>
        <section class="contain">
            <section class="text-a" id="navList_1">
                <h1 i18n="i18n.zhuyishixiangyi">一、注意事项</h1>
                <p i18n="i18n.Sale_Service1">1.操作本公司产品时请确认操作者已经年满18周岁；</p>
                <p i18n="i18n.Sale_Service2">2.使用本公司产品时请务必严格遵照我司指导流程使用；</p>
                <p i18n="i18n.Sale_Service3">3.操作本公司无人机产品起飞或作业时所有人员必须时刻与飞行器保持 15米以上的安全距离；</p>
                <p i18n="i18n.Sale_Service4">4.请勿在酒后或服用对飞行操作有影响的药物及违禁品后作业；</p>
                <p i18n="i18n.Sale_Service5">5.飞机在起飞前必须确认GPS信号良好，卫星接收数量大≥6颗，上空无遮挡物；
                    <p i18n="i18n.Sale_Service6">6.请勿在恶劣天气下作业，包括但不限于打雷、雨雪天、大风、能见度低于600米的情况；</p>
                    <p i18n="i18n.Sale_Service7">7.未经专业培训人员，请勿操作本产品进行飞行作业；</p>
                    <p i18n="i18n.Sale_Service8">8.请勿对我公司产品进行改装；</p>
                    <p i18n="i18n.Sale_Service9">9.请在目视距离半径500米、相对高度25米的范围内飞行，飞行速度不应超过10米/秒，起降或操作时飞行器与操作者之间不能有遮挡物；</p>
                    <p i18n="i18n.Sale_Service10">10.请勿在人口稠密区域（即人多的地方）使用本公司产品，例如：学校、集市、广场等场景；</p>
                    <p i18n="i18n.Sale_Service11">11.请远离高层建筑、高压线、信号塔、密集的电磁波环境；</p>
                    <p i18n="i18n.Sale_Service12">12.如有旁观人员观看其操作时应让其站在操作者身后参观，且必须符合第 3、9点；</p>
                    <p i18n="i18n.Sale_Service13">13.请勿在飞行器起降航线区域作业，至少离机场的距离应保持直线距离15公里以上；</p>
                    <p i18n="i18n.Sale_Service14">14.飞行前请务必检查各零部件是否完好，如有部件老化或损坏，请不要飞行；</p>
                    <p i18n="i18n.Sale_Service15">15.每次飞行前，都应检查确保各插头连接器是否紧固可靠；</p>
                    <p i18n="i18n.Sale_Service16">16.请勿使用未经检测认证的锂电池组，以及将新旧电池组混用；</p>
                    <p i18n="i18n.Sale_Service17">17.起飞前务必先检查飞行器运行是否正常，以避免危险和损失；</p>
                    <p i18n="i18n.Sale_Service18">18.切勿贴近或接触旋转中的电机或螺旋桨，避免被旋转中的螺旋桨割伤；</p>
                    <p i18n="i18n.Sale_Service19">19.非工作状态或运输时，建议移除电池，避免不必要的损失；</p>
                    <p i18n="i18n.Sale_Service20">20.请不要轻易拧下已安装的螺栓，避免造成损坏；</p>
                    <p i18n="i18n.Sale_Service21">21.安装螺栓时，拧紧力度要适量，过大会导致损坏，过小则可能会导致松动；</p>
                    <p i18n="i18n.Sale_Service22">22.防止液体、尘土、金属碎屑等异物进入各电子设备，这些异物会对飞行器造成重大伤害，甚至酿成事故！</p>
            </section>
            <section class="text-a" id="navList_2">
                <h1 i18n="i18n.anquangaiyao">二、安全概要</h1>
                <p i18n="i18n.Sale_Service23">1、环 境</p>
                <p i18n="i18n.Sale_Service24">• 在远离人群的开阔场地飞行；</p>
                <p i18n="i18n.Sale_Service25">• 在海拔 2000 米以下地区飞行；</p>
                <p i18n="i18n.Sale_Service26">• 在 0℃至 40℃、天气良好（非大雨、刮风、或极端天气）的环境中飞行；</p>
                <p i18n="i18n.Sale_Service27">• 请遵守当地法律法规，在合法区域飞行；</p>
                <p i18n="i18n.Sale_Service28">• 请勿在室内飞行。</p>
                <p i18n="i18n.Sale_Service29">2、检 查</p>
                <p i18n="i18n.Sale_Service30">• 确保各设备的电量充足；</p>
                <p i18n="i18n.Sale_Service31">• 确保各零部件完好。如有部件老化或损坏，请更换后再飞行；</p>
                <p i18n="i18n.Sale_Service32">• 确保起落架和作业箱安装紧固，所有螺丝已锁紧；</p>
                <p i18n="i18n.Sale_Service33">• 确保螺旋桨无破损并且安装牢固，桨叶和机臂完全展开，折叠件已使用安全螺丝紧固；</p>
                <p i18n="i18n.Sale_Service34">• 确保飞行器电机清洁无损；</p>
                <p i18n="i18n.Sale_Service35">• 确保喷洒系统无堵塞并且能够正常工作。</p>
                <p i18n="i18n.Sale_Service36">3、操 作</p>
                <p i18n="i18n.Sale_Service37">• 切勿靠近工作转动中的螺旋桨和电机。</p>
                <p i18n="i18n.Sale_Service38">• 务必在 37.5kg（海平面附近飞行时）以下的起飞重量下飞行，以免发生危险。</p>
                <p i18n="i18n.Sale_Service39">• 在视距范围内飞行。</p>
                <p i18n="i18n.Sale_Service40">• 飞行时执行上锁动作或以其他方式停止电机将导致飞行器坠落。请仅在紧急情况下使用该功能。</p>
                <p i18n="i18n.Sale_Service41">• 飞行过程中请勿接打电话，切勿在神志受到酒精或药物的影响下操作飞行器。</p>
                <p i18n="i18n.Sale_Service42">• 低电量警示时请尽快返航。</p>
                <p i18n="i18n.Sale_Service43">• 飞行器自动返航时不会自行规避障碍物，如果遥控信号正常，可通过遥控器控制飞行航向。</p>
                <p i18n="i18n.Sale_Service44">• 降落后先关闭飞行器再关闭遥控器，以免造成遥控器信号丢失，启动返航模式。</p>
                <p i18n="i18n.Sale_Service45">• 请全程保持对飞行器的控制，切勿依赖手机地面站提供的信息。请依靠肉眼观察，合理判断飞行状况，及时躲避障碍物，并根据飞行环境设置相应飞行及返航高度。</p>
                <p i18n="i18n.Sale_Service46"> • 控制飞行高度在 25 米以下，飞行时需严格遵守当地法律法规。</p>
                <p i18n="i18n.Sale_Service47">4、保 养</p>
                <p i18n="i18n.Sale_Service48">• 请在每一次飞行前检查并及时更换变形或破损的螺旋桨。</p>
                <p i18n="i18n.Sale_Service49">• 非工作状态或运输时，务必移除或清空作业箱，避免过重损坏起落架。</p>
                <p i18n="i18n.Sale_Service50">• 飞行器适合存放于 -20℃至 40℃的环境中。</p>
                <p i18n="i18n.Sale_Service51">• 作业后及时清洁飞行器，定期保养飞行器。</p>
            </section>
            <section class="text-a" id="navList_3">
                <h1 i18n="i18n.mianzeshenmin">三、免责声明</h1>
                <p i18n="i18n.Sale_Service52">感谢您购买使用本产品。任何用户在使用本产品之前，请仔细阅读本手册，一旦使用，即被视为对本声明全部内容的认可和接受。</p>
                <p i18n="i18n.Sale_Service53">请严格遵守本手册安装和使用该产品，鉴于我司无法控制用户的具体使用情况，我司不承担因任何操作、安装和使用控制上所导致的任何性能、安全与法律等相关责任。</p>
                <p i18n="i18n.Sale_Service54">在使用本产品的过程中，请您务必严格遵守并执行包括但不限于说明书和安全须知里的要求。对于违反安全须知所提示的使用行为或不可抗因素导致的一切人身伤害、事故、财产损失、法律纠纷，及其他一切造成利益冲突的不利事件，均由用户自己承担相关责任和损失，我司将不承担任何责任。</p>
                <p i18n="i18n.Sale_Service55">请在专业人员指导下操作本产品，我司不承担因用户安装、配置、操作等导致的任何事故负责。</p>
                <p i18n="i18n.Sale_Service56">请在法律允许的范围内使用本产品，我司不承担因任何非法使用而导致的法律责任。</p>
                <p i18n="i18n.Sale_Service57">本产品是为长航时用途开发的一款专业行业应用无人机，本机器仅用于出厂前设定行业和类似用途的作业，用于其他场景的应用均与机器的预期用途相违背。</p>
                <p i18n="i18n.Sale_Service58">请严格遵守制造厂家规定的使用、保养和维修等条件，以及预期用途的基本要求。</p>
                <p i18n="i18n.Sale_Service59">本机器只能由专业的操作人员并具有相关安全操作知识的人员操作、保养和维修。</p>
            </section>
        </section>
    </section>
    <section class="footer"></section>
</body>
<script type="text/javascript" src="https://vncdn.mobi88.cn/public/jquery-2.1.3.min.js"></script>
</script>
<script type="text/javascript">
    $(function() {
        $(".header").load("../common/header.html");
        $(".footer").load("../common/fooder.html");
    });
    let navList = $('.nav').children().children();
    $(navList).each(function() {
        $(this).mouseover(function() {
            $(this).css('border-left', 'gold solid .02rem')
        })
        $(this).mouseleave(function() {
            $(this).css('border-left', 'none')
        })
    })
</script>

</html>