<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/logo2.png">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/public.css" />
    <link rel="stylesheet" href="../css/distributor.css">
    <link rel="stylesheet" href="../css/vivify.min.css" />
    <script type="text/javascript" src="../js/public.js"></script>
    <title i18n="i18n.distributor">经销商</title>
</head>

<body>
    <section class="header"></section>
    <section class="banner">
        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/become-dealar-pc.png" alt="">
        <section class="banner-text">
            <h1 i18n="i18n.distributor1">成为经销商合作伙伴</h1>
            <p i18n="i18n.distributor2">在公司现有产品的基础上，我们支持各类定制化客制化需求，在公司强大的研发实力加持下，我们能够提供极其专业的方案定制。</p>
        </section>
    </section>
    <section class="contain">
        <section class="contain-form">
            <form method="post" target="targetIfr">
                <section class="clas">
                    <p i18n="i18n.distributor3">申请合作类型</p>
                    <div class="oneSelectBox selected" onclick="oneSelectFnc()">
                        <span class="oneSelectText" i18n="i18n.distributor4">选择合作类型</span>
                        <ul class="selectBox" id="selectBox_one">
                            <li i18n="i18n.distributor5" data-title="项目合作">项目合作</li>
                            <li i18n="i18n.distributor6" data-title="经销合作">经销合作</li>
                        </ul>
                    </div>
                </section>
                <section class="clas">
                    <p i18n="i18n.distributor7">申请合作产品类型</p>
                    <div class="twoSelectBox selected" onclick="twoSelectFnc()">
                        <!-- 选择合作产品类型 -->
                        <span class="twoSelectText" i18n="i18n.distributor4"></span>
                        <ul class="selectBox" id="selectBox_two">
                            <li i18n="i18n.firefightingdrone" data-title="消防无人机">消防无人机</li>
                            <li i18n="i18n.plantProtectionUAV" data-title="植保无人机">植保无人机</li>
                            <li i18n="i18n.distributor8" data-title="行业定制无人机">行业定制无人机</li>
                        </ul>
                    </div>
                    <section class="input-confirm">
                        <p i18n="i18n.distributor9">申请人信息</p>
                        <input class="input_style" type="text" id="username" name="username" i18n="i18n.distributor11" placeholder="*姓名">
                        <input class="input_style" type="text" id="mobile" name="mobile" i18n="i18n.distributor12" placeholder="*手机号">
                        <input class="input_style" type="text" id="email" name="email" i18n="i18n.distributor13" placeholder="*邮箱">
                    </section>
                </section>
            </form>
            <section class="input-s">
                <input type="button" onclick="autoSubmit()" class="submit" i18n="i18n.distributor14" value="提交">
            </section>

        </section>
        <section class="tips">
            <section class="tip-l">
                <h1>400-200-3030</h1>
                <p i18n="i18n.zhouyizhizhouri">周一至周五</p>
                <p>9:00-12:00&nbsp;&nbsp;14:00-18:00</p>
            </section>
            <section class="tip-r">
                <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/bdsq-contact-icon-pc.png" alt="">
            </section>
        </section>
    </section>
    </section>
    <section class="footer"></section>
</body>
<script type="text/javascript" src="https://vncdn.mobi88.cn/public/jquery-2.1.3.min.js"></script>
<script src="../js/utils.js"></script>
<script type="text/javascript">
    var nvc_cooperation_type = '';
    var nvc_cooperative_products = '消防无人机';
    var nowSelectText = '';
    $('.twoSelectText')[0].innerText = nvc_cooperative_products
    $(function() {
        $(".header").load("../common/header.html");
        $(".footer").load("../common/fooder.html");
    });

    /**
     * @description: 选择合作类型事件
     * @param {*}
     * @return {*}
     */
    function oneSelectFnc() {
        $('#selectBox_one').slideToggle()
    }

    /**
     * @description: 选择合作产品类型事件
     * @param {*}
     * @return {*}
     */
    function twoSelectFnc() {
        $('#selectBox_two').slideToggle()
    }

    /**
     * @description: 选择合作类型子下拉列表点击事件
     * @param {*}
     * @return {*}
     */
    $('#selectBox_one li').on('click', function() {
        console.log($(this)[0].dataset.title)
        nvc_cooperation_type = $(this)[0].dataset.title;
        $('.oneSelectText')[0].innerText = $(this)[0].innerText;
    })

    /**
     * @description: 选择合作产品类型子下拉列表点击事件
     * @param {*}
     * @return {*}
     */
    $('#selectBox_two li').on('click', function() {
        if (nvc_cooperative_products.indexOf($(this)[0].dataset.title) == -1) {
            if(nvc_cooperative_products.search("|") != -1 ){//true
				nvc_cooperative_products += '|' + $(this)[0].dataset.title;
				$('.twoSelectText')[0].innerText +=  '|' +$(this)[0].innerText;
			}else{
				nvc_cooperative_products += $(this)[0].dataset.title + '|';
				$('.twoSelectText')[0].innerText += $(this)[0].innerText + '|';
			}
        } else {
            var newStr = nvc_cooperative_products.replace($(this)[0].dataset.title + '|', '')
            console.log(nvc_cooperative_products)
            $('.twoSelectText')[0].innerText = newStr;
            nvc_cooperative_products = newStr
            console.log(newStr)
        }
    })

    $(".tip-r").click(function() {
        if ($(".tip-l").css("display") == "none") {
            $(".tip-l").show();
        } else {
            $(".tip-l").hide();
        }
    });

    function isPoneAvailable(telephone) {
        var myreg = /^[1][3,4,5,7,8][0-9]{9}$/;
        if (!myreg.test(telephone)) {
            console.log(telephone)
            return false;
        } else {
            return true;
        }
    };

    function isEMail(v) {
        var reg = /^\w+((.\w+)|(-\w+))@[A-Za-z0-9]+((.|-)[A-Za-z0-9]+).[A-Za-z0-9]+$/; //正则表达式
        if (!reg.test(v)) { //正则验证不通过，格式不对
            return false;
        } else {
            return true;
        }
    }

    function autoSubmit() {

        var nvc_user_name = document.getElementById(`username`).value;
        var nvc_mobile = document.getElementById(`mobile`).value;
        var nvc_email = document.getElementById(`email`).value;
        var newProductsType = nvc_cooperative_products.substring(0, nvc_cooperative_products.lastIndexOf(','))
        if (nvc_user_name == '' || !nvc_user_name) {
            alert('请输入姓名')
            return false;
        }
        if (!isPoneAvailable(nvc_mobile)) {
            alert('请输入正确的手机号')
            return false;
        }
        if (!isEMail(nvc_email)) {
            alert('请输入正确的邮箱号')
            return false;
        }
        // http://localhost:1337/api/user/addUser
        $.post(`http://39.103.133.174:1337/api/user/addUser`, {
            username: nvc_user_name,
            mobile: nvc_mobile,
            email: nvc_email,
            cooperation_type: nvc_cooperation_type,
            cooperative_products: newProductsType,
            type: 1, // 1线上---0线下
            get_time: parseTime(new Date()), //当前时间
        }, function(data) {
            if (data.code == 200) {
                alert('提交成功,我们会尽快联系您')
                    // window.location.href = '../index.html'
            }
        });
    }
</script>

</html>