<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="无人机,植保,植保无人机,农业,农业无人机,消防,消防无人机,华启,华启天成,天成,华启无人机,华启消防无人机,华启植保无人机" />
    <meta name="description" content="华启天成（深圳）智能科技有限公司，主要从事行业级无人机和无人机相关产品的研发和制造，公司产品覆盖各行业各领域，是一家专业的无人机解决方案提供商，公司致力于在5G大数据时代，结合AR大数据等技术，针对不同行业的痛点，提供智能专业的无人机产品。" />
    <meta name="author" content="华启天成(深圳)智能科技有限公司 www.hqtcsz.cn" />
    <link rel="shortcut icon" href="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/logo2.png">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/public.css" />
    <link rel="stylesheet" href="../css/dry_Powder_Uav.css" />
    <link rel="stylesheet" href="/css/vivify.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/jquery.fullPage.css" />
    <script type="text/javascript" src="/js/public.js"></script>
    <title i18n="i18n.dry_Powder_Uav0">超细干粉灭火无人机</title>
</head>

<body>
    <section class="header"></section>
    <section class="loading"></section>
    <div class="product-detailsBox">
        <div id="dowebok">
            <div class="section section1">
                <h1 i18n="i18n.dry_Powder_Uav1">超细干粉灭火无人机</h1>
            </div>
            <div class="section section2">
                <section class="section2_txt">
                    <h3 i18n="i18n.fireBomb_details2">专业定制</h3>
                    <h4 i18n="i18n.fireBomb_details3">产品功能、性能支持专业化定制</h4>
                </section>
                <section class="section2_contain">
                    <section class="section2_contain_1">
                        <p i18n="i18n.fireBomb_details4">应急救援</p>
                    </section>
                    <section class="section2_contain_2">
                        <p i18n="i18n.fireBomb_details5">治安维稳</p>
                    </section>
                    <section class="section2_contain_3">
                        <p i18n="i18n.fireBomb_details6">测绘勘探</p>
                    </section>
                </section>
                <section class="section_2_img">
                    <!-- <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge2_11.png" alt=""> -->
                    <section class="section_2_img_children1">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge2_11.png" alt="">
                        <div class="section_2_img_childrenp1">
                            <div i18n="i18n.fireBomb_details49" class="pp">救生圈</div>
                            <div i18n="i18n.fireBomb_details50" class="pp">物资抛投</div>
                            <div i18n="i18n.fireBomb_details51" class="pp">绳梯抛挂</div>
                        </div>
                        <div class="section_2_img_childrenp2">
                            <div i18n="i18n.fireBomb_details52" class="pp">线轮投放</div>
                            <div i18n="i18n.fireBomb_details53" class="pp">空中喊话</div>
                            <div i18n="i18n.fireBomb_details54" class="pp">空中照明</div>
                        </div>
                    </section>
                    <section class="section_2_img_children2">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge2_21.png" alt="">
                        <div class="section_2_img_childrenp3">
                            <div i18n="i18n.fireBomb_details55" class="pp">喊话警灯驱</div>
                            <div i18n="i18n.fireBomb_details56" class="pp">防爆网枪</div>
                        </div>
                        <div class="section_2_img_childrenp4">
                            <div i18n="i18n.fireBomb_details57" class="pp">催泪弹发射</div>
                            <div i18n="i18n.fireBomb_details58" class="pp">垂直拉烟</div>
                        </div>
                    </section>

                    <section class="section_2_img_children3">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge2_31.png" alt="">
                        <div class="section_2_img_childrenp5">
                            <div i18n="i18n.fireBomb_details59" class="pp">红外探测热成像</div>
                            <div i18n="i18n.fireBomb_details60" class="pp">双目成像</div>
                            <div i18n="i18n.fireBomb_details61" class="pp">36倍变焦自动跟踪</div>
                        </div>
                        <div class="section_2_img_childrenp6">
                            <div i18n="i18n.fireBomb_details62" class="pp">五镜头倾斜摄影</div>
                            <div i18n="i18n.fireBomb_details63" class="pp">36倍黑光夜视</div>
                            <div i18n="i18n.fireBomb_details64" class="pp">三光跟踪识别定位</div>
                        </div>
                    </section>
                </section>
            </div>
            <div class="section section3">
                <section class="section3_txt">
                    <h3 i18n="i18n.dry_Powder_Uav7">方案定制</h3>
                    <p i18n="i18n.dry_Powder_Uav8">专业的消防无人机解决方案</p>
                </section>
                <section class="section3_contain">
                    <section class="section3_contain_1">
                        <div class="firebpom_p1" i18n="i18n.fireBomb_details65">
                            城市灭火
                        </div>
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge3_1.png" alt="">
                    </section>
                    <section class="section3_contain_2">
                        <div class="firebpom_p2" i18n="i18n.fireBomb_details66">
                            森林灭火
                        </div>
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge3_2.png" alt="">
                    </section>
                    <section class="section3_contain_3">
                        <div class="firebpom_p3" i18n="i18n.fireBomb_details67">
                            工业灭火
                        </div>
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge3_3.png" alt="">
                    </section>
                    <section class="section3_contain_4">
                        <div class="firebpom_p4" i18n="i18n.fireBomb_details68">
                            建筑灭火
                        </div>
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge3_4.png" alt="">
                    </section>
                </section>
            </div>
            <div class="section section4">
                <section class="section4_txt">
                    <h3 i18n="i18n.fireBomb_details9">5G操控 高效作业</h3>
                    <p i18n="i18n.fireBomb_details10">通过5G网络大数据平台实现异地作业，高效率、低时延和大连接，提高作业效率</p>
                </section>
            </div>
            <div class="section section5">
                <section class="section5_txt">
                    <h3 i18n="i18n.dry_Powder_Uav11">全方位功能覆盖</h3>
                    <p i18n="i18n.dry_Powder_Uav12">强劲性能，应用场景多样化</p>
                </section>
                <section class="section5_contain">
                    <section class="section5_contain_1">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_ash_1a.png" alt="">
                        <span i18n="i18n.fireBomb_details13">4轴8翼</span>
                    </section>
                    <section class="section5_contain_2">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_ash_2a.png" alt="">
                        <span i18n="i18n.fireBomb_details14">碳钎维+航空铝</span>
                    </section>
                    <section class="section5_contain_3">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_ash_3a.png" alt="">
                        <span i18n="i18n.fireBomb_details15">超高空作业</span>
                    </section>
                    <section class="section5_contain_4">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_ash_4a.png" alt="">
                        <span i18n="i18n.fireBomb_details16">摄像头</span>
                    </section>
                    <section class="section5_contain_5">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_ash_5a.png" alt="">
                        <span i18n="i18n.fireBomb_details17">ABC超细干粉</span>
                    </section>
                    <section class="section5_contain_6">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_ash_6a.png" alt="">
                        <span i18n="i18n.fireBomb_details18">0℃-80℃</span>
                    </section>
                    <section class="section5_contain_7">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_ash_7a.png" alt="">
                        <span i18n="i18n.fireBomb_details19">三电池</span>
                    </section>
                    <section class="section5_contain_8">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_ash_8a.png" alt="">
                        <span i18n="i18n.fireBomb_details20">飞行速度10米/秒</span>
                    </section>
                    <section class="section5_contain_9">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_ash_9a.png" alt="">
                        <span i18n="i18n.fireBomb_details21">载重50kg</span>
                    </section>
                    <section class="section5_contain_10">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_ash_10a.png" alt="">
                        <span i18n="i18n.fireBomb_details22">7级抗风</span>
                    </section>
                    <section class="section5_contain_11">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_ash_11a.png" alt="">
                        <span i18n="i18n.fireBomb_details23">续航15-40min</span>
                    </section>
                    <section class="section5_contain_12">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_ash_12a.png" alt="">
                        <span i18n="i18n.fireBomb_details24">极速充电</span>
                    </section>
                    <section class="section5_contain_13">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_ash_13a.png" alt="">
                        <span i18n="i18n.fireBomb_details25">折叠设计</span>
                    </section>
                    <section class="section5_contain_14">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_ash_14a.png" alt="">
                        <span i18n="i18n.fireBomb_details26">图传5-10km</span>
                    </section>
                    <section class="section5_contain_15">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_ash_15a.png" alt="">
                        <span i18n="i18n.fireBomb_details27">RTK高精度定位</span>
                    </section>
                    <section class="section5_contain_16">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_ash_16a.png" alt="">
                        <span i18n="i18n.fireBomb_details28">双冗余气压计</span>
                    </section>
                    <section class="section5_contain_17">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_ash_17a.png" alt="">
                        <span i18n="i18n.fireBomb_details29">三冗余IMU</span>
                    </section>
                    <section class="section5_contain_18">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_ash_18a.png" alt="">
                        <span i18n="i18n.fireBomb_details30">5G图像传输</span>
                    </section>
                </section>
            </div>
            <div class="section section6">
                <section class="section6_txt">
                    <h3 i18n="i18n.dry_Powder_Uav31">大容量灭火罐</h3>
                    <p i18n="i18n.dry_Powder_Uav32">无人机搭载23公斤超极细干粉灭火罐，一次灭火可达100m³</p>
                </section>
                <section class="sectionContain">
                    <section class="section6_img">
                        <div class="firebpom_p5" i18n="i18n.dry_Powder_Uav51">
                            ABC超细干粉
                        </div>
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_image6_1.png" alt="">
                    </section>
                    <section class="section6_img">
                        <div class="firebpom_p5" i18n="i18n.dry_Powder_Uav52">
                            23公斤大容量
                        </div>
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_image6_2.png" alt="">
                    </section>
                    <section class="section6_img">
                        <div class="firebpom_p5" i18n="i18n.dry_Powder_Uav53">
                            一次性灭火100m³
                        </div>
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_image6_3.png" alt="">
                    </section>
                </section>
            </div>
            <div class="section section7">
                <section class="section7_txt">
                    <h3 i18n="i18n.dry_Powder_Uav33">强力载重</h3>
                    <p i18n="i18n.dry_Powder_Uav34">承重可达50kg，应对各种场景的困阻</p>
                </section>
                <section class="section7_contain">
                    <section class="section7_left">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge7_right.jpg" alt="">
                    </section>
                    <section class=" section7_center">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge7_center.jpg"
                            alt="">
                    </section>
                    <section class="section7_right">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge7_left.jpg" alt="">
                    </section>
                </section>
            </div>
            <div class="section section8">
                <section class="section8_txt">
                    <h3 i18n="i18n.dry_Powder_Uav35">超航时长 颠覆想象</h3>
                    <p i18n="i18n.dry_Powder_Uav36">搭载大容量双电池，实现超长续航，无忧作业</p>
                </section>
                <section class="section8_img_left">
                    <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge8_liner.jpg" alt="">
                </section>
                <section class="sectiojn8_img_center">
                    <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge8_center.jpg" alt="">
                </section>
            </div>
            <div class="section section9">
                <section class="section9_txt">
                    <h3 i18n="i18n.dry_Powder_Uav37">IPX5等级防护</h3>
                    <p i18n="i18n.dry_Powder_Uav38">强悍的防水性能，无惧雨水作业环境</p>
                </section>
            </div>
            <div class="section section10">
                <section class="section10_txt">
                <h3 i18n="i18n.dry_Powder_Uav39">三冗余IMU</h3>
                <p i18n="i18n.dry_Powder_Uav40">高能的控制系统，强大的智能算法，三重定位，飞行更稳定</p>
                </section>
            </div>
            <div class="section section11">
                <section class="section11_txt">
                    <h3 i18n="i18n.dry_Powder_Uav41">超视距 精准作业</h3>
                    <p i18n="i18n.dry_Powder_Uav42">强力升级，剔除干扰视线，超远距离探测</p>
                </section>
            </div>
            <div class="section section12">
                <section class="section12_txt">
                    <h3 i18n="i18n.dry_Powder_Uav43">精准电控</h3>
                    <p i18n="i18n.dry_Powder_Uav44">搭载精准电控系统，配合高清FPV摄像头，能在复杂火场环境远程控制灭火弹发射开关</p>
                </section>
            </div>
            <div class="section section13">
                <section class="section13_txt">
                    <h3 i18n="i18n.dry_Powder_Uav45">快拆灭火罐</h3>
                    <p i18n="i18n.dry_Powder_Uav46">采用快拆结构设计，实现灭火罐的快速安装与拆卸，极大提升作业效率</p>
                </section>
            </div>
            <div class="section section14">
                <h3 i18n="i18n.dry_Powder_Uav47">支持定制服务</h3>
                <p i18n="i18n.dry_Powder_Uav48">可根据实际作业需求，提供全安定制服务</p>
                <div i18n="i18n.dry_Powder_Uav49" class="section14_button"
                    onclick="window.location.href='../components/distributor.html'">
                    联系我们
                </div>
            </div>
        </div>
    </div>
    <!-- <section class="footer"></section> -->
</body>
<script type="text/javascript" src="https://vncdn.mobi88.cn/public/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="../js/jquery.fullPage.min.js"></script>
<script src="https://cdn.staticfile.org/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script type="text/javascript">
    $(function () {
        $(".header").load("../common/header.html");
        $(".loading").load("../components/loading.html");
        $(window).load(function () {
            //适当延迟隐藏，提高loading效果
            $('.loading').delay(500).hide(0);
            
        });
        // $(".footer").load("../common/fooder.html");
        $('#dowebok').fullpage({
            sectionsColor: ['#131313', '#4BBFC3', '#7BAABE', '#f90', '#1bbc9b', '#4BBFC3', '#1bbc9b', '#4BBFC3', '#0A0A0A', '#0A0A0A', '#131313', '#131313', '#212121', '#00000A', '#212121', '#00000A'],
            'navigation': true,
            resize: true, //字体是否随窗口缩放而缩放，默认false
            navigationTooltips: ['超细干粉灭火无人机', '专业定制', '方案定制', '5G操控极速安全', '全方位功能覆盖', '大容量灭火罐', '强力载重', '超航时长颠覆想象', 'IPX5等级防护', '三冗余IMU', '超视距精准作业', '精准电控', '快拆灭火罐', '定制服务'], //导航小圆点的提示
            scrollingSpeed: 1000,
            easing: 'swing', //定义页面section滚动的动画方式，若修改此项需引入jquery.easing插件
            easingcss3: 'ease', //定义页面section滚动的过渡效果，若修改此项需引入第三方插件
            afterLoad: function (anchorLink, index) {
                console.log(index)
                if (index == 2) {
                    $('.section2').find('h4').fadeIn(800);
                    $('.section2').find('h3').fadeIn(800);
                }
                if (index == 3) {
                    $('.section3').find('p').fadeIn(800);
                    $('.section3').find('h3').fadeIn(800);
                }
                if (index == 4) {
                    $('.section4').find('p').fadeIn(800);
                    $('.section4').find('h3').fadeIn(800);
                }
                if (index == 5) {
                    $('.section5').find('p').fadeIn(800);
                    $('.section5').find('h3').fadeIn(800);
                }
                if (index == 6) {
                    $('.section6').find('p').fadeIn(800);
                    $('.section6').find('h3').fadeIn(800);
                }
                if (index == 7) {
                    $('.section7').find('p').fadeIn(800);
                    $('.section7').find('h3').fadeIn(800);
                }
                if (index == 8) {
                    $('.section8').find('p').fadeIn(800);
                    $('.section8').find('h3').fadeIn(800);
                }
                if (index == 9) {
                    $('.section9').find('p').fadeIn(800);
                    $('.section9').find('h3').fadeIn(800);
                }
                if (index == 10) {
                    $('.section10').find('p').fadeIn(800);
                    $('.section10').find('h3').fadeIn(800);
                }
                if (index == 11) {
                    $('.section11').find('p').fadeIn(800);
                    $('.section11').find('h3').fadeIn(800);
                }
                if (index == 12) {
                    $('.section12').find('p').fadeIn(800);
                    $('.section12').find('h3').fadeIn(800);
                }
                if (index == 13) {
                    $('.section13').find('p').fadeIn(800);
                    $('.section13').find('h3').fadeIn(800);
                }
                if (index == 14) {
                    $('.section14').find('p').fadeIn(800);
                    $('.section14').find('h3').fadeIn(800);;
                }
            },
            onLeave: function (index, direction) {
                if (index == '2') {
                    $('.section2').find('h4').fadeOut(800);
                    $('.section2').find('h3').fadeOut(800);
                }
                if (index == '3') {
                    $('.section3').find('p').fadeOut(800);
                    $('.section3').find('h3').fadeOut(800);
                }
                if (index == '4') {
                    $('.section4').find('p').fadeOut(800);
                    $('.section4').find('h3').fadeOut(800);
                }
                if (index == '5') {
                    $('.section5').find('p').fadeOut(800);
                    $('.section5').find('h3').fadeOut(800);
                }
                if (index == '6') {
                    $('.section6').find('p').fadeOut(800);
                    $('.section6').find('h3').fadeOut(800);
                }
                if (index == '7') {
                    $('.section7').find('p').fadeOut(800);
                    $('.section7').find('h3').fadeOut(800);
                }
                if (index == '8') {
                    $('.section8').find('p').fadeOut(800);
                    $('.section8').find('h3').fadeOut(800);
                }
                if (index == 9) {
                    $('.section9').find('p').fadeOut(800);
                    $('.section9').find('h3').fadeOut(800);
                }
                if (index == 10) {
                    $('.section10').find('p').fadeOut(800);
                    $('.section10').find('h3').fadeOut(800);
                }
                if (index == '11') {
                    $('.section11').find('p').fadeOut(800);
                    $('.section11').find('h3').fadeOut(800);
                }
                if (index == 12) {
                    $('.section12').find('p').fadeOut(800);
                    $('.section12').find('h3').fadeOut(800);
                }
                if (index == 13) {
                    $('.section13').find('p').fadeOut(800);
                    $('.section13').find('h3').fadeOut(800);
                }
                if (index == 14) {
                    $('.section14').find('p').fadeOut(800);
                    $('.section14').find('h3').fadeOut(800);
                }
            },
            afterRender: function () { },
            afterResize: function () { },
            afterSlideLoad: function (anchorLink, index, slideAnchor, slideIndex) { },
            onSlideLeave: function (anchorLink, index, slideIndex, direction, nextSlideIndex) { }

        });
        $(".section5_contain_1").on('mouseover', function() {
            $(".section5_contain_1 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_red_1b.png");
        })
        $(".section5_contain_1").on('mouseleave', function() {
            $(".section5_contain_1 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_ash_1a.png");
        })
        $(".section5_contain_2").on('mouseover', function() {
            $(".section5_contain_2 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_red_2b.png");
        })
        $(".section5_contain_2").on('mouseleave', function() {
            $(".section5_contain_2 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_ash_2a.png");
        })
        $(".section5_contain_3").on('mouseover', function() {
            $(".section5_contain_3 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_red_3b.png");
        })
        $(".section5_contain_3").on('mouseleave', function() {
            $(".section5_contain_3 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_ash_3a.png");
        })
        $(".section5_contain_4").on('mouseover', function() {
            $(".section5_contain_4 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_red_4b.png");
        })
        $(".section5_contain_4").on('mouseleave', function() {
            $(".section5_contain_4 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_ash_4a.png");
        })
        $(".section5_contain_5").on('mouseover', function() {
            $(".section5_contain_5 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_red_5b.png");
        })
        $(".section5_contain_5").on('mouseleave', function() {
            $(".section5_contain_5 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_ash_5a.png");
        })
        $(".section5_contain_6").on('mouseover', function() {
            $(".section5_contain_6 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_red_6b.png");
        })
        $(".section5_contain_6").on('mouseleave', function() {
            $(".section5_contain_6 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_ash_6a.png");
        })
        $(".section5_contain_7").on('mouseover', function() {
            $(".section5_contain_7 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_red_7b.png");
        })
        $(".section5_contain_7").on('mouseleave', function() {
            $(".section5_contain_7 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_ash_7a.png");
        })
        $(".section5_contain_8").on('mouseover', function() {
            $(".section5_contain_8 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_red_8b.png");
        })
        $(".section5_contain_8").on('mouseleave', function() {
            $(".section5_contain_8 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_ash_8a.png");
        })
        $(".section5_contain_9").on('mouseover', function() {
            $(".section5_contain_9 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_red_9b.png");
        })
        $(".section5_contain_9").on('mouseleave', function() {
            $(".section5_contain_9 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_ash_9a.png");
        })
        $(".section5_contain_10").on('mouseover', function() {
            $(".section5_contain_10 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_red_10b.png");
        })
        $(".section5_contain_10").on('mouseleave', function() {
            $(".section5_contain_10 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_ash_10a.png");
        })
        $(".section5_contain_11").on('mouseover', function() {
            $(".section5_contain_11 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_red_11b.png");
        })
        $(".section5_contain_11").on('mouseleave', function() {
            $(".section5_contain_11 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_ash_11a.png");
        })
        $(".section5_contain_12").on('mouseover', function() {
            $(".section5_contain_12 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_red_12b.png");
        })
        $(".section5_contain_12").on('mouseleave', function() {
            $(".section5_contain_12 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_ash_12a.png");
        })
        $(".section5_contain_13").on('mouseover', function() {
            $(".section5_contain_13 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_red_13b.png");
        })
        $(".section5_contain_13").on('mouseleave', function() {
            $(".section5_contain_13 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_ash_13a.png");
        })
        $(".section5_contain_14").on('mouseover', function() {
            $(".section5_contain_14 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_red_14b.png");
        })
        $(".section5_contain_14").on('mouseleave', function() {
            $(".section5_contain_14 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_ash_14a.png");
        })
        $(".section5_contain_15").on('mouseover', function() {
            $(".section5_contain_15 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_red_15b.png");
        })
        $(".section5_contain_15").on('mouseleave', function() {
            $(".section5_contain_15 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_ash_15a.png");
        })
        $(".section5_contain_16").on('mouseover', function() {
            $(".section5_contain_16 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_red_16b.png");
        })
        $(".section5_contain_16").on('mouseleave', function() {
            $(".section5_contain_16 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_ash_16a.png");
        })
        $(".section5_contain_17").on('mouseover', function() {
            $(".section5_contain_17 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_red_17b.png");
        })
        $(".section5_contain_17").on('mouseleave', function() {
            $(".section5_contain_17 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_ash_17a.png");
        })
        $(".section5_contain_18").on('mouseover', function() {
            $(".section5_contain_18 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_red_18b.png");
        })
        $(".section5_contain_18").on('mouseleave', function() {
                $(".section5_contain_18 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge5_ash_18a.png");
            })

        // 第二屏
        $(".section2_contain_1").on('click', function() {
            // $(".section_2_img img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge2_11.png");
            $(".section2_contain_1 p").css("cssText", "color: white !important;background-color:red!important");
            $(" .section2_contain_2 p").css("cssText", "color: black!important;background-color:white!important");
            $(" .section2_contain_3 p").css("cssText", "color: black!important;background-color:white!important");
        });
        $(".section2_contain_2").on('click', function() {
            // $(".section_2_img img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge2_21.png");
            $(".section2_contain_2 p").css("cssText", "color: white !important;background-color:red!important");
            $(" .section2_contain_1 p").css("cssText", "color: black!important;background-color:white!important");
            $(" .section2_contain_3 p").css("cssText", "color: black!important;background-color:white!important");
        });
        $(".section2_contain_3").on('click', function() {
            // $(".section_2_img img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_imge2_31.png");
            $(".section2_contain_3 p").css("cssText", "color: white !important;background-color:red!important");
            $(" .section2_contain_1 p").css("cssText", "color: black!important;background-color:white!important");
            $(" .section2_contain_2 p").css("cssText", "color: black!important;background-color:white!important");
        });
    });

    let Box = document.getElementsByClassName('section2_contain')[0];
    let BoxIn = document.getElementsByClassName('section_2_img')[0];
    console.log(BoxIn.children, '222222');
    // console.log(BoxIn,'1111111');
    // console.log(Box,'44444444444444');
    console.log(Box.children, '55555');
    BoxIn.children[0].classList.add('Box');
    // Box.children[0].classList.add('BoxStyle1')
    for (let i = 0; i < Box.children.length; i++) {
        Box.children[i].onclick = function () {
            selectChildren();
            BoxIn.children[i].classList.add('Box');
            // Box.children[0].classList.add('BoxStyle1');
        }
    }
    function selectChildren() {
        for (let j = 0; j < BoxIn.children.length; j++) {
            // console.log(j)
            BoxIn.children[j].classList.remove('Box');
            // Box.children[0].classList.remove('BoxStyle1');
        }
    }

    //  轮播图
    var mySwiper = new Swiper('.swiper-container', {
        direction: 'horizontal', // 垂直切换选项
        loop: true, // 循环模式选项
        autoplay: true,
        autoplayDisableOnInteraction: false,
        speed: 300,
        // 如果需要前进后退按钮
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    })
</script>



</html>