<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="无人机,植保,植保无人机,农业,农业无人机,消防,消防无人机,华启,华启天成,天成,华启无人机,华启消防无人机,华启植保无人机" />
    <meta name="description" content="华启天成（深圳）智能科技有限公司，主要从事行业级无人机和无人机相关产品的研发和制造，公司产品覆盖各行业各领域，是一家专业的无人机解决方案提供商，公司致力于在5G大数据时代，结合AR大数据等技术，针对不同行业的痛点，提供智能专业的无人机产品。" />
    <meta name="author" content="华启天成(深圳)智能科技有限公司 www.hqtcsz.cn" />
    <link rel="shortcut icon" href="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/logo2.png">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/public.css" />
    <link rel="stylesheet" href="../css/security.css" />
    <link rel="stylesheet" href="../css/fireControl.css" />
    <link rel="stylesheet" href="../css/vivify.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script type="text/javascript" src="../js/public.js"></script>
    <title>消防巡检</title>
</head>

<body>
    <section class="header"></section>
    <section class="loading"></section>
    <div class="fireControl">
        <div class="banner">
            <div class="banner_box">
                <h2>应急巡逻方案</h2>
                <p>全天候紧急待命，应急突发事件迅速处理，远程喊话指挥</p>
                <p>极大提升应急效率，大幅减少突发事件造成的生命财产损失</p>
                <div class="btn" onclick="window.location.href = '/components/distributor.html'">立即咨询</div>
            </div>
        </div>
        <div class="problem">
            <div class="problem_box">
                <h2>无人机全自动应急巡逻解决方案</h2>
                <span></span>
                <div class="problem_main">
                    <div>
                        <img src="../images/security/security_1.png" alt="">
                        <i></i>
                        <p>自动飞行系统赋能大疆DJI工业无人机全自动进行公安巡逻作业，有效应对及时性、突发性工作</p>
                    </div>
                    <div>
                        <img src="../images/security/security_2.png" alt="">
                        <i></i>
                        <p>无需专业无人机警员飞手，有效解决了专业飞手交警数量缺口大问题</p>
                    </div>
                    <div>
                        <img src="../images/security/security_3.png" alt="">
                        <i></i>
                        <p>3D-GIS自主规划飞行航线，巡检任务自由设定，满足定时定点巡逻需求</p>
                    </div>
                    <div>
                        <img src="../images/security/security_4.png" alt="">
                        <i></i>
                        <p>适配多种应急场景，城市消防、森林消防、自然灾害救援、人员搜救</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="price">
            <div class="price_box">
                <h2>方案价值</h2>
                <i>全自动无人机自动飞行技术赋能应急管理，大幅度提升了应急部门处理突发事件的效率，极大程度减少了突发事件造成的人民生命财产损失</i>
                <div class="price_main">
                    <div>
                        <img src="../images/security/security_5.png" alt="">
                        <p>解放人工</p>
                    </div>
                    <div>
                        <img src="../images/security/security_6.png" alt="">
                        <p>随时应急</p>
                    </div>
                    <div>
                        <img src="../images/security/security_7.png" alt="">
                        <p>高频作业</p>
                    </div>
                    <div>
                        <img src="../images/security/security_8.png" alt="">
                        <p>智能化</p>
                    </div>
                    <div>
                        <img src="../images/security/security_9.png" alt="">
                        <p>多样化应急场景</p>
                    </div>
                </div>
            </div>
            <div class="characteristic">
                <div class="characteristic_box">
                    <h2>方案特点</h2>
                    <i>无人机应急巡逻系统可实现无人值守，全天候紧急待命，有突发事件时，及时飞往现场，辅助指挥，迅速应急处理</i>
                    <div class="characteristic_main">
                        <div class="smallbox">
                            <div class="mark">
                                <strong>基于3D-DIS系统，选择目标地点，系统自动规划无人机最短飞行航线，及时赶往突发事件现场</strong>
                            </div>
                            <img src="../images/security/security_10.png" alt="">
                            <p>3D-GIS规划航迹</p>
                        </div>
                        <div class="smallbox">
                            <div class="mark">
                                <strong>自动机场就近部署在作业现场，自动起飞，高精度视觉自动降落。自动进行电池更换，支持高频作业，三分钟即可再次起飞作业</strong>
                            </div>
                            <img src="../images/security/security_11.png" alt="">
                            <p>自动起降换电</p>
                        </div>
                        <div class="smallbox">
                            <div class="mark">
                                <strong>无人机可以快速获取到灾害事故现场全局的视角，部分场景可替代人工抵近侦察，通过热成像相机穿过浓烟识别着火点以及高温区域，在危化品罐体救援、阴燃等场景中极大提升作业效率</strong>
                            </div>
                            <img src="../images/security/security_12.png" alt="">
                            <p>火情全方位侦察、测温、定位</p>
                        </div>
                        <div class="smallbox">
                            <div class="mark">
                                <strong>无人机将现场视频画面通过直播平台或者应急网络传回后台指挥大厅，通过无人机对事故现场快速二维正射建模，供后台指挥人员研判灾情</strong>
                            </div>
                            <img src="../images/security/security_13.png" alt="">
                            <p>视频回传，大型灾害现场建模</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 方案场景 -->
        <div class="Scenario">
            <div class="Scenario_content">
                <div class="Scenario_title">
                    <span>方案场景</span>
                    <span>无人机应急巡逻系统可实现无人值守，全天候紧急待命，有突发事件时，及时飞往现场，辅助指挥，迅速应急处理</span>
                </div>
                <div class="Scenario_NameBox">
                    <span>无人机全自动应急巡逻</span>
                </div>
                <div class="Scenario_SceneDescription">
                    <div class="SceneDescription_left">
                        <span>场景描述</span>
                        <ul>
                            <li>应急场景一般可分为城市消防、森林消防、自然灾害救援、人员搜救。在城市消防中，消防官兵面临以下几种挑战，指挥中心无法宏观了解现场状况，有毒和易燃易爆品多，严重威胁人身安全，油罐温度变化无法预测，存在爆炸隐患。</li>
                            <li>在森林消防中，存在以下痛点，环境复杂效率低，防火任务压力大，火情侦查耗时长等。</li>
                            <li>发生自燃灾害时，泥石流、山体滑坡、地震等灾害后，公网网络瘫痪，救援人员进入灾区后，需要架设专网网络完成应急通信，保障救援人员之间高效、灵活的指挥通信。而传统的简易架高天线覆盖有限，无法有效保障灾区的信号覆盖。</li>
                            <li>在人员搜救应用中，消防官兵会面临搜索区域太大，无法准备定位山路崎岖，搜索仅能沿着道路搜索，山路搜索指向性差等困难。</li>
                        </ul>
                    </div>
                    <div class="SceneDescription_right">
                        <img src="../images/security/scene_description_right.png" alt="" srcset="">
                    </div>
                </div>
                <div class="Scenario_Useproducts">
                    <div class="SceneDescription_left">
                        <span>使用产品</span>
                        <ul>
                            <li>
                                <img src="../images/security/useproducts_01.png" alt="">
                                <strong>MindCube 智方A30系列 <br/> 固定式无人机自动机场</strong>
                            </li>
                            <span>+</span>
                            <li>
                                <img src="../images/security/useproducts_02.png" alt="">
                                <strong>DJI-M300 RTK</strong>
                            </li>
                            <span>+</span>
                            <li>
                                <img src="../images/security/useproducts_03.png" alt="">
                                <strong>DJI-H20T</strong>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="Scenario_Solution">
                    <div class="SceneDescription_left">
                        <span>解决方案</span>
                        <ul>
                            <li>固定式（或者移动式）无人机自动机场部署在重要治安巡逻区域，无巡逻任务时，无人机存储在机库中，有任务时，机械臂自动安装无人机电池并开启舱门，无人机自动飞出作业。</li>
                            <li>移动式自动机场可跟随消防救援队一同赶赴较远事故地点，就地放飞无人机，启动应急飞行任务。</li>
                            <li>有突发事件时，基于3D-GIS或二维地图，选择目标地点或巡逻区域，后台软件自动规划无人机最短飞行航线。</li>
                            <li>无人机悬停于事故灾害现场，多点部署、快速部署，让省总队、国家应急管理部指挥中心等多级指挥员更快捷地取得三维的视角，获得更全面的信息，为救灾争取到宝贵的时间，让救援工作快速有效地进行。</li>
                            <li>实时监控火势走向，提高灭火效率，保障消防人员安全为消防部队提供最佳撤离路线。</li>
                            <li>通过热成像发现疑似走失人员，拉近进一步判断提供走失人员的准确位置，供搜救人员导向平台联动，供多人分析判断。</li>
                            <li>无人机携带中继基站，悬停于灾区上空，可对灾区进行信号覆盖，同时挂载探照灯，可以在夜间对救援现场进行照明。</li>
                        </ul>
                    </div>
                </div>
                <div class="Scenario_ProgrammeValue">
                    <div class="SceneDescription_left">
                        <span>方案价值</span>
                        <ul>
                            <li>
                                <img src="../images/security/programmeValue_01.png" alt="">
                                <div>
                                    <span>替代消防人员</span>
                                    <span>在城市消防应用中，无人机可替代人工进行火情侦查，减少消防人员伤亡</span>
                                </div>
                            </li>
                            <li>
                                <img src="../images/security/programmeValue_02.png" alt="">
                                <div>
                                    <span>避免事故</span>
                                    <span>发生大面积火情的快速侦查，及时回传画面供指挥中心决策，提前预判油温过高的罐体，避免二次爆炸</span>
                                </div>
                            </li>
                            <li>
                                <img src="../images/security/programmeValue_02.png" alt="">
                                <div>
                                    <span>提高效率</span>
                                    <span>无人机提供高空视角，形成三维立体监控，实时监控火势走向，提高灭火效率，保障消防人员安全为消防部队提供最佳撤离路线</span>
                                </div>
                            </li>
                            <li>
                                <img src="../images/security/programmeValue_02.png" alt="">
                                <div>
                                    <span>节省时间</span>
                                    <span>森林消防应用中，无人机快速抵达现场，为决策提争取宝贵时间制定</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="Consult_immediately">
            <div>
                <span>自动飞行赋能行业生产力</span>
                <div onclick="window.location.href = '/components/distributor.html'">立即咨询</div>
            </div>
        </div>
    </div>

    <section class="footer"></section>
</body>
<script type="text/javascript" src="https://vncdn.mobi88.cn/public/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="../js/jquery.fullPage.min.js"></script>
<script src="https://cdn.staticfile.org/jquery-easing/1.3/jquery.easing.min.js"></script>
<script type="text/javascript">
    $(function() {
        $(".loading").load("../components/loading.html");
        $(".header").load("../common/header.html");
        $(".footer").load("../common/fooder.html");
        $(window).load(function() {
            //适当延迟隐藏，提高loading效果
            $('.loading').hide(0);
        });
        const marks = document.getElementsByClassName('characteristic_main')[0];
        console.log(marks);
        for (let i = 0; i < 4; i++) {
            marks.children[i].onmouseover = function() {
                marks.children[i].children[0].style.opacity = '0.8'
            }

            marks.children[i].onmouseout = function() {
                marks.children[i].children[0].style.opacity = '0'
            }
        }
    })
</script>

</html>