<!--
 * @Descripttion: 
 * @version: 
 * @Author: sueRimn
 * @Date: 2021-11-18 17:17:05
 * @LastEditors: sueRimn
 * @LastEditTime: 2021-11-19 10:20:17
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="无人机,植保,植保无人机,农业,农业无人机,消防,消防无人机,华启,华启天成,天成,华启无人机,华启消防无人机,华启植保无人机" />
  <meta name="description"
    content="华启天成（深圳）智能科技有限公司，主要从事行业级无人机和无人机相关产品的研发和制造，公司产品覆盖各行业各领域，是一家专业的无人机解决方案提供商，公司致力于在5G大数据时代，结合AR大数据等技术，针对不同行业的痛点，提供智能专业的无人机产品。" />
  <meta name="author" content="华启天成(深圳)智能科技有限公司 www.hqtcsz.cn" />
  <link rel="shortcut icon" href="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/logo2.png">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/public.css" />
  <link rel="stylesheet" href="../css/security.css">
  <link rel="stylesheet" href="../css/forPoliceUse.css" />
  <link rel="stylesheet" href="../css/vivify.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <script type="text/javascript" src="../js/public.js"></script>
  <title i18n="i18n.product">警用巡检</title>
</head>

<body>
  <section class="header"></section>
  <section class="loading"></section>
  <div class="forPoliceUse">
    <div class="banner">
      <div class="banner_box">
        <h2>交通巡逻方案</h2>
        <p>无人值守，交通违法行为实时监控、抓拍，远程劝阻纠正</p>
        <p>减轻巡逻警员劳动强度和劳动时间，应急突发事件迅速处理</p>
        <div class="btn" onclick="window.location.href = '/components/distributor.html'">立即咨询</div>
      </div>
    </div>
    <div class="problem">
      <div class="problem_box">
        <h2>交通无人机全自动巡逻解决方案</h2>
        <span></span>
        <div class="problem_main">
          <div>
            <img src="../images/forPoliceUse/forPoliceUse-1.png" alt="">
            <i></i>
            <p>自动飞行系统赋能大疆DJI工业无人机全自动进行交通巡逻作业，有效应对及时性、突发性工作</p>
          </div>
          <div>
            <img src="../images/forPoliceUse/forPoliceUse-2.png" alt="">
            <i></i>
            <p>无需专业无人机警员飞手，有效解决了专业飞手交警数量缺口大问题</p>
          </div>
          <div>
            <img src="../images/forPoliceUse/forPoliceUse-3.png" alt="">
            <i></i>
            <p>3D-GIS自主规划飞行航线，巡检任务自由设定，满足定时定点巡逻需求</p>
          </div>
          <div>
            <img src="../images/forPoliceUse/forPoliceUse-4.png" alt="">
            <i></i>
            <p>图像识别技术和图像控制算法精确识别、锁定车辆、道路等目标,对违停、压线、占道等违章车辆进行快速取证、对道路进行疏导</p>
          </div>
        </div>
      </div>
    </div>
    <div class="price">
      <div class="price_box">
        <h2>方案价值</h2>
        <i>减轻巡逻警员的劳动强度和劳动时间，可实现3-5分钟突发警情快速出勤</i>
        <div class="price_main">
          <div>
            <img src="../images/security/security_5.png" alt="">
            <p>解放人工</p>
          </div>
          <div>
            <img src="../images/security/security_6.png" alt="">
            <p>随时应急</p>
          </div>
          <div>
            <img src="../images/forPoliceUse/forPoliceUse-7.png" alt="">
            <p>高频作业</p>
          </div>
          <div>
            <img src="../images/security/security_8.png" alt="">
            <p>智能化</p>
          </div>
          <div>
            <img src="../images/forPoliceUse/forPoliceUse-9.png" alt="">
            <p>接口开放</p>
          </div>
        </div>
      </div>
      <div class="characteristic">
        <div class="characteristic_box">
          <h2>方案特点</h2>
          <i>"5G+无人机交通自动巡逻系统实现无人值守，交通违法行为实时监控、抓拍，并通过喊话系统劝阻纠正、消除隐患</i>
          <div class="characteristic_main">
            <div class="smallbox">
              <div class="mark">
                <strong>基于3D-基于3D-GIS，系统自动规划无人机航线，实现相对于路面海拔高度的
                  —致飞行</strong>
              </div>
              <img src="../images/forPoliceUse/forPoliceUse-10.png" alt="">
              <p>3D-GIS规划航迹</p>
            </div>
            <div class="smallbox">
              <div class="mark">
                <strong>自动机场就近部署在作业现场，自动起飞，高精度视觉自动降落。自动进行电池更换，支持高频作业，三分钟即可再次起飞作业</strong>
              </div>
              <img src="../images/forPoliceUse/forPoliceUse-11.png" alt="">
              <p>自动起降换电</p>
            </div>
            <div class="smallbox">
              <div class="mark">
                <strong>通过图像识别技术实时对车辆、道路等特征目标进行精确定位,实时控制云台对目标进行跟踪拍摄,实现道路锁定、车辆锁定、车牌识别、违章分析等,通过图像识别精
                  佳拍摄目标对象</strong>
              </div>
              <img src="../images/forPoliceUse/forPoliceUse-13.png" alt="">
              <p>自动Al识别、锁定与拍摄</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 方案场景 -->
    <div class="Scenario">
      <div class="Scenario_content">
        <div class="Scenario_title">
          <span>方案场景</span>
          <span>“5G+无人机"交通自动巡逻系统实现无人值守，交通违法行为实时监控、抓拍，并通过喊话系统劝匪征、消除隐患</span>
        </div>
        <div class="Scenario_NameBox">
          <span>交通无人机全自动巡逻</span>
        </div>
        <div class="Scenario_SceneDescription">
          <div class="SceneDescription_left">
            <span>场景描述</span>
            <ul>
              <li> 固定式无人机自动机场部署在交通沿线作业环境中，无巡逻任务时，无人机存储在机库中，有任务时,机械瘠自动安装无人机电池并开启能门，无人机自动飞出作业。</li>
              <li>基于3D-GIS或―维地图,后台软件自动规划无人机飞行航线</li>
              <li>无人机通过图像识别技术实时对车辆、道路等特征目标进行精确定位，实时控制云台对目标进行跟踪拍摄，锁定车辆、道路等，通过图像识别精街拍摄目标对象。
              </li>
              <li>无人机巡逻视频实时回传，云端交通事件A系统进行交通违去却别、交通事件发现等工作，对交通违法行为实时监控、抓拍，并通过城话系统及时劝阻!征、消除隐患。</li>
            </ul>
          </div>
          <div class="SceneDescription_right">
            <img src="../images/forPoliceUse/forPoliceUse_description_right.jpg" alt="" srcset="">
          </div>
        </div>
        <div class="Scenario_Useproducts">
          <div class="SceneDescription_left">
            <span>使用产品</span>
            <ul>
              <li>
                <img src="../images/security/useproducts_01.png" alt="">
                <strong>MindCube 智方A30系列 <br /> 固定式无人机自动机场</strong>
              </li>
              <span>+</span>
              <li>
                <img src="../images/security/useproducts_02.png" alt="">
                <strong>DJI-M300 RTK</strong>
              </li>
              <span>+</span>
              <li>
                <img src="../images/security/useproducts_03.png" alt="">
                <strong>DJI-H20T</strong>
              </li>
            </ul>
          </div>
        </div>
        <div class="Scenario_Solution">
          <div class="SceneDescription_left">
            <span>解决方案</span>
            <ul>
              <li>固定式（或者移动式）无人机自动机场部署在重要治安巡逻区域，无巡逻任务时，无人机存储在机库中，有任务时，机械臂自动安装无人机电池并开启舱门，无人机自动飞出作业。</li>
              <li>基于3D-GIS或二维地图，选择目标地点或巡逻区域，后台软件自动规划无人机飞行航线。</li>
              <li>无人机通过图像识别技术实时对车辆、人员等特征目标进行精确定位，实时控制云台对目标进行跟踪拍摄，锁定车辆、人员等，通过图像识别精准拍摄。</li>
              <li>无人机依据规划的飞行航迹，在RTK厘米级精度定位信号下进行复杂业务自主飞行，并根据航线预设目标，无人机在指定位置悬停，控制云台指向目标并进行目标拍摄、识别。</li>
              <li>无人机巡逻视频实时回传，AI云平台实时匹配异常场景（嫌疑人员、嫌疑车辆、人员聚集等），分析人群行为、危险对象并自动告警上报警情位置与管辖区域，及时进行相应处理。</li>
            </ul>
          </div>
        </div>
        <div class="Scenario_ProgrammeValue">
          <div class="SceneDescription_left">
            <span>方案价值</span>
            <ul>
              <li>
                <img src="../images/security/programmeValue_01.png" alt="">
                <div>
                  <span>提高频次</span>
                  <span>有效解决了专业飞手警员数量缺口大的问题，提高了日常巡逻的作业频次</span>
                </div>
              </li>
              <li>
                <img src="../images/forPoliceUse/forPoliceUse_salef.png" alt="">
                <div>
                  <span>预防事故</span>
                  <span>实现了突发警情时快速出勤，可有效预防二次事故的发生,保证线交警工作人员安全</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="Consult_immediately">
      <div>
        <span>自动飞行赋能行业生产力</span>
        <div onclick="window.location.href = '/components/distributor.html'">立即咨询</div>
      </div>
    </div>
  </div>
  </div>
  <section class="footer"></section>
</body>
<script type="text/javascript" src="https://vncdn.mobi88.cn/public/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="../js/jquery.fullPage.min.js"></script>
<script src="https://cdn.staticfile.org/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script type="text/javascript">
  $(function () {
    $(".loading").load("../components/loading.html");
    $(".header").load("../common/header.html");
    $(".footer").load("../common/fooder.html");
    $(window).load(function () {
      //适当延迟隐藏，提高loading效果
      $('.loading').hide(0);

    });
    const marks = document.getElementsByClassName('characteristic_main')[0];
    console.log(marks);
    for (let i = 0; i < 3; i++) {
      marks.children[i].onmouseover = function () {
        marks.children[i].children[0].style.opacity = '0.8'
      }

      marks.children[i].onmouseout = function () {
        marks.children[i].children[0].style.opacity = '0'
      }
      // marks.children[i].addEventListener("mouseover", function () {
      //   marks.children[i].children[0].style.opacity = '0.8'
      // });
    }
  })
</script>



</html>