<div class="videoAlert">
    <video src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/video.mp4?Expires=1624242806&OSSAccessKeyId=TMP.3KhS7c7j9T4PkvubmUYJeJrxdZsz8xcQP8R2BncvEbAivmEoDNyXxW4oA9QkTmuzDfSWZLKHdUzYPRg95AKHjJYKeduuVd&Signature=hYSNXBjUdidUW9Zn3KK6eikWmPE%3D&versionId=CAEQHxiBgMCDseaw0RciIDE1YjRjN2RlOTAwYzQwOTE4MTU5YWNmY2M4MjlhM2Yw&response-content-type=application%2Foctet-stream"
        controls class="videoAlertContaner"></video>
    <img src="/img/guanbi.png" alt="" onclick="hideVideo()">
</div>