<div class="homeVideoBox">
    <video src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/%E8%A7%A6%E6%91%B8%E7%81%AF.mp4?Expires=1624098454&OSSAccessKeyId=TMP.3KfRFZiyCcQSC9vTSWuJG578fvzwc5PEM9Gom52bZGvtsAiGEfVAPWPcjxv4GVrzkyPfV1BjGbf9qvJj4hDTDTwqxyUnhg&Signature=jkRlt1Q98jx8hHUP02Fru3yoH%2BQ%3D&versionId=CAEQHxiBgICjqbGO0RciIGMzZmNjNDJkMGIyYjQwN2FhMGY4YzYyZTk3YzY1MTVm&response-content-type=application%2Foctet-stream"
        muted autoplay loop class="homeVideo"></video>
    <div class="videoTitleInfo">
        <span class="vivify driveInLeft">ADANCING AGRICULTURE</span>
        <span class="vivify driveInRight">提升全球农业生产效率</span>
        <img src="/img/play.png" alt="" onclick="showVideo()">
    </div>
    <div class="genduoBox">
        <span>滑动查看更多</span>
        <img src="/img/xia.png" alt="">
    </div>
</div>