<div class="videoAlert">
    <video src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/%E8%A7%A6%E6%91%B8%E7%81%AF.mp4?Expires=1624098454&OSSAccessKeyId=TMP.3KfRFZiyCcQSC9vTSWuJG578fvzwc5PEM9Gom52bZGvtsAiGEfVAPWPcjxv4GVrzkyPfV1BjGbf9qvJj4hDTDTwqxyUnhg&Signature=jkRlt1Q98jx8hHUP02Fru3yoH%2BQ%3D&versionId=CAEQHxiBgICjqbGO0RciIGMzZmNjNDJkMGIyYjQwN2FhMGY4YzYyZTk3YzY1MTVm&response-content-type=application%2Foctet-stream"
        controls class="videoAlertContaner"></video>
    <img src="/img/guanbi.png" alt="" onclick="hideVideo()">
</div>