<div class="relatedServices partnersBox">
    <div class="partnersChildren" onmouseover = "oDiv1()"  onmouseout = "oDiv2()" style="margin-top: 1.2rem;">
        <img src="../img/vnwka9rl21la3lms0qx4xw67qnroip6h.png" alt="">
        <div class="partnersChildrenDivOne" style="display: flex;">
            <span>农机自驾仪</span>
            <span>云 RTK 高精度导航，领航农机智能时代 <span class=".po-p1"></span></span>
        </div>
    </div>
    <div class="partnersChildrenTwo"  style="margin-top: 1.2rem;">
        <img src="../img/vnwka9rl21la3lms0qx4xw67qnroip6h.png" alt="">
        <div class="partnersChildrenDivTow" style="display: flex;">
            <span>相关服务</span>
            <span>认真践行每一个承诺 <span class=".po-p2"></span></span>
        </div>
    </div>
    <div class="partnersChildrenTwo"  style="margin-top: 1.2rem;">
        <img src="../img/vnwka9rl21la3lms0qx4xw67qnroip6h.png" alt="">
        <div class="partnersChildrenDivTow" style="display: flex;">
            <span>智慧农场</span>
            <span>打造无人化的农业生态系统 <span class=".po-p2"></span></span>
        </div>
    </div>
</div>