<div class="partnersBox">
    <span class="Theproductline_title" id="partnersTitle">成为渠道合作伙伴</span>
    <div class="partnersChildren vivify" onmouseover = "oDiv1()"  onmouseout = "oDiv2()">
        <img src="../img/ki4tdba73igewsdus10xx44l1mr2xhdk.png" alt="">
        <div class="partnersChildrenDivOne">
            <span>成为渠道合作伙伴</span>
            <span>了解更多 <span class=".po-p1">></span></span>
        </div>
    </div>
    <div class="partnersChildrenTwo vivify">
        <img src="../img/ki4tdba73igewsdus10xx44l1mr2xhdk.png" alt="">
        <div class="partnersChildrenDivTow" style="display: flex;">
            <span>成为渠道合作伙伴</span>
            <span>了解更多 <span class=".po-p2">></span></span>
        </div>
    </div>
</div>