<div class="partnersBox">
    <div class="box1">
        <div>
            <span i18n="i18n.solutionprovider">专业的无人机系统方案供应商</span>
            <span i18n="i18n.productsupplychain">致力于为无人机行业用户提供专业的解决方案，打造完善的无人机产品供应链</span>
            <span onclick="goDistributor()" i18n="i18n.Learnmore">进一步了解></span>
        </div>
    </div>
    <!-- <div class="partnersChildren vivify" onmouseover = "oDiv1()"  onmouseout = "oDiv2()">
        <img src="../img/ki4tdba73igewsdus10xx44l1mr2xhdk.png" alt="">
        <div class="partnersChildrenDivOne">
            <span>成为渠道合作伙伴</span>
            <span>了解更多 <span class=".po-p1">></span></span>
        </div>
    </div>
    <div class="partnersChildrenTwo vivify">
        <img src="../img/ki4tdba73igewsdus10xx44l1mr2xhdk.png" alt="">
        <div class="partnersChildrenDivTow" style="display: flex;">
            <span>成为渠道合作伙伴</span>
            <span>了解更多 <span class=".po-p2">></span></span>
        </div>
    </div> -->
</div>
<script type="text/javascript" src="https://vncdn.mobi88.cn/public/jquery-2.1.3.min.js"></script>
<script src="js/jquery.i18n.min.js"></script>
<script src="js/language.js"></script>
<script>
    function goDistributor() {
        window.location.href = '/components/distributor.html'
    }
</script>