<div class="out_OpeningAnimation">
    <div id="light_OpeningAnimation"></div>
    <div id="wave_OpeningAnimation"></div>
    <div id="stage_OpeningAnimation">
        <div id="hero_OpeningAnimation">
            <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/pochuan1.png" />
            <!-- <span style="color: #fff;">RTK-1</span> -->
        </div>
    </div>
    <div id="title_OpeningAnimation">
        <!-- <img src="images/title.png"> -->
        <div>
            <span>行业级无人机 <span style="color: red;font-size: 20px;">1.0.0</span> </span>
            <span><span>RTK - 1</span></span>
        </div>
    </div>
    <div id="additional_OpeningAnimation">
        <img src="/images/additional.png">
    </div>

    <div id="ringgroup_OpeningAnimation">
        <div class="ring"></div>
        <div class="ring"></div>
        <div class="ring"></div>
        <div class="ring"></div>
    </div>
    <div id="core_OpeningAnimation">
        <!-- <img src="images/47.png"></div> -->
        <span>RTK - 1</span>
    </div>
</div>
<script type="text/javascript" src="https://vncdn.mobi88.cn/public/jquery-2.1.3.min.js"></script>
<script src="../js/retina.min.js"></script>
<script>
    $(document).ready(function () {

        startdelay = 300; //全局动画开始时间
        coredelay = 400; //炫光消失时间
        maindelay = 1300; //主体内容出现时间
        loadingdelay = 2000; // 最终开场动画消失时间
        setTimeout("$('#ringgroup_OpeningAnimation').addClass('pass');$('#light_OpeningAnimation').addClass('pass');$('#core_OpeningAnimation').addClass('pass');", startdelay);
        setTimeout("$('#light_OpeningAnimation').addClass('passed');$('#wave_OpeningAnimation').addClass('pass');", startdelay + coredelay);
        setTimeout("$('#stage_OpeningAnimation,#additional_OpeningAnimation,#title_OpeningAnimation').css('cssText','opacity: 1 !important;-webkit-transform: translateZ(0px) rotateY(0) rotateX(0) !important;');", startdelay + coredelay + maindelay);
        // setTimeout("$('.out_OpeningAnimation').css('cssText','opacity: 0;-webkit-transform: translateZ(0px) rotateY(0) rotateX(0) !important;');", startdelay + coredelay + maindelay + loadingdelay);
    });


</script>