<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/rtk_Info.css" />
    <title>行业应用</title>
</head>

<body>
    <div class="section-9 section-10">
        <span>行业应用</span>
        <ul>
            <li>
                <span>应急搜救</span>
                <span>大范接索目标区域。迅速定位受困人员，及时开展救援行动。</span>
            </li>
            <li>
                <span>消防救援</span>
                <span>快速侦查火情，合里品曾灾火力量。推进智慧消防建设。</span>
            </li>
            <li>
                <span>警用执法</span>
                <span>空中可视化侦查,提高执法效率，保障社会安全有序。</span>
            </li>
            <!-- <li>
                <span>电力巡检</span>
                <span>促进巡检白动化。提升巡视效率及精纸化程度，助力电网数字化转型。</span>
            </li>
            <li>
                <span>油气巡检</span>
                <span>深入人工难以抵达的区域，提高巡桧效率，减轻人员工作量，保障社会安全运行。</span>
            </li>
            <li>
                <span>地理信息测绘</span>
                <span>大耀度提升测给工作的自动化和信息化水平，全面提升内外作业效率。</span>
            </li> -->
        </ul>
    </div>
</body>

</html>