<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/public.css" />
    <link rel="stylesheet" href="../css/product_details.css" />
    <link rel="stylesheet" href="/css/vivify.min.css" />
    <link rel="stylesheet" href="/css/jquery.fullPage.css" />
    <script type="text/javascript" src="/js/public.js"></script>
    <title>产品</title>
</head>

<body>
    <section class="header"></section>
    <div class="product-detailsBox">
        <div id="dowebok">
            <div class="section section1">
                <h3>第一屏</h3>
                <p>fullPage.js — 项目导航演示</p>
            </div>
            <div class="section section2">
                <h3>第二屏</h3>
                <p>请查看右边的圆圈</p>
            </div>
            <div class="section section3">
                <h3>第三屏</h3>
                <p>圆圈还可以设置位置，颜色，加上 tip，点击可以控制</p>
            </div>
            <div class="section section4">
                <h3>第四屏</h3>
                <p>这是最后一屏</p>
            </div>
            <div class="section section1">
                <h3>第五屏</h3>
                <p>fullPage.js — 项目导航演示</p>
            </div>
            <div class="section section2">
                <h3>第六屏</h3>
                <p>请查看右边的圆圈</p>
            </div>
            <div class="section section3">
                <h3>第七屏</h3>
                <p>圆圈还可以设置位置，颜色，加上 tip，点击可以控制</p>
            </div>
            <div class="section section4">
                <h3>第八屏</h3>
                <p>这是最后一屏</p>
            </div>
            <div class="section section3">
                <h3>第三屏</h3>
                <p>圆圈还可以设置位置，颜色，加上 tip，点击可以控制</p>
            </div>
            <div class="section section4">
                <h3>第四屏</h3>
                <p>这是最后一屏</p>
            </div>
            <div class="section section1">
                <h3>第五屏</h3>
                <p>fullPage.js — 项目导航演示</p>
            </div>
            <div class="section section2">
                <h3>第六屏</h3>
                <p>请查看右边的圆圈</p>
            </div>
            <div class="section section3">
                <h3>第七屏</h3>
                <p>圆圈还可以设置位置，颜色，加上 tip，点击可以控制</p>
            </div>
            <div class="section section4">
                <h3>第八屏</h3>
                <p>这是最后一屏</p>
            </div>
        </div>
    </div>
    <!-- <section class="footer"></section> -->
</body>
<script type="text/javascript" src="https://vncdn.mobi88.cn/public/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="../js/md5.js"></script>
<script type="text/javascript" src="../js/LanguagePublic.js"></script>
<script type="text/javascript" src="../js/jquery.fullPage.min.js"></script>
<script src="http://cdn.staticfile.org/jquery-easing/1.3/jquery.easing.min.js"></script>
</script>
<script type="text/javascript">
    $(function() {
        $(".header").load("../common/header.html");
        // $(".footer").load("../common/fooder.html");

        $('#dowebok').fullpage({
            sectionsColor: ['#1bbc9b', '#4BBFC3', '#7BAABE', '#f90', '#1bbc9b', '#4BBFC3', '#1bbc9b', '#4BBFC3', '#7BAABE', '#f90', '#1bbc9b', '#4BBFC3', '#1bbc9b', '#4BBFC3'],
            'navigation': true,
            resize: true, //字体是否随窗口缩放而缩放，默认false
            navigationTooltips: ['首屏', '数据优势', '功能概述', '智能操控', '作业地图', '智能避障', '载重能力', '播撒效果', '黑夜作业', '三重定位', '双IMU', '喷洒系统', '品质配备', '后背隐藏能源'], //导航小圆点的提示
            scrollingSpeed: 1000,
            afterLoad: function(anchorLink, index) {
                console.log(index)
                if (index == 2) {
                    $('.section2').find('p').delay(100).animate({
                        left: '0'
                    }, 500, 'easeOutExpo');
                }
                if (index == 3) {
                    $('.section3').find('p').delay(100).animate({
                        bottom: '0'
                    }, 1500, 'easeOutExpo');
                }
                if (index == 4) {
                    $('.section4').find('p').fadeIn(2000);
                }
            },
            onLeave: function(index, direction) {
                if (index == '2') {
                    $('.section2').find('p').delay(500).animate({
                        left: '-120%'
                    }, 1500, 'easeOutExpo');
                }
                if (index == '3') {
                    $('.section3').find('p').delay(500).animate({
                        bottom: '-120%'
                    }, 1500, 'easeOutExpo');
                }
                if (index == '4') {
                    $('.section4').find('p').fadeOut(2000);
                }
            },
            afterRender: function() {},
            afterResize: function() {},
            afterSlideLoad: function(anchorLink, index, slideAnchor, slideIndex) {},
            onSlideLeave: function(anchorLink, index, slideIndex, direction, nextSlideIndex) {}

        });
    });
</script>

</html>