<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/logo2.png">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/public.css" />
    <link rel="stylesheet" href="../css/product_details.css" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/vivify.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/jquery.fullPage.css" />
    <script type="text/javascript" src="../js/public.js"></script>
    <title i18n="i18n.product">产品</title>
</head>
<body>
    <section class="header"></section>
    <div class="product-detailsBox">
        <div id="dowebok">
            <div class="section section1">
                <h1>YK6-30</h1>
                <p i18n="i18n.plantProtectionUAV">植保无人机</p>
            </div>
            <div class="section section2">
                <section class="selection2-text">
                    <section>
                        <p><span>96</span> <b i18n="i18n.product_details1">倍</b>
                            <br />
                            <p i18n="i18n.product_details2">的人工效率</p>
                        </p>
                    </section>
                    <section>
                        <p> <span>10</span><b i18n="i18n.product_details1">倍</b>
                            <br />
                            <p i18n="i18n.product_details3">的费用节省</p>
                        </p>
                    </section>
                    <section>
                        <p><i i18n="i18n.product_details4">优</i><b i18n="i18n.product_details5">质</b>
                            <br />
                            <p i18n="i18n.product_details6">的喷洒效率</p>
                        </p>
                    </section>
                </section>
                <section class="selection2_img">
                    <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img2_center.png" alt="">
                </section>
            </div>
            <div class="section section3">
                <h3 i18n="i18n.product_details7">强劲性能 非凡效率</h3>
                <p i18n="i18n.product_details8">全地形作业，应用场景多样化</p>
                <section class="section3_contain">
                    <section class="section3_contain_1">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img4_1.png" alt="">
                        <span i18n="i18n.product_details9">智能作业</span>
                    </section>
                    <section class="section3_contain_2">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img4_2.png" alt="">
                        <span i18n="i18n.product_details10">高效动力</span>
                    </section>
                    <section class="section3_contain_3">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img4_3.png" alt="">
                        <span i18n="i18n.product_details11">断点记忆</span>
                    </section>
                    <section class="section3_contain_4">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img4_4.png" alt="">
                        <span i18n="i18n.product_details12">智能避障</span>
                    </section>
                    <section class="section3_contain_5">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img4_5.png" alt="">
                        <span i18n="i18n.product_details13">四级抗风</span>
                    </section>
                    <section class="section3_contain_6">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img4_6.png" alt="">
                        <span i18n="i18n.product_details14">三重定位</span>
                    </section>
                    <section class="section3_contain_7">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img4_7.png" alt="">
                        <span i18n="i18n.product_details15">压力喷头</span>
                    </section>
                    <section class="section3_contain_8">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img4_8.png" alt="">
                        <span i18n="i18n.product_details16">急速充电</span>
                    </section>
                    <section class="section3_contain_9">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img4_9.png" alt="">
                        <span i18n="i18n.product_details17">超大载重</span>
                    </section>
                    <section class="section3_contain_10">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img4_10.png" alt="">
                        <span i18n="i18n.product_details18">数据监控</span>
                    </section>
                </section>
            </div>
            <div class="section section4">
                <h3 i18n="i18n.product_details19">全新智能化自主作业</h3>
                <p i18n="i18n.product_details20">提高工作效率，让无人机作业时航线更精准</p>
                <section class="box">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img4_1.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img4_2.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img4_3.jpg" alt="">
                            </div>
                        </div>

                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </section>


            </div>
            <div class="section section5">
                <h3 i18n="i18n.product_details21">多种操控模式，提供最优应用</h3>
                <span i18n="i18n.product_details22">自主规划每次作业的最佳航线以及应用模式</span>
                <section class="section5_contain">
                    <section class="section5_contain_1">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img5_11.png" alt="">
                        <p i18n="i18n.product_details23">手动模式</p>
                    </section>
                    <section class="section5_contain_2">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/dindian.png" alt="">
                        <p i18n="i18n.product_details78">定点航线</p>
                    </section>
                    <section class="section5_contain_3">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/duandian.png" alt="">
                        <p i18n="i18n.product_details24">断点航线</p>
                    </section>

                </section>
                <section class="section_5_img">
                    <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img5_1.png" alt="">
                </section>
            </div>
            <div class="section section6">
                <h3 i18n="i18n.product_details26">智能毫米波雷达避障</h3>
                <p i18n="i18n.product_details27">自动感知障碍物及周围环境，具备预判障碍物动态，使飞行作业更有保障</p>
                <section class="sectionContain">
                    <section class="section6_left">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img6_left.png" alt="">
                    </section>
                    <section class="section6_right">
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img6_right.png" alt="">
                    </section>
                </section>

            </div>
            <div class="section section7">
                <h3 i18n="i18n.product_details28">惊人的载重能力，效率升级</h3>
                <p i18n="i18n.product_details29">60斤超大容量药箱，专为大面积作业需求设计</p>
                <section class="section7_img">
                    <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img7-center.jpg" alt="">
                </section>
            </div>
            <div class="section section8">
                <h3 i18n="i18n.product_details30">革命性的撒播效率 无与伦比的均匀效果</h3>
                <p i18n="i18n.product_details31">大田植保效率达到新高度，配合数字解决方案，撒播效果出类拔萃</p>
                <section class="section8_img">
                    <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img8-center.jpg" alt="">
                </section>
            </div>
            <div class="section section9">
                <h3 i18n="i18n.product_details32">全时飞防 不惧黑夜 无忧作业</h3>
                <p i18n="i18n.product_details33">FPV前视广角摄像头+高亮夜航灯 照亮你的夜晚飞防路</p>
                <section class="section9_img">
                    <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/9_bg-center.jpg" alt="">
                </section>
            </div>
            <div class="section section10">
                <h3 i18n="i18n.product_details34">三重定位 拒绝失联</h3>
                <p i18n="i18n.product_details35">GPS、北斗、GLONASS三重定位技术，锁定作业机，确保作业安全</p>
                <section class="section10_img">
                    <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/10_bg-center.jpg" alt="">
                </section>
            </div>
            <div class="section section11">
                <h3 i18n="i18n.product_details36">双IMU 更稳定</h3>
                <p i18n="i18n.product_details37">高能的控制系统，强大的智能算法</p>
                <ul>
                    <li>
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/11_icon1.png" alt="">
                        <h4 i18n="i18n.product_details38">精准控制</h4>
                        <span i18n="i18n.product_details39">航线飞行精度提高25%,垂直控制精度提升20%,轨迹更精准,飞行更平滑
                        </span>
                    </li>
                    <li>
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/11_icon2.png" alt="">
                        <h4 i18n="i18n.product_details40">抗震性强</h4>
                        <span i18n="i18n.product_details41">减少震动影响，机架老化也能飞行稳定，减少售后维护的投入
                        </span>
                    </li>
                    <li>
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/11_icon3.png" alt="">
                        <h4 i18n="i18n.product_details42">双CPU</h4>
                        <span i18n="i18n.product_details43">双CPU配置处理功能，更强大，可支持1000Hz电调控制
                        </span>
                    </li>
                    <li>
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/11_icon4.png" alt="">
                        <h4 i18n="i18n.product_details44">姿态控制</h4>
                        <span i18n="i18n.product_details45">姿态控制稳定性提升，一倍控制，更稳定抗风性更好
                        </span>
                    </li>
                    <li>
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/11_icon5.png" alt="">
                        <h4 i18n="i18n.product_details46">多冗余备份</h4>
                        <span i18n="i18n.product_details47">三冗余IMU，双冗余气压计，飞行更安全
                        </span>
                    </li>
                    <li>
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/11_icon6.png" alt="">
                        <h4 i18n="i18n.product_details48">降噪省电</h4>
                        <span i18n="i18n.product_details49">电机噪点较小三倍，省电5~15%，飞行声音更小
                        </span>
                    </li>
                    <li>
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/11_icon7.png" alt="">
                        <h4 i18n="i18n.product_details50">免校准</h4>
                        <span i18n="i18n.product_details51">工业级传感器配置一次，校准终生免IMU校准
                        </span>
                    </li>
                    <li>
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/11_icon8.png" alt="">
                        <h4 i18n="i18n.product_details52">备份电源</h4>
                        <span i18n="i18n.product_details53">主控支持备份电源接口，供电更可靠
                        </span>
                    </li>
                </ul>
                <section class="section11_img">
                    <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/11_bg.png" alt="">
                </section>
            </div>
            <div class="section section12">
                <h3 i18n="i18n.product_details54">全新播撒系统配备 为喷洒配备强劲动力</h3>
                <p i18n="i18n.product_details55">多重空气动力学优化，12喷头布局，播幅大8米，每小时可施肥1吨</p>
                <section class="section12_img">
                    <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/12_bg-center.jpg" alt="">
                </section>
            </div>
            <div class="section section13">
                <h3 i18n="i18n.product_details56">无忧配备 精良材质</h3>
                <p i18n="i18n.product_details57">高品质装备配置，为工作作业带来更多工作保障</p>
                <ul>
                    <li>
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/13_icon1.png" alt="">
                        <p i18n="i18n.product_details58">高效压力喷头</p>
                        <span i18n="i18n.product_details59">雾滴数量提升100%</span>
                    </li>
                    <li>
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/13_icon2.png" alt="">
                        <p i18n="i18n.product_details60">大功率隔膜泵</p>
                        <span i18n="i18n.product_details61">喷洒流量可达5.5L/min</span>
                        <span i18n="i18n.product_details62">喷洒最高可达8米</span>
                    </li>
                    <li>
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/13_icon3.png" alt="">
                        <p i18n="i18n.product_details64">30L大药箱</p>
                        <span i18n="i18n.product_details65">专为史大面积作业需求设计</span>
                        <span  i18n="i18n.product_details65">加大进药口,效率升级</span>
                    </li>
                    <li>
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/13_icon4.png" alt="">
                        <p i18n="i18n.product_details66">高强度防水外壳</p>
                        <span i18n="i18n.product_details67">采用全封闭外壳</span>
                    </li>
                    <li>
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/13_icon5.png" alt="">
                        <p i18n="i18n.product_details68">碳纤维桨叶</p>
                        <span i18n="i18n.product_details69">桨叶与机臂</span>
                        <span i18n="i18n.product_details70">使用碳纤维材质</span>
                    </li>
                    <li>
                        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/13_icon6.png" alt="">
                        <p i18n="i18n.product_details71">v字型脚架</p>
                        <span i18n="i18n.product_details72">v字型</span>
                        <span i18n="i18n.product_details73">脚架设计抗风更稳定</span>
                    </li>
                </ul>
            </div>
            <div class="section section14">
                <h3 i18n="i18n.product_details74">超强续航极速充电</h3>
                <p i18n="i18n.product_details75">超大容量续航，内置智能电源管理系统，25分钟即可充满一组电池，循环更轻松</p>
                <section class="section14_img">
                    <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/14_bg-center.jpg" alt="">
                </section>
            </div>
            <div class="section section15">
                <h3 i18n="i18n.product_details76">更多机型 任意选择</h3>
                <p i18n="i18n.product_details77">可根据实际作业需求，按需选择</p>
                <section class="section15_contain">
                    <section class="section15_contain_1">
                        <section class="section15_select">
                            <span>YK6-10L</span>
                            <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img16_icon.png" alt="">
                        </section>
                        <section class="section15_select_img">
                            <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img16_1.png" alt="">
                        </section>
                    </section>
                    <section class="section15_contain_1">
                        <section class="section15_select">
                            <span>YK6-16L</span>
                            <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img16_icon.png" alt="">
                        </section>
                        <section class="section15_select_img">
                            <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img16_2.png" alt="">
                        </section>
                    </section>
                    <section class="section15_contain_1">
                        <section class="section15_select">
                            <span>YK6-22L</span>
                            <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img16_icon.png" alt="">
                        </section>
                        <section class="section15_select_img">
                            <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img16_3.png" alt="">
                        </section>

                    </section>
                    <section class="section15_contain_1">
                        <section class="section15_select">
                            <span>YK6-25L</span>
                            <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img16_icon.png" alt="">
                        </section>
                        <section class="section15_select_img">
                            <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img16_4.png" alt="">                        </section>
                    </section>
                </section>
            </div>
            <div class="section section16">
                <h3 i18n="i18n.supportServices">支持定制服务</h3>
                <p i18n="i18n.according">可根据实际作业需求，提供全案定制服务</p>
                <div class="section16_button" onclick="window.location.href = '/components/distributor.html'" i18n="i18n.lianxiwom">
                    联系我们
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="https://vncdn.mobi88.cn/public/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="../js/jquery.fullPage.min.js"></script>
<script src="http://cdn.staticfile.org/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script type="text/javascript">
    $(function() {
        $(".header").load("../common/header.html");
        // $(".footer").load("../common/fooder.html");
        $('#dowebok').fullpage({
            sectionsColor: ['#131313', '#4BBFC3', '#7BAABE', '#f90', '#1bbc9b', '#4BBFC3', '#1bbc9b', '#4BBFC3', '#0A0A0A', '#0A0A0A', '#131313', '#131313', '#212121', '#00000A', '#212121', '#00000A'],
            'navigation': true,
            resize: true, //字体是否随窗口缩放而缩放，默认false
            navigationTooltips: ['首屏', '数据优势', '功能概述', '智能操控', '作业地图', '智能避障', '载重能力', '播撒效果', '黑夜作业', '三重定位', '双IMU', '喷洒系统', '品质配备', '后背隐藏能源', '更多机型', '定制服务'], //导航小圆点的提示
            scrollingSpeed: 1000,
            easing: 'swing', //定义页面section滚动的动画方式，若修改此项需引入jquery.easing插件
            easingcss3: 'ease', //定义页面section滚动的过渡效果，若修改此项需引入第三方插件
            afterLoad: function(anchorLink, index) {
                console.log(index)
                if (index == 2) {
                    $('.section2').find('.selection2-text').delay(100).animate({
                        left: '0'
                    }, 500, 'easeOutExpo');
                }
                if (index == 3) {
                    $('.section3').find('p').fadeIn(2000);
                    $('.section3').find('h3').fadeIn(2000);
                    // $('.section3').find('.section3_contain').fadeIn(2000);
                }
                if (index == 4) {
                    $('.section4').find('p').fadeIn(2000);
                    $('.section4').find('h3').fadeIn(2000);
                }
                if (index == 5) {
                    $('.section5').find('span').delay(100).animate({
                        bottom: '0'
                    }, 1500, 'easeOutExpo');
                }
                if (index == 7) {
                    $('.section7').find('p').delay(100).animate({
                        bottom: '0'
                    }, 1500, 'easeOutExpo');
                }
                if (index == 8) {
                    $('.section8').find('p').fadeIn(2000);
                }
                if (index == 9) {
                    $('.section9').find('p').delay(500).animate({
                        left: '0'
                    }, 1500, 'easeOutExpo');
                    $('.section9').find('h3').fadeIn(2000);
                }
                if (index == 10) {
                    $('.section10').find('p').delay(500).animate({
                        right: '0'
                    }, 1500, 'easeOutExpo');
                    $('.section10').find('h3').fadeIn(2000);
                }
                if (index == 11) {
                    $('.section11').find('p').delay(500).animate({
                        left: '0'
                    }, 1500, 'easeOutExpo');
                    $('.section11').find('h3').fadeIn(2000);
                }
                if (index == 12) {
                    $('.section12').find('p').delay(500).animate({
                        right: '0'
                    }, 1500, 'easeOutExpo');
                    $('.section12').find('h3').fadeIn(2000);
                }
                if (index == 13) {
                    $('.section13').find('p').delay(500).animate({
                        left: '0'
                    }, 1500, 'easeOutExpo');
                    $('.section13').find('h3').fadeIn(2000);
                }
                if (index == 14) {
                    $('.section14').find('p').fadeIn(2000);
                    $('.section14').find('h3').fadeIn(2000);
                }
                if (index == 15) {
                    $('.section15').find('p').delay(100).animate({
                        bottom: '0'
                    }, 1500, 'easeOutExpo');
                }
            },
            onLeave: function(index, direction) {
                if (index == '2') {
                    $('.section2').find('.selection2-text').delay(500).animate({
                        left: '-120%'
                    }, 1500, 'easeOutExpo');
                }
                if (index == '3') {
                    $('.section3').find('p').fadeOut(2000);
                    $('.section3').find('h3').fadeOut(2000);
                    // $('.section3').find('.section3_contain ').fadeOut(2000);
                }
                if (index == '4') {
                    $('.section4').find('p').fadeOut(2000);
                    $('.section4').find('h3').fadeOut(2000);
                }
                if (index == '5') {
                    $('.section5').find('span').delay(500).animate({
                        bottom: '-120%'
                    }, 1500, 'easeOutExpo');
                }
                // if (index == '6') {
                //     $('.section6').find('p').fadeOut(2000);
                // }
                if (index == '7') {
                    $('.section7').find('p').delay(500).animate({
                        bottom: '-120%'
                    }, 1500, 'easeOutExpo');
                }
                if (index == '8') {
                    $('.section8').find('p').fadeOut(2000);
                }
                if (index == 9) {
                    $('.section9').find('p').delay(500).animate({
                        left: '-120%'
                    }, 1500, 'easeOutExpo');
                    $('.section9').find('h3').fadeOut(2000);
                }
                if (index == 10) {
                    $('.section10').find('p').delay(500).animate({
                        right: '-120%'
                    }, 1500, 'easeOutExpo');
                    $('.section10').find('h3').fadeOut(2000);
                }
                if (index == 11) {
                    $('.section11').find('p').delay(500).animate({
                        left: '-120%'
                    }, 1500, 'easeOutExpo');

                }
                if (index == 12) {
                    $('.section12').find('p').delay(500).animate({
                        right: '-120%'
                    }, 1500, 'easeOutExpo');
                    $('.section12').find('h3').fadeOut(2000);
                }
                if (index == 13) {
                    $('.section13').find('p').delay(500).animate({
                        left: '-120%'
                    }, 1500, 'easeOutExpo');

                }
                if (index == 14) {
                    $('.section14').find('p').fadeOut(2000);
                    $('.section14').find('h3').fadeOut(2000);
                }
                if (index == '15') {
                    $('.section15').find('p').delay(500).animate({
                        bottom: '-120%'
                    }, 1500, 'easeOutExpo');
                }
            },
            afterRender: function() {},
            afterResize: function() {},
            afterSlideLoad: function(anchorLink, index, slideAnchor, slideIndex) {},
            onSlideLeave: function(anchorLink, index, slideIndex, direction, nextSlideIndex) {}

        });
        $(".section11 ul li").hover(function(e) {
            let str = $(this)[0].children[0].src.split('icon')[1]
            $(this)[0].children[0].src = 'https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/11_iconActive' + str;
            $(this).addClass("liActive");
        }, function(e) {
            console.log(e)
            let str = $(this)[0].children[0].src.split('iconActive')[1]
            $(this)[0].children[0].src = 'https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/11_icon' + str;
            $(this).removeClass("liActive");
        });
        $(".section3_contain_1").on('mouseover', function() {
            $(".section3_contain_1 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img4_11.png");
        })
        $(".section3_contain_1").on('mouseleave', function() {
            $(".section3_contain_1 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img4_1.png");
        })
        $(".section3_contain_2").on('mouseover', function() {
            $(".section3_contain_2 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img4_12.png");
        })
        $(".section3_contain_2").on('mouseleave', function() {
            $(".section3_contain_2 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img4_2.png");
        })
        $(".section3_contain_3").on('mouseover', function() {
            $(".section3_contain_3 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img4_13.png");
        })
        $(".section3_contain_3").on('mouseleave', function() {
            $(".section3_contain_3 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img4_3.png");
        })
        $(".section3_contain_4").on('mouseover', function() {
            $(".section3_contain_4 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img4_14.png");
        })
        $(".section3_contain_4").on('mouseleave', function() {
            $(".section3_contain_4 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img4_4.png");
        })
        $(".section3_contain_5").on('mouseover', function() {
            $(".section3_contain_5 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img4_15.png");
        })
        $(".section3_contain_5").on('mouseleave', function() {
            $(".section3_contain_5 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img4_5.png");
        })
        $(".section3_contain_6").on('mouseover', function() {
            $(".section3_contain_6 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img4_16.png");
        })
        $(".section3_contain_6").on('mouseleave', function() {
            $(".section3_contain_6 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img4_6.png");
        })
        $(".section3_contain_7").on('mouseover', function() {
            $(".section3_contain_7 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img4_17.png");
        })
        $(".section3_contain_7").on('mouseleave', function() {
            $(".section3_contain_7 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img4_7.png");
        })
        $(".section3_contain_8").on('mouseover', function() {
            $(".section3_contain_8 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img4_18.png");
        })
        $(".section3_contain_8").on('mouseleave', function() {
            $(".section3_contain_8 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img4_8.png");
        })
        $(".section3_contain_9").on('mouseover', function() {
            $(".section3_contain_9 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img4_19.png");
        })
        $(".section3_contain_9").on('mouseleave', function() {
            $(".section3_contain_9 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img4_9.png");
        })
        $(".section3_contain_10").on('mouseover', function() {
            $(".section3_contain_10 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img4_20.png");
        })
        $(".section3_contain_10").on('mouseleave', function() {
            $(".section3_contain_10 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img4_10.png");
        });
        // 第五屏
        $(".section5_contain_1").on('click', function() {
            $(".section_5_img img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img5_1.png");
            $(".section5_contain_2 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/dindian.png");
            $(".section5_contain_3 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/duandian.png");
            $(".section5_contain_1 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img5_11.png");
            $(" .section5_contain_1 p").css("cssText", "color:red !important");
            $(" .section5_contain_2 p").css("cssText", "color: black!important");
            $(" .section5_contain_3 p").css("cssText", "color: black!important");
        });
        $(".section5_contain_2").on('click', function() {
            $(".section_5_img img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img5_2.png");
            $(".section5_contain_1 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/shoudong.png");
            $(".section5_contain_3 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/duandian.png");
            $(".section5_contain_2 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img5_12.png");
            $(".section5_contain_2 p").css("cssText", "color: red !important");
            $(" .section5_contain_1 p").css("cssText", "color: black!important");
            $(" .section5_contain_3 p").css("cssText", "color: black!important");
        });
        $(".section5_contain_3").on('click', function() {
            $(".section_5_img img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img5_3.png");
            $(".section5_contain_1 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img5_1.png");
            $(".section5_contain_2 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/dindian.png");
            $(".section5_contain_1 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/shoudong.png");
            $(".section5_contain_3 img").attr("src", "https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/back_img5_13.png");
            $(".section5_contain_3 p").css("cssText", "color: red !important");
            $(" .section5_contain_1 p").css("cssText", "color: black!important");
            $(" .section5_contain_2 p").css("cssText", "color: black!important");
        });
    });

    //  轮播图
    var mySwiper = new Swiper('.swiper-container', {
        direction: 'horizontal', // 垂直切换选项
        loop: true, // 循环模式选项
        autoplay: true,
        autoplayDisableOnInteraction: false,
        speed: 300,
        // 如果需要前进后退按钮
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    })
</script>



</html>