<!--
 * @Author: your name
 * @Date: 2021-06-16 10:46:30
 * @LastEditTime: 2021-07-05 17:59:53
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \hqtc_pc\components\product.html
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="无人机,植保,植保无人机,农业,农业无人机,消防,消防无人机,华启,华启天成,天成,华启无人机,华启消防无人机,华启植保无人机" />
	<meta name="description" content="华启天成（深圳）智能科技有限公司，主要从事行业级无人机和无人机相关产品的研发和制造，公司产品覆盖各行业各领域，是一家专业的无人机解决方案提供商，公司致力于在5G大数据时代，结合AR大数据等技术，针对不同行业的痛点，提供智能专业的无人机产品。" />
	<meta name="author" content="华启天成(深圳)智能科技有限公司 www.hqtcsz.cn" />
    <link rel="shortcut icon" href="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/logo2.png">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/public.css" />
    <link rel="stylesheet" href="../css/product.css" />
    <link rel="stylesheet" href="../css/vivify.min.css" />
    <script type="text/javascript" src="../js/public.js"></script>
    <title i18n="i18n.product">产品</title>
</head>

<body>
    <section class="header"></section>
    <div class="productContaner">
        <span class="product-title" i18n="i18n.zhihui">智慧产品线</span>
        <div class="nongye-drone">
            <div>
                <span>
                    <span></span>
                </span>
                <span i18n="i18n.plantProtectionUAV">植保无人机</span>
            </div>
            <ul>
                <li onclick="window.location.href='../components/product_details.html'">
                    <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/YK6-30.png" alt="">
                    <span>YK6-30</span>
                </li>
            </ul>
        </div>
        <div class="nongye-drone">
            <div>
                <span>
                    <span></span>
                </span>
                <span i18n="i18n.firefightingdrone">消防无人机</span>
            </div>
            <ul>
                <li onclick="window.location.href='../components/fireBomb_details.html'">
                    <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/pochuan.png" alt="">
                    <span>高级破窗灭火弹无人机</span>
                </li>
                <li onclick="window.location.href='../components/dry_Powder_Uav.html'">
                    <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/ganfen.png" alt="">
                    <span>超细干粉灭火无人机</span>
                </li>
                <li onclick="window.location.href='../components/water_Based_details.html'">
                    <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/shuiji.png" alt="">
                    <span>水基灭火弹无人机</span>
                </li>
            </ul>
        </div>
    </div>
    <section class="footer"></section>
</body>
<script type="text/javascript" src="https://vncdn.mobi88.cn/public/jquery-2.1.3.min.js"></script>
<script type="text/javascript">
    $(function() {
        $(".header").load("../common/header.html");
        $(".footer").load("../common/fooder.html");
    });
</script>

</html>