<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/public.css" />
    <link rel="stylesheet" href="../css/product_details.css" />
    <link rel="stylesheet" href="/css/vivify.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/jquery.fullPage.css" />
    <script type="text/javascript" src="/js/public.js"></script>
    <title>产品</title>
</head>

<body>
    <section class="header"></section>
    <div class="product-detailsBox">
        <div id="dowebok">
            <div class="section section1">
                <h1>YK6-30</h1>
                <p>植保无人机</p>
            </div>
            <div class="section section2">
                <section class="selection2-text">
                    <section>
                        <p><span>96</span> 倍
                            <br />的人工效率
                        </p>
                    </section>
                    <section>
                        <p> <span>10</span> 倍
                            <br />的费用节省
                        </p>
                    </section>
                    <section>
                        <p><span>优</span> 质
                            <br />的喷洒效率
                        </p>
                    </section>
                </section>
            </div>
            <div class="section section3">
                <h3>强劲性能&nbsp;非凡效率</h3>
                <p>全地形作业，应用场景多样化</p>
                <section class="section3_contain">
                    <section class="section3_contain_1">
                        <img src="../img/back_img4_ash/back_img4_1.png" alt="">
                        <span>智能作业</span>
                    </section>
                    <section class="section3_contain_2">
                        <img src="../img/back_img4_ash/back_img4_2.png" alt="">
                        <span>高效动力</span>
                    </section>
                    <section class="section3_contain_3">
                        <img src="../img/back_img4_ash/back_img4_3.png" alt="">
                        <span>断点记忆</span>
                    </section>
                    <section class="section3_contain_4">
                        <img src="../img/back_img4_ash/back_img4_4.png" alt="">
                        <span>智能避障</span>
                    </section>
                    <section class="section3_contain_5">
                        <img src="../img/back_img4_ash/back_img4_5.png" alt="">
                        <span>四级抗风</span>
                    </section>
                    <section class="section3_contain_6">
                        <img src="../img/back_img4_ash/back_img4_6.png" alt="">
                        <span>三重定位</span>
                    </section>
                    <section class="section3_contain_7">
                        <img src="../img/back_img4_ash/back_img4_7.png" alt="">
                        <span>压力喷头</span>
                    </section>
                    <section class="section3_contain_8">
                        <img src="../img/back_img4_ash/back_img4_8.png" alt="">
                        <span>急速充电</span>
                    </section>
                    <section class="section3_contain_9">
                        <img src="../img/back_img4_ash/back_img4_9.png" alt="">
                        <span>超大载重</span>
                    </section>
                    <section class="section3_contain_10">
                        <img src="../img/back_img4_ash/back_img4_10.png" alt="">
                        <span>数据监控</span>
                    </section>
                </section>
            </div>
            <div class="section section4">
                <h3>全新智能化自主作业</h3>
                <p>提高工作效率，让无人机作业时航线更精准</p>
               
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">Slide 1</div>
                            <div class="swiper-slide">Slide 2</div>
                            <div class="swiper-slide">Slide 3</div>
                        </div>
                        <!-- 如果需要导航按钮 -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>

                    </div>
            </div>
            <div class="section section5">
                <h3>多种操控模式，提供最优应用</h3>
                <span>自主规划每次作业的最佳航线以及应用模式</span>
                <section class="section5_contain">
                    <section class="section5_contain_1">
                        <img src="../img/back_img5_ash/back_img5_1.png" alt="">
                        <p>手动模式</p>
                    </section>
                    <section class="section5_contain_2">
                        <img src="../img/back_img5_ash/back_img5_2.png" alt="">
                        <p>定点航线</p>
                    </section>
                    <section class="section5_contain_3">
                        <img src="../img/back_img5_ash/back_img5_3.png" alt="">
                        <p>断点航线</p>
                    </section>

                </section>
                <section class="section_5_img">
                    <img src="../img/back_img5_1.png" alt="">
                </section>
                <p>三种模式均支持断电续航</p>
            </div>
            <div class="section section6">
                <h3>智能毫米波雷达避障</h3>
                <p>自动感知障碍物及周围环境，具备预判障碍物动态，使飞行作业更有保障</p>
            </div>
            <div class="section section7">
                <h3>惊人的载重能力，效率升级</h3>
                <p>60斤超大容量药箱，专为大面积作业需求设计</p>
            </div>
            <div class="section section8">
                <h3>革命性的撒播效率&nbsp;无与伦比的均匀效果</h3>
                <p>大田植保效率达到新高度，配合数字解决方案，撒播效果出类拔萃</p>
            </div>
            <div class="section section9">
                <h3>全时飞防 不惧黑夜 无忧作业</h3>
                <p>FPV前视广角摄像头+高亮夜航灯 照亮你的夜晚飞防路</p>
            </div>
            <div class="section section10">
                <h3>三重定位 拒绝失联</h3>
                <p>GPS、北斗、GLONASS三重定位技术，锁定作业机，确保作业安全</p>
            </div>
            <div class="section section11">
                <h3>双IMU 更稳定</h3>
                <p>高能的控制系统，强大的只能算法</p>
                <ul>
                    <li>
                        <img src="../img/11_icon1.png" alt="">
                        <h4>精准控制</h4>
                        <span>航线飞行精度提高25%,垂直控制精度提升20%,轨迹更精准,飞行更平滑
                        </span>
                    </li>
                    <li>
                        <img src="../img/11_icon2.png" alt="">
                        <h4>抗震性强</h4>
                        <span>减少震动影响，机架老化也能飞行稳定，减少售后维护的投入
                        </span>
                    </li>
                    <li>
                        <img src="../img/11_icon3.png" alt="">
                        <h4>双CPU</h4>
                        <span>双CPU配置处理功能，更强大，可支持1000Hz电调控制
                        </span>
                    </li>
                    <li>
                        <img src="../img/11_icon4.png" alt="">
                        <h4>姿态控制</h4>
                        <span>姿态控制稳定性提升，一倍控制，更稳定抗风性更好
                        </span>
                    </li>
                    <li>
                        <img src="../img/11_icon5.png" alt="">
                        <h4>多冗余备份</h4>
                        <span>三冗余IMU，双冗余气压计，飞行更安全
                        </span>
                    </li>
                    <li>
                        <img src="../img/11_icon6.png" alt="">
                        <h4>降噪省电</h4>
                        <span>电机噪点较小三倍，省电5~15%，飞行声音更小
                        </span>
                    </li>
                    <li>
                        <img src="../img/11_icon7.png" alt="">
                        <h4>免校准</h4>
                        <span>工业级传感器配置一次，校准终生免IMU校准
                        </span>
                    </li>
                    <li>
                        <img src="../img/11_icon8.png" alt="">
                        <h4>备份电源</h4>
                        <span>主控支持备份电源接口，供电更可靠
                        </span>
                    </li>
                </ul>
            </div>
            <div class="section section12">
                <h3>全新播撒系统配备 为喷洒配备强劲动力</h3>
                <p>多重空气动力学优化，12喷头布局，播幅大8米，每小时可施肥1吨</p>
            </div>
            <div class="section section13">
                <h3>无忧配备 精良材质</h3>
                <p>高品质装备配置，为工作作业带来更多工作保障</p>
                <ul>
                    <li>
                        <img src="../img/13_icon1.png" alt="">
                        <span>高效压力喷头</span>
                        <span>雾滴数量提升100%</span>
                    </li>
                    <li>
                        <img src="../img/13_icon2.png" alt="">
                        <span>大功率隔膜泵</span>
                        <span>喷洒流量可达5.5L/min</span>
                        <span>喷洒最高可达8米</span>
                        <span>快拆药泵,随时更换</span>
                    </li>
                    <li>
                        <img src="../img/13_icon3.png" alt="">
                        <span>30L大药箱</span>
                        <span>专为史大面积作业需求设计加大进药口,效率升级</span>
                    </li>
                    <li>
                        <img src="../img/13_icon4.png" alt="">
                        <span>高强度防水外壳</span>
                        <span>采用全封闭外壳</span>
                    </li>
                    <li>
                        <img src="../img/13_icon5.png" alt="">
                        <span>碳纤维桨叶</span>
                        <span>桨叶与机臂</span>
                        <span>使用碳纤维材质</span>
                    </li>
                    <li>
                        <img src="../img/13_icon6.png" alt="">
                        <span>碳纤维桨叶</span>
                        <span>v字型</span>
                        <span>脚架设计抗风更稳定</span>
                    </li>
                </ul>
            </div>
            <div class="section section14">
                <h3>超强续航极速充电</h3>
                <p>超大容量续航，内置智能电源管理系统，25分钟即可充满一组电池，循环更轻松</p>
            </div>
            <div class="section section15">
                <h3>更多机型&nbsp;任意选择</h3>
                <p>可根据实际作业需求，按需选择</p>
                <section class="section15_contain">
                    <section class="section15_contain_1">
                        <section class="section15_select">
                            <span>YK6-10L</span>
                            <img src="../img/back_img16_icon.png" alt="">
                        </section>
                        <section class="section15_select_img">
                            <img src="../img/back_img16_1.png" alt="">
                        </section>
                    </section>
                    <section class="section15_contain_1">
                        <section class="section15_select">
                            <span>YK6-16L</span>
                            <img src="../img/back_img16_icon.png" alt="">
                        </section>
                        <section class="section15_select_img">
                            <img src="../img/back_img16_2.png" alt="">
                        </section>
                    </section>
                    <section class="section15_contain_1">
                        <section class="section15_select">
                            <span>YK6-22L</span>
                            <img src="../img/back_img16_icon.png" alt="">
                        </section>
                        <section class="section15_select_img">
                            <img src="../img/back_img16_3.png" alt="">
                        </section>

                    </section>
                    <section class="section15_contain_1">
                        <section class="section15_select">
                            <span>YK6-25L</span>
                            <img src="../img/back_img16_icon.png" alt="">
                        </section>
                        <section class="section15_select_img">
                            <img src="../img/back_img16_4.png" alt="">
                        </section>

                    </section>
                </section>
            </div>
            <div class="section section16">
                <h3>支持定制服务</h3>
                <p>可根据实际作业需求，提供全安定制服务</p>
                <section class="section16_button">
                    联系我们
                </section>
            </div>
        </div>
    </div>
    <!-- <section class="footer"></section> -->
</body>
<script type="text/javascript" src="https://vncdn.mobi88.cn/public/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="../js/md5.js"></script>
<script type="text/javascript" src="../js/LanguagePublic.js"></script>
<script type="text/javascript" src="../js/jquery.fullPage.min.js"></script>
<script src="http://cdn.staticfile.org/jquery-easing/1.3/jquery.easing.min.js"></script>
<script type="text/javascript">
    $(function () {
        $(".header").load("../common/header.html");
        // $(".footer").load("../common/fooder.html");
        $('#dowebok').fullpage({
            sectionsColor: ['#1bbc9b', '#4BBFC3', '#7BAABE', '#f90', '#1bbc9b', '#4BBFC3', '#1bbc9b', '#4BBFC3', '#0A0A0A', '#0A0A0A', '#131313', '#131313', '#212121', '#00000A', '#212121', '#00000A'],
            'navigation': true,
            resize: true, //字体是否随窗口缩放而缩放，默认false
            navigationTooltips: ['首屏', '数据优势', '功能概述', '智能操控', '作业地图', '智能避障', '载重能力', '播撒效果', '黑夜作业', '三重定位', '双IMU', '喷洒系统', '品质配备', '后背隐藏能源', '品质配备', '后背隐藏能源'], //导航小圆点的提示
            scrollingSpeed: 1000,
            easing: 'swing', //定义页面section滚动的动画方式，若修改此项需引入jquery.easing插件
            easingcss3: 'ease', //定义页面section滚动的过渡效果，若修改此项需引入第三方插件
            afterLoad: function (anchorLink, index) {
                console.log(index)
                if (index == 2) {
                    $('.section2').find('.selection2-text').delay(100).animate({
                        left: '0'
                    }, 500, 'easeOutExpo');
                }
                if (index == 3) {
                    $('.section3').find('p').delay(100).animate({
                        bottom: '0'
                    }, 1500, 'easeOutExpo');
                }
                if (index == 4) {
                    $('.section4').find('p').fadeIn(2000);
                }
                if (index == 5) {
                    $('.section5').find('span').delay(100).animate({
                        bottom: '0'
                    }, 1500, 'easeOutExpo');
                }
                if (index == 6) {
                    $('.section6').find('p').fadeIn(2000);
                }
                if (index == 7) {
                    $('.section7').find('p').delay(100).animate({
                        bottom: '0'
                    }, 1500, 'easeOutExpo');
                }
                if (index == 8) {
                    $('.section8').find('p').fadeIn(2000);
                }
                if (index == 9) {
                    $('.section9').find('p').delay(500).animate({
                        left: '0'
                    }, 1500, 'easeOutExpo');
                    $('.section9').find('h3').fadeIn(2000);
                }
                if (index == 10) {
                    $('.section10').find('p').delay(500).animate({
                        right: '0'
                    }, 1500, 'easeOutExpo');
                    $('.section10').find('h3').fadeIn(2000);
                }
                if (index == 11) {
                    $('.section11').find('p').delay(500).animate({
                        left: '0'
                    }, 1500, 'easeOutExpo');
                    $('.section11').find('h3').fadeIn(2000);
                }
                if (index == 12) {
                    $('.section12').find('p').delay(500).animate({
                        right: '0'
                    }, 1500, 'easeOutExpo');
                    $('.section12').find('h3').fadeIn(2000);
                }
                if (index == 13) {
                    $('.section13').find('p').delay(500).animate({
                        left: '0'
                    }, 1500, 'easeOutExpo');
                    $('.section13').find('h3').fadeIn(2000);
                }
                if (index == 14) {
                    $('.section14').find('p').delay(500).animate({
                        right: '0'
                    }, 1500, 'easeOutExpo');
                    $('.section14').find('h3').fadeIn(2000);
                }
                if (index == 15) {
                    $('.section15').find('p').delay(100).animate({
                        bottom: '0'
                    }, 1500, 'easeOutExpo');
                }
            },
            onLeave: function (index, direction) {
                if (index == '2') {
                    $('.section2').find('.selection2-text').delay(500).animate({
                        left: '-120%'
                    }, 1500, 'easeOutExpo');
                }
                if (index == '3') {
                    $('.section3').find('p').delay(500).animate({
                        bottom: '-120%'
                    }, 1500, 'easeOutExpo');
                }
                if (index == '4') {
                    $('.section4').find('p').fadeOut(2000);
                }
                if (index == '5') {
                    $('.section5').find('span').delay(500).animate({
                        bottom: '-120%'
                    }, 1500, 'easeOutExpo');
                }
                if (index == '6') {
                    $('.section6').find('p').fadeOut(2000);
                }
                if (index == '7') {
                    $('.section7').find('p').delay(500).animate({
                        bottom: '-120%'
                    }, 1500, 'easeOutExpo');
                }
                if (index == '8') {
                    $('.section8').find('p').fadeOut(2000);
                }
                if (index == 9) {
                    $('.section9').find('p').delay(500).animate({
                        left: '-120%'
                    }, 1500, 'easeOutExpo');
                    $('.section9').find('h3').fadeOut(2000);
                }
                if (index == 10) {
                    $('.section10').find('p').delay(500).animate({
                        right: '-120%'
                    }, 1500, 'easeOutExpo');
                    $('.section10').find('h3').fadeOut(2000);
                }
                if (index == 11) {
                    $('.section11').find('p').delay(500).animate({
                        left: '-120%'
                    }, 1500, 'easeOutExpo');

                }
                if (index == 12) {
                    $('.section12').find('p').delay(500).animate({
                        right: '-120%'
                    }, 1500, 'easeOutExpo');
                    $('.section12').find('h3').fadeOut(2000);
                }
                if (index == 13) {
                    $('.section13').find('p').delay(500).animate({
                        left: '-120%'
                    }, 1500, 'easeOutExpo');

                }
                if (index == 14) {
                    $('.section14').find('p').delay(500).animate({
                        right: '-120%'
                    }, 1500, 'easeOutExpo');
                    $('.section14').find('h3').fadeOut(2000);
                }
                if (index == '15') {
                    $('.section15').find('p').delay(500).animate({
                        bottom: '-120%'
                    }, 1500, 'easeOutExpo');
                }
            },
            afterRender: function () { },
            afterResize: function () { },
            afterSlideLoad: function (anchorLink, index, slideAnchor, slideIndex) { },
            onSlideLeave: function (anchorLink, index, slideIndex, direction, nextSlideIndex) { }

        });
        $(".section11 ul li").hover(function (e) {
            let str = $(this)[0].children[0].src.split('icon')[1]
            $(this)[0].children[0].src = '../img/11_iconActive' + str;
            $(this).addClass("liActive");
        }, function (e) {
            console.log(e)
            let str = $(this)[0].children[0].src.split('iconActive')[1]
            $(this)[0].children[0].src = '../img/11_icon' + str;
            $(this).removeClass("liActive");
        });
        $(".section3_contain_1").on('mouseover', function () {
            $(".section3_contain_1 img").attr("src", "../img/back_img4_red/back_img4_11.png");
        })
        $(".section3_contain_1").on('mouseleave', function () {
            $(".section3_contain_1 img").attr("src", "../img/back_img4_ash/back_img4_1.png");
        })
        $(".section3_contain_2").on('mouseover', function () {
            $(".section3_contain_2 img").attr("src", "../img/back_img4_red/back_img4_12.png");
        })
        $(".section3_contain_2").on('mouseleave', function () {
            $(".section3_contain_2 img").attr("src", "../img/back_img4_ash/back_img4_2.png");
        })
        $(".section3_contain_3").on('mouseover', function () {
            $(".section3_contain_3 img").attr("src", "../img/back_img4_red/back_img4_13.png");
        })
        $(".section3_contain_3").on('mouseleave', function () {
            $(".section3_contain_3 img").attr("src", "../img/back_img4_ash/back_img4_3.png");
        })
        $(".section3_contain_4").on('mouseover', function () {
            $(".section3_contain_4 img").attr("src", "../img/back_img4_red/back_img4_14.png");
        })
        $(".section3_contain_4").on('mouseleave', function () {
            $(".section3_contain_4 img").attr("src", "../img/back_img4_ash/back_img4_4.png");
        })
        $(".section3_contain_5").on('mouseover', function () {
            $(".section3_contain_5 img").attr("src", "../img/back_img4_red/back_img4_15.png");
        })
        $(".section3_contain_5").on('mouseleave', function () {
            $(".section3_contain_5 img").attr("src", "../img/back_img4_ash/back_img4_5.png");
        })
        $(".section3_contain_6").on('mouseover', function () {
            $(".section3_contain_6 img").attr("src", "../img/back_img4_red/back_img4_16.png");
        })
        $(".section3_contain_6").on('mouseleave', function () {
            $(".section3_contain_6 img").attr("src", "../img/back_img4_ash/back_img4_6.png");
        })
        $(".section3_contain_7").on('mouseover', function () {
            $(".section3_contain_7 img").attr("src", "../img/back_img4_red/back_img4_17.png");
        })
        $(".section3_contain_7").on('mouseleave', function () {
            $(".section3_contain_7 img").attr("src", "../img/back_img4_ash/back_img4_7.png");
        })
        $(".section3_contain_8").on('mouseover', function () {
            $(".section3_contain_8 img").attr("src", "../img/back_img4_red/back_img4_18.png");
        })
        $(".section3_contain_8").on('mouseleave', function () {
            $(".section3_contain_8 img").attr("src", "../img/back_img4_ash/back_img4_8.png");
        })
        $(".section3_contain_9").on('mouseover', function () {
            $(".section3_contain_9 img").attr("src", "../img/back_img4_red/back_img4_19.png");
        })
        $(".section3_contain_9").on('mouseleave', function () {
            $(".section3_contain_9 img").attr("src", "../img/back_img4_ash/back_img4_9.png");
        })
        $(".section3_contain_10").on('mouseover', function () {
            $(".section3_contain_10 img").attr("src", "../img/back_img4_red/back_img4_20.png");
        })
        $(".section3_contain_10").on('mouseleave', function () {
            $(".section3_contain_10 img").attr("src", "../img/back_img4_ash/back_img4_10.png");
        });
        // 第五屏
        $(".section5_contain_1").on('click', function () {
            $(".section_5_img img").attr("src", "../img/back_img5_1.png");
            $(".section5_contain_2 img").attr("src", "../img/back_img5_ash/back_img5_2.png");
            $(".section5_contain_3 img").attr("src", "../img/back_img5_ash/back_img5_3.png");
            $(".section5_contain_1 img").attr("src", "../img/back_img5_red/back_img5_11.png");
            $(" .section5_contain_1 p").css("cssText", "color:red !important");
            $(" .section5_contain_2 p").css("cssText", "color: black!important");
            $(" .section5_contain_3 p").css("cssText", "color: black!important");
        });
        $(".section5_contain_2").on('click', function () {
            $(".section_5_img img").attr("src", "../img/back_img5_2.png");
            $(".section5_contain_1 img").attr("src", "../img/back_img5_ash/back_img5_1.png");
            $(".section5_contain_3 img").attr("src", "../img/back_img5_ash/back_img5_3.png");
            $(".section5_contain_2 img").attr("src", "../img/back_img5_red/back_img5_12.png");
            $(".section5_contain_2 p").css("cssText", "color: red !important");
            $(" .section5_contain_1 p").css("cssText", "color: black!important");
            $(" .section5_contain_3 p").css("cssText", "color: black!important");
        });
        $(".section5_contain_3").on('click', function () {
            $(".section_5_img img").attr("src", "../img/back_img5_3.png");
            $(".section5_contain_1 img").attr("src", "../img/back_img5_ash/back_img5_1.png");
            $(".section5_contain_2 img").attr("src", "../img/back_img5_ash/back_img5_2.png");
            $(".section5_contain_1 img").attr("src", "../img/back_img5_ash/back_img5_1.png");
            $(".section5_contain_3 img").attr("src", "../img/back_img5_red/back_img5_13.png");
            $(".section5_contain_3 p").css("cssText", "color: red !important");
            $(" .section5_contain_1 p").css("cssText", "color: black!important");
            $(" .section5_contain_2 p").css("cssText", "color: black!important");
        });

    });
    //  轮播图
    var mySwiper = new Swiper('.swiper-container', {
        direction: 'horizontal', // 垂直切换选项
        loop: true, // 循环模式选项
        autoplay: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    })
</script>

</html>