<!DOCTYPE html>
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">

<head>
    <meta name="viewport"
		content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta charset="UTF-8" />
    <link href="../images/logo2.png" rel="icon">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta name="keywords" content="无人机,植保,植保无人机,农业,农业无人机,消防,消防无人机,华启,华启天成,天成,华启无人机,华启消防无人机,华启植保无人机,华启天成智能科技" />
	<meta name="description"
		content="华启天成（深圳）智能科技有限公司，主要从事行业级无人机和无人机相关产品的研发和制造，公司产品覆盖各行业各领域，是一家专业的无人机解决方案提供商，公司致力于在5G大数据时代，结合AR大数据等技术，针对不同行业的痛点，提供智能专业的无人机产品。" />
	<meta name="author" content="华启天成(深圳)智能科技有限公司 www.hqtcsz.cn" />
	<meta name="baidu-site-verification" content="code-Gf9Y57Bsr7" />
	<meta name="robots" content="none,noindex,nofollow,all,index,follow" />
	<link rel="shortcut icon" href="https://officalweb-pc.oss-cn-beijing.aliyuncs.com/images/logo2.png">
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<meta name="format-detection" content="telephone=no" />
	<title i18n="i18n.home">华启天成(深圳)智能科技有限公司</title>
	<link rel="stylesheet" href="../css/reset.css" />
	<link rel="stylesheet" href="../css/public.css" />
	<link rel="stylesheet" href="../css/common.css" />
	<link rel="stylesheet" href="../css/home.css" />
	<link rel="stylesheet" href="../css/vivify.min.css" />
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
	<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>
	<script type="text/javascript" src="https://vncdn.mobi88.cn/public/jquery-2.1.3.min.js"></script>
	<script src="../js/language.js"></script>
	<script type="text/javascript" src="../js/public.js"></script>





	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
	<!-- Google web font "Open Sans" -->
	<link rel="stylesheet" href="../css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/demo.css" />
	<link rel="stylesheet" href="../css/templatemo-style.css">
	<script type="text/javascript" src="https://vncdn.mobi88.cn/public/jquery-2.1.3.min.js"></script>
	<script type="text/javascript" src="../js/modernizr.custom.86080.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/plagin-css/owl.carousel.css">
    <link rel="stylesheet" href="../css/plagin-css/jquery.fullPage.css">
    <!-- <link rel="stylesheet" href="icons/rik-icons/styles.css"> -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/responsive.css">

    <!--[if lt IE 9]>
            <script src="js/plagin-js/html5shiv.js"></script>
            <script src="js/plagin-js/respond.min.js"></script>
        <![endif]-->


</head>

<body class="">

    <!-- ======= Header ======= -->
		<header id="headerx" class="fixed-top header-transparent">
			<div class="container windowx ">
		
			  <div class="logo float-left">
				<a href="index.html"><img src="https://officalweb-pc.oss-cn-beijing.aliyuncs.com/images/logo.png" alt="" class="img-fluid"></a>
			  </div>
		
			  <nav class="nav-menux float-right d-none d-lg-block">
				<ul>
				  <li><a href="../index.html">首页 </a></li>
				  <li class="active"><a href="../components/rt1.html">颠覆性飞行平台RT1</a></li>
				  <li><a href="../components/forestPlatform.html">5GAI无人森林调度平台<i class="la la-angle-down"></i></a></li>
				  <li><a href="../components/aboutUs.html">关于我们</a></li>
				</ul>
			  </nav><!-- .nav-menu -->
		
			</div>
		  </header>
		  <!-- End Header -->



    <!-- Start: Preloader Section 
        ===============================-->
    <div id="main-preloader" class="main-preloader semi-dark-background">
        <div class="main-preloader-inner center">
            <h1 class="preloader-percentage center">
                <span class="preloader-percentage-text">0</span>
                <span class="percentage">%</span>
            </h1>
            <div class="preloader-bar-outer">
                <div class="preloader-bar"></div>
            </div>
        </div>
    </div>
    <!-- End: Preloader Section 
        ===============================-->

    <!-- Start: Page Slider Area
        ================================== -->
    <section class="content-area" id="fullpage">
        <div class="container-fluid">
            <div class="row">

                <!--Start: 1st Page Slider Section 
                        - HOME PAGE
                    ====================================-->
                <div class="section section-item home-section overflow hide-overlay  bg-image-1" data-heading="">
                    <div class="inner-container ">
                        <div class="container">
                            <div class="row">

                                <div class="col-xs-8 col-xs-offset-2">
                                    <div class="row">

                                        <div class="home-content-outer text-center">

                                            <div class="overflow">
                                                <div class="heading-outer left-right relative">
                                                    <div class="heading-outer top-bottom relative">
                                                        <div class="overflow p-t-40 p-l-40 p-r-40 p-b-40">
                                                            <div class="section-heading-outer">
                                                                <h1 class="heading" style="margin: auto;">颠覆性行业级飞行平台RT1</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <!-- Next Section Arrow -->
                                <div class="footer-button">
                                    <div class="overflow m-t-30">
                                        <div class="btn-form-outer">
                                            <!-- Button Area -->
                                            <a href="#2" class="btn"><i class="icon icon-arrow-carrot-down"></i></a>
                                        </div>
                                    </div>
                                </div>


                            </div>  
                        </div>  
                    </div> <!-- End: .inner-container -->
                </div>
                <!--End: 1st Page Slider Section 
                        - HOME PAGE
                    ====================================-->



                <!--Start: 2nd Page Slider Section 
                        - SERVICES PAGE
                    ====================================-->
                <div class=" section section-item combine-section hide-overlay overflow semi-dark-background"
                    data-heading="">

                    <div class="inner-container services-section " id="services">
                        <div class="container">
                            <div class="row">


                                <!-- Start: Section Heading -->
                                <div class="section-header col-sm-8 col-sm-offset-2">
                                    <div class="overflow">
                                        <div class="line-outer">
                                            <div class="line"></div>
                                        </div>
                                    </div>
                                    <div class="overflow">
                                        <div class="section-heading-outer p-l-50 p-r-50">
                                            <h2 class="section-heading">深度行业解决方案</h2>
                                        </div>
                                    </div>
                                </div>
                                <!-- End: Section Heading -->

                                <div class="clearfix"></div>

                                <div class="each-services-outer overflow section-separator sp-bottom">

                                    <div class="each-services col-xs-4">
                                        <div class="each-services-inner">

                                            <div class="overflow">
                                                <div class="profile-image-font">
                                                    <img src="../images/pingtai.png" class="profile-image-font features-icon-outer">
                                                </div>
                                            </div>
                                            <div class="overflow">
                                                <div class="title-outer">
                                                    <h4 class="title">极其强劲的飞行性能</h4>
                                                </div>
                                            </div>
                                            <div class="overflow">
                                                <div class="pera-outer">
                                                    <p>RT1起飞重量110Kg，最大载重60Kg，最高速度可达到100km/h，具有三冗余IMU，可极其稳定的飞行并完成作业任务。
                                                    </p>
                                                </div>
                                            </div>

                                        </div>
                                    </div> <!-- End: .each-services -->

                                    <div class="each-services col-xs-4">
                                        <div class="each-services-inner">

                                            <div class="overflow">
                                                <div class="profile-image-font">
                                                    <img src="../images/guazai.png" class="profile-image-font features-icon-outer">
                                                </div>
                                            </div>
                                            <div class="overflow">
                                                <div class="title-outer">
                                                    <h4 class="title">极其丰富的挂载能力</h4>
                                                </div>
                                            </div>
                                            <div class="overflow">
                                                <div class="pera-outer">
                                                    <p>通过快插接口RT1可完成极其丰富的挂载能力，同时大载重云台的加持，保证挂载的稳定能力。
                                                    </p>
                                                </div>
                                            </div>

                                        </div>
                                    </div> <!-- End: .each-services -->

                                    <div class="each-services col-xs-4">
                                        <div class="each-services-inner">

                                            <div class="overflow">
                                                <div class="profile-image-font">
                                                    <img src="../images/shuju.png" class="profile-image-font features-icon-outer">
                                                </div>
                                            </div>
                                            <div class="overflow">
                                                <div class="title-outer">
                                                    <h4 class="title">极其深度的平台加持</h4>
                                                </div>
                                            </div>
                                            <div class="overflow">
                                                <div class="pera-outer">
                                                    <p>结合5G等技术，RT1可实现远程控制、远程数据回传、集群作业等丰富作业能力，赋予RT1不同场景下的深度功能性和完整性。
                                                    </p>
                                                </div>
                                            </div>

                                        </div>
                                    </div> <!-- End: .each-services -->
                                </div>
                                <!-- End: .each-services-outer 
                                    ===================================-->


                            </div>  
                        </div>  
                    </div> <!-- End: . -->

                </div>
                <!--End: 2nd Page Slider Section 
                        - Services PAGE
                    ====================================-->



                <!--Start: 3rd Page Slider Section 
                        - PORTFOLIO PAGE 1
                    ====================================-->
                <div class=" section section-item overflow dark-background" id="features-item-1"
                    data-heading="#animate-heading-1">
                    <div class="container inner-container center">
                        <div class="row relative">

                            <div class="col-xs-10 col-xs-offset-1">
                                <div class="row">
                                    <div class="image text-center">
                                        <img src="../images/chadayiti.png" style="width: 100%;height: 100%;" alt="Features Image">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-10 col-sm-12 slider-outer center" style="width: 100%;">
                                <div class="row">
                                    <div class="overflow" style="width: 100%;">
                                        <div class="slider text-center" style="width: 100%;">



                                            <!-- 配套挂载画廊 -->
                                            <div class="project-slider-outer" style="width: 100%;">
                                                <div class="project-slider owl-carousel" style="width: 100%;">

                                                    <div class="item" style="width: 100%;">
                                                        <img src="../images/miehuodan_feature1.png" alt="Slider Images" 
                                                            class="img-responsive">
                                                            <section class="service-details" style="width:100%; height: 80px;">
                                                                <div class="container" style="width:100%">
                                                                    <p style="font-size: x-large; color: aliceblue;">查打一体灭火弹套装
                                                                    </p>
                                                                </div>
                                                              </section>
                                                    </div> <!-- End: .item -->
                                                    <div class="item" style="width: 100%;">
                                                        <img src="../images/miehuodan_feature2.png" alt="Slider Images"
                                                            class="img-responsive">
                                                            <section class="service-details" style="width:100%; height: 80px;">
                                                                <div class="container" style="width:100%">
                                                                    <p style="font-size: x-large; color: aliceblue;">脚架展开空载状态
                                                                    </p>
                                                                </div>
                                                              </section>
                                                    </div> <!-- End: .item -->
                                                    <div class="item"style="width: 100%;">
                                                        <img src="../images/miehuodan_feature3.png" alt="Slider Images"
                                                            class="img-responsive">
                                                            <section class="service-details" style="width:100%; height: 80px;">
                                                                <div class="container" style="width:100%">
                                                                    <p style="font-size: x-large; color: aliceblue;">灭火弹挂载
                                                                    </p>
                                                                </div>
                                                              </section>
                                                    </div> <!-- End: .item -->
                                                    <div class="item" style="width: 100%;">
                                                        <img src="../images/miehuodan_feature4.png" alt="Slider Images"
                                                            class="img-responsive">
                                                            <section class="service-details" style="width:100%; height: 80px;">
                                                                <div class="container" style="width:100%">
                                                                    <p style="font-size: x-large; color: aliceblue;">50Kg大载重云台
                                                                    </p>
                                                                </div>
                                                              </section>
                                                    </div> <!-- End: .item -->
                                                    <div class="item" style="width: 100%;">
                                                        <img src="../images/miehuodan_feature5.png" alt="Slider Images"
                                                            class="img-responsive">
                                                            <section class="service-details" style="width:100%; height: 80px;">
                                                                <div class="container" style="width:100%">
                                                                    <p style="font-size: x-large; color: aliceblue;">10Kg小载重云台
                                                                    </p>
                                                                </div>
                                                              </section>
                                                    </div> <!-- End: .item -->

                                                </div>
                                            </div> <!-- End: .project-slider-outer -->

                                            <div class="btn-outer text-left">
                                                <a href="#" class="btn left-icon btn-slider-back btn-mask"><i
                                                        class="icon icon-arrow-left"></i><  返回</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            </div> <!-- End: slider-outer -->

                            <div class="col-xs-12 project-detail-outer center">

                                <div class="project-detail">
                                    <div class="project-detail-inner relative semi-dark-background overflow">

                                        <div class="col-md-6 col-sm-12 vertical-middle project-detail-content">

                                            <div class="overflow">
                                                <div class="heading-outer">
                                                    <h2 class="heading">查打一体灭火弹套装</h2>
                                                </div>
                                            </div> <!-- End: .overflow -->

                                            <div class="overflow">
                                                <ul class="nav list">
                                                    <li>
                                                        <p class="sub-heading">颠覆性行业级飞行平台RT1</p>
                                                    </li>
                                                    <li>
                                                        <p class="sub-heading">超大载重云台</p>
                                                    </li>
                                                    <li>
                                                        <p class="sub-heading">视觉AI识别</p>
                                                    </li>
                                                </ul>
                                            </div> <!-- End: .overflow -->

                                            <div class="overflow">
                                                <div class="pera-outer m-t-30">
                                                    <p>RT1整机轴距2039毫米，采用四轴八旋翼机型，最大载重50Kg，最大起飞重量110Kg，满载续航18分钟；高强度碳纤维一体开模机身，赋予整机
                                                        更轻、更强的优异性能。电动折叠脚架赋予挂载充分的作业发挥空间；可折叠收纳机体，运输更方便。
                                                    </p>
                                                    <p>在城市高层消防场景下，常规无人机消防解决方案采用固定式灭火弹，很难快速精准的进行灭火弹的击发，查打一体灭火弹
                                                        套装方案可实现灭火弹的自动稳定、自动瞄准，同时在AI识别系统的加持下，可对室内进行红外识别、AI识别，在降低飞手操作
                                                        要求的前提下，同时提供全方位的火场信息。
                                                    </p>
                                                </div>
                                            </div> <!-- End: .overflow -->

                                        </div> <!-- End: END LEFT SIDE -->

                                         
                                        <div class="col-md-6 col-sm-12 vertical-middle overflow project-detail-image">
                                            <div class="row text-right display-full">
                                                <div class="project-detail-image-outer display-full">
                                                    <img src="../images/feature_chada.jpg" style="height: 120%;" alt="Portfolio Image">
                                                </div>
                                            </div>
                                        </div>  

                                    </div> 

                                    <div class="clearfix"></div>

                                     
                                    <div class="overflow">
                                        <div class="btn-outer text-center m-t-30">
                                            <a href="#" class="btn left-icon btn-slider-back btn-mask"><i
                                                    class="icon icon-arrow-left"></i><  返回</a>
                                        </div>
                                    </div>
                                     

                                </div>  

                            </div> <!-- End: .project-detail-outer -->

                        </div>  
                    </div>  
                </div>
                <!--End: 3rd Page Slider Section 
                        - PORTFOLIO PAGE 1
                    ====================================-->



                <!--Start: 4th Page Slider Section 
                        - PORTFOLIO PAGE 2
                    ====================================-->
                <div class=" section section-item overflow dark-background" id="features-item-2"
                    data-heading="#animate-heading-2">
                    <div class="container inner-container center">
                        <div class="row relative">

                            <div class="col-xs-10 col-xs-offset-1 ">
                                <div class="row">
                                    <div class="image text-center">
                                        <img src="../images/fengfuguazai1.png" style="width: 100%;" alt="Features Image">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-10 col-sm-12 slider-outer center" style="width: 100%;">
                                <div class="row">
                                    <div class="overflow" style="width: 100%;">
                                        <div class="slider text-center" style="width: 100%;">

                                            <div class="project-slider-outer" style="width: 100%;">
                                                <div class="project-slider owl-carousel" style="width: 100%;">

                                                    <div class="item" style="width: 100%;">
                                                        <img src="../images/guazai_feature1.png" alt="Slider Images"
                                                            class="img-responsive">
                                                            <section class="service-details" style="width:100%; height: 80px;">
                                                                <div class="container" style="width:100%">
                                                                    <p style="font-size: x-large; color: aliceblue;">支持多种挂载搭配
                                                                    </p>
                                                                </div>
                                                              </section>
                                                    </div>
                                                    <div class="item" style="width: 100%;">
                                                        <img src="../images/guazai_feature4.png" alt="Slider Images"
                                                            class="img-responsive">
                                                            <section class="service-details" style="width:100%; height: 80px;">
                                                                <div class="container" style="width:100%">
                                                                    <p style="font-size: x-large; color: aliceblue;">激光标定水基灭火弹，稳定离地1m精准爆破
                                                                    </p>
                                                                </div>
                                                              </section>
                                                    </div>
                                                    <div class="item" style="width: 100%;">
                                                        <img src="../images/guazai_feature2.png" alt="Slider Images"
                                                            class="img-responsive">
                                                            <section class="service-details" style="width:100%; height: 80px;">
                                                                <div class="container" style="width:100%">
                                                                    <p style="font-size: x-large; color: aliceblue;">高压储气灭火罐，有效灭火100m³
                                                                    </p>
                                                                </div>
                                                              </section>
                                                    </div>
                                                    <div class="item" style="width: 100%;">
                                                        <img src="../images/guazai_feature3.png" alt="Slider Images"
                                                            class="img-responsive">
                                                            <section class="service-details" style="width:100%; height: 80px;">
                                                                <div class="container" style="width:100%">
                                                                    <p style="font-size: x-large; color: aliceblue;">电控序列式击发灭火球
                                                                    </p>
                                                                </div>
                                                              </section>
                                                    </div>
                                                    <div class="item" style="width: 100%;">
                                                        <img src="../images/guazai_feature5.png" alt="Slider Images"
                                                            class="img-responsive">
                                                            <section class="service-details" style="width:100%; height: 80px;">
                                                                <div class="container" style="width:100%">
                                                                    <p style="font-size: x-large; color: aliceblue;">水平快拆接口
                                                                    </p>
                                                                </div>
                                                              </section>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="btn-outer text-left">
                                                <a href="#" class="btn left-icon btn-slider-back btn-mask"><i
                                                        class="icon icon-arrow-left"></i><  返回</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 project-detail-outer center">

                                <div class="project-detail">
                                    <div class="project-detail-inner relative semi-dark-background overflow">

                                        <div class="col-md-6 col-sm-12 vertical-middle project-detail-content">

                                            <div class="overflow">
                                                <div class="heading-outer">
                                                    <h2 class="heading">丰富快拆挂载</h2>
                                                </div>
                                            </div> <!-- End: .overflow -->

                                            <div class="overflow">
                                                <ul class="nav list">
                                                    <li>
                                                        <p class="sub-heading">丰富挂载支持</p>
                                                    </li>
                                                    <li>
                                                        <p class="sub-heading">高效快拆接口</p>
                                                    </li>
                                                    <li>
                                                        <p class="sub-heading">稳定挂载通信</p>
                                                    </li>
                                                </ul>
                                            </div> <!-- End: .overflow -->

                                            <div class="overflow">
                                                <div class="pera-outer m-t-30">
                                                    <p>通过多种挂载搭配，赋予RT1深度的功能性，同时完成通信之间的深度匹配，可在地面站控制端和远程控制端实时查看挂载当前状态。</p>
                                                    <p>快拆接口搭配抛投设备，深度提升RT1的易用性，支持多种抛投方式，可序列式击发，也可同时多发击发。</p>
                                                    <p>各项挂载均完成平台间的深度匹配，结合5G可远程查看状态、远程操控，极大提升了方案的完整性，同时尽可能降低对飞手操作的要求。</p>
                                                </div>
                                            </div> <!-- End: .overflow -->

                                        </div> <!-- End: END LEFT SIDE -->

                                         
                                        <div class="col-md-6 col-sm-12 vertical-middle overflow project-detail-image">
                                            <div class="row text-right display-full">
                                                <div class="project-detail-image-outer display-full">
                                                    <img src="../images/feature_guazai.jpg" style="height: 120%;"  alt="Portfolio Image">
                                                </div>
                                            </div>
                                        </div>  

                                    </div> 

                                    <div class="clearfix"></div>

                                     
                                    <div class="overflow">
                                        <div class="btn-outer text-center m-t-30">
                                            <a href="#" class="btn left-icon btn-slider-back btn-mask"><i
                                                    class="icon icon-arrow-left"></i><  返回</a>
                                        </div>
                                    </div>
                                     

                                </div>  

                            </div>  

                        </div>  
                    </div>  
                </div>



                <!--Start: 7th Page Slider Section 
                        - OUR TEAM PAGE 
                    ====================================-->
                <div class=" section section-item combine-section hide-overlay overflow dark-background"
                    data-heading="">
                    <div class="inner-container team-member dark-background" id="team">
                        <div class="container">
                            <div class="row section-separator sp-bottom">

                                <!-- Start: Section Heading -->
                                <div class="section-header col-sm-10 col-sm-offset-1">
                                    <div class="overflow">
                                        <div class="line-outer">
                                            <div class="line"></div>
                                        </div>
                                    </div>
                                    <div class="overflow">
                                        <div class="section-heading-outer p-l-50 p-r-50">
                                            <h2 class="section-heading">性能强劲</h2>
                                        </div>
                                    </div>
                                </div>
                                <!-- End: Section Heading -->

                                <div class="clearfix"></div>

                                <div class="col-sm-12 grid-item m-t-30">
                                    
                                    <div class="row">

                                        <div class="col-md-3 col-xs-6 each-item overflow text-center relative">
                                            <div class="item-inner overflow absolute">

                                                <div class="profile-outer center">
                                                    <div class="profile-image">
                                                        <img src="../images/testimonial/1.png" alt="Team Member" class="">
                                                    </div>
                                                    <br>
                                                    <div class="profile-content">
                                                        <span class="name">45Min超长续航</span>
                                                    </div>
                                                </div>
                                                <div class="content-detail">
                                                    <p style="font-size: x-large;">通过合理的方案搭配，RT1可达到50Kg满载续航18Min，空载续航45Min。</p>
                                                </div>

                                            </div>
                                        </div> <!-- End: .each-item -->
                                        <div class="col-md-3 col-xs-6 each-item overflow text-center relative">
                                            <div class="item-inner overflow absolute">

                                                <div class="profile-outer center">
                                                    <div class="profile-image">
                                                        <img src="../images/testimonial/2.png" alt="Team Member" class="">
                                                    </div>
                                                    <br>
                                                    <div class="profile-content">
                                                        <span class="name">110Kg起飞重量</span>
                                                    </div>
                                                </div>
                                                <div class="content-detail">
                                                    <p style="font-size: x-large;">RT1整机最大起飞重量110Kg，最大载重50Kg，超强的载重能力赋予RT1超强的功能性。</p>
                                                </div>

                                            </div>
                                        </div> <!-- End: .each-item -->
                                        <div class="col-md-3 col-xs-6 each-item overflow text-center relative">
                                            <div class="item-inner overflow absolute">

                                                <div class="profile-outer center">
                                                    <div class="profile-image">
                                                        <img src="../images/testimonial/3.png" alt="Team Member" class="">
                                                    </div>
                                                    <br>
                                                    <div class="profile-content">
                                                        <span class="name">21700智能电池</span>
                                                    </div>
                                                </div>
                                                <div class="content-detail">
                                                    <p style="font-size: x-large;">采用21700智能电池，搭配BMS模块，极大提升了电池的安全性和智能性。</p>
                                                </div>

                                            </div>
                                        </div> <!-- End: .each-item -->
                                        <div class="col-md-3 col-xs-6 each-item overflow text-center relative">
                                            <div class="item-inner overflow absolute">

                                                <div class="profile-outer center">
                                                    <div class="profile-image">
                                                        <img src="../images/testimonial/4.png" alt="Team Member" class="">
                                                    </div>
                                                    <br>
                                                    <div class="profile-content">
                                                        <span class="name">50Kg大载重云台</span>
                                                    </div>
                                                </div>
                                                <div class="content-detail">
                                                    <p style="font-size: x-large;">搭配50Kg大载重云台，自重2Kg可挂载超过50Kg设备，单轴约80牛米超大扭矩，内置9轴传感器，可极大过滤机身抖动，保证挂载平稳。</p>
                                                </div>

                                            </div>
                                        </div> <!-- End: .each-item -->
                                        <div class="col-md-3 col-xs-6 each-item overflow text-center relative">
                                            <div class="item-inner overflow absolute">

                                                <div class="profile-outer center">
                                                    <div class="profile-image">
                                                        <img src="../images/testimonial/5.png" alt="Team Member" class="">
                                                    </div>
                                                    <br>
                                                    <div class="profile-content">
                                                        <span class="name">双光AI光学吊舱</span>
                                                    </div>
                                                </div>
                                                <div class="content-detail">
                                                    <p style="font-size: x-large;">双光AI光学吊舱，可在赋予更多的现场信息反馈，助力现场指挥。</p>
                                                </div>

                                            </div>
                                        </div> <!-- End: .each-item -->
                                        <div class="col-md-3 col-xs-6 each-item overflow text-center relative">
                                            <div class="item-inner overflow absolute">

                                                <div class="profile-outer center">
                                                    <div class="profile-image">
                                                        <img src="../images/testimonial/6.png" alt="Team Member" class="">
                                                    </div>
                                                    <br>
                                                    <div class="profile-content">
                                                        <span class="name">5G远程操控</span>
                                                    </div>
                                                </div>
                                                <div class="content-detail">
                                                    <p style="font-size: x-large;">全程通信链路支持5G，可实现远程监视、远程查看挂载状态、远程操控，极大提升了方案易用性。</p>
                                                </div>

                                            </div>
                                        </div> <!-- End: .each-item -->
                                        <div class="col-md-3 col-xs-6 each-item overflow text-center relative">
                                            <div class="item-inner overflow absolute">

                                                <div class="profile-outer center">
                                                    <div class="profile-image">
                                                        <img src="../images/testimonial/7.png" alt="Team Member" class="">
                                                    </div>
                                                    <br>
                                                    <div class="profile-content">
                                                        <span class="name">视觉自动瞄准</span>
                                                    </div>
                                                </div>
                                                <div class="content-detail">
                                                    <p style="font-size: x-large;">光电自动瞄准模块搭配双光镜头，无论白天黑夜，均可精准追踪目标物，实现实时自动瞄准。</p>
                                                </div>

                                            </div>
                                        </div> <!-- End: .each-item -->
                                        <div class="col-md-3 col-xs-6 each-item overflow text-center relative">
                                            <div class="item-inner overflow absolute">

                                                <div class="profile-outer center">
                                                    <div class="profile-image">
                                                        <img src="../images/testimonial/8.png" alt="Team Member" class="">
                                                    </div>
                                                    <br>
                                                    <div class="profile-content">
                                                        <span class="name">16通道精准电控</span>
                                                    </div>
                                                </div>
                                                <div class="content-detail">
                                                    <p style="font-size: x-large;">16通道精准电控，可实现序列式击发和多种搭配的击发方式，稳定高效的完成挂载作业任务。</p>
                                                </div>

                                            </div>
                                        </div> <!-- End: .each-item -->


                                    </div>

                                </div>  

                            </div>  
                        </div>  

                        <div class="footer_bottomNew" style="background-color: black;">
                            <div>
                                <img src="https://officalweb-pc.oss-cn-beijing.aliyuncs.com/images/logo.png" style="width: 5%;" alt="">
                                <span><a href="../components/aboutUs.html" i18n="i18n.guanyuhuaqi" style="font-size: x-large;">关于我们</a></span>
                                <span>Copyright © 2021-2022 <span i18n="i18n.addressinfo">华启天成（深圳）智能科技有限公司保留所有权利</span> ( <a
                                        href="https://beian.miit.gov.cn">粤ICP备2021095677号-3</a> )</span>
                                <!-- <span> 隐私权政策 · 使用条款</span> -->
                            </div>
                        </div>
                    </div> <!-- End: .inner-container -->

                </div>
                <!--End: 7th Page Slider Section 
                        - OUR TEAM PAGE 
                    ====================================-->



            </div>  
        </div>  
    </section>
    <!-- End: Page Slider Area
        ================================== -->



    <!-- Start: Portfolio Section Headline Content
        =============================================== -->
    <section class="animate-text overflow absolute">

        <div class="container center wrapper-container">
            <div class="row absolute">

                <div class="each-portfolio-heading center" id="animate-heading-1">
                    <div class="heading-text overflow">
                        <div class="line"></div>
                        <div class="text overflow">
                            <div class="inner">
                                查打一体灭火弹套装
                            </div>
                        </div>
                    </div>

                    <div class="link-list overflow">
                        <div class="link one overflow">
                            <div class="inner">
                                <a class="btn btn-project-detail right-icon btn-mask project-detail-text" href="#features-item-1"
                                    data-element="project-detail" >方案细节  ><i
                                        class="icon icon-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="link two overflow">
                            <div class="inner">
                                <a class="btn btn-slider right-icon btn-mask" href="#features-item-1"
                                    data-element="slider">更多  ><i class="icon icon-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="line"></div>
                    </div>
                </div>

            </div>  
        </div>  

        <div class="container center wrapper-container">
            <div class="row absolute">

                <div class="each-portfolio-heading center" id="animate-heading-2">
                    <div class="heading-text overflow">
                        <div class="line"></div>
                        <div class="text overflow">
                            <div class="inner">
                                丰富快拆挂载
                            </div>
                        </div>
                    </div>

                    <div class="link-list overflow">
                        <div class="link one overflow">
                            <div class="inner">
                                <a class="btn btn-project-detail right-icon btn-mask project-detail-text" href="#features-item-2"
                                    data-element="project-detail">方案细节  ><i
                                        class="icon icon-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="link two overflow">
                            <div class="inner">
                                <a class="btn btn-slider right-icon btn-mask" href="#features-item-2"
                                    data-element="slider">更多  ><i class="icon icon-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="line"></div>
                    </div>
                </div>

            </div>  
        </div>  

    </section>
    <!-- End: Portfolio Section Headline Content
        =============================================== -->




    <script src="../js/plagin-js/jquery-1.11.3.js"></script>
    <script src="../js/plagin-js/preloader.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/plagin-js/plagin.js"></script>
    <script src="../js/custom-scripts.js"></script>


</body>

</html>
