<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="无人机,植保,植保无人机,农业,农业无人机,消防,消防无人机,华启,华启天成,天成,华启无人机,华启消防无人机,华启植保无人机" />
    <meta name="description"
        content="华启天成（深圳）智能科技有限公司，主要从事行业级无人机和无人机相关产品的研发和制造，公司产品覆盖各行业各领域，是一家专业的无人机解决方案提供商，公司致力于在5G大数据时代，结合AR大数据等技术，针对不同行业的痛点，提供智能专业的无人机产品。" />
    <meta name="author" content="华启天成(深圳)智能科技有限公司 www.hqtcsz.cn" />
    <link rel="shortcut icon" href="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/logo2.png">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/public.css" />
    <link rel="stylesheet" href="../css/rtk_Info.css" />
    <link rel="stylesheet" href="../css/vivify.min.css" />
    <script type="text/javascript" src="../js/public.js"></script>
    <title>RT1</title>
</head>

<body>
    <section class="loading"></section>
    <section class="header"></section>
    <div class="rtk_Info">
        <div class="section-1">
            <h2>RT1</h2>
            <p>颠覆性机型</p>
        </div>
        <div class="section-2">
            <div class="section-2-main">
                <div>
                    <img src="../images/RT1/icon/碳纤维一体.png" alt="">
                    <p>碳纤维一体</p>
                </div>
                <div>
                    <img src="../images/RT1/icon/45min超长续航.png" alt="">
                    <p>45 min 超长续航</p>
                </div>

                <div>
                    <img src="../images/RT1/icon/110KG起飞重量.png" alt="">
                    <p>110 KG 起飞重量</p>
                </div>
                <div>
                    <img src="../images/RT1/icon/RTK-差分定位.png" alt="">
                    <p>RTK 差分定位</p>
                </div>
                <div>
                    <img src="../images/RT1/icon/前后避障雷达.png" alt="">
                    <p>前后避障雷达</p>
                </div>
                <div>
                    <img src="../images/RT1/icon/LED-指示灯.png" alt="">
                    <p>LED 指示灯</p>
                </div>
                <div>
                    <img src="../images/RT1/icon/电动折叠脚架.png" alt="">
                    <p>电动折叠脚架</p>
                </div>
                <div>
                    <img src="../images/RT1/icon/21700-智能电池.png" alt="">
                    <p>21700 智能电池</p>
                </div>
                <div>
                    <img src="../images/RT1/icon/50KG-云台.png" alt="">
                    <p>50 KG 云台</p>
                </div>
                <div>
                    <img src="../images/RT1/icon/快拆结构接口.png" alt="">
                    <p>快拆结构接口</p>
                </div>
                <div>
                    <img src="../images/RT1/icon/双光光学吊舱.png" alt="">
                    <p>双光光学吊舱</p>
                </div>
                <div>
                    <img src="../images/RT1/icon/机臂拆卸设计.png" alt="">
                    <p>机臂拆卸设计</p>
                </div>
                <div>
                    <img src="../images/RT1/icon/5G-操控.png" alt="">
                    <p>5G 操控</p>
                </div>
                <div>
                    <img src="../images/RT1/icon/激光测距.png" alt="">
                    <p>激光测距</p>
                </div>
                <div>
                    <img src="../images/RT1/icon/视觉自动瞄准.png" alt="">
                    <p>视觉自动瞄准</p>
                </div>
                <div>
                    <img src="../images/RT1/icon/16通道精准电控.png" alt="">
                    <p>16 通道精准电控</p>
                </div>
                <div>
                    <img src="../images/RT1/icon/0℃-50℃.png" alt="">
                    <p>0 ℃ - 50 ℃</p>
                </div>
                <div>
                    <img src="../images/RT1/icon/4轴8桨.png" alt="">
                    <p>4 轴 8 桨</p>
                </div>
            </div>
        </div>
        <div class="section-3">
            <p>性能强劲</p>
        </div>
        <div class="section-4">
            <div class="section-4-main">
                <div class="section-4-txt">
                    <h2>稳，才能远</h2>
                    <i>全新行业版图传系统，带来远达15公里的控制距离，可实现三通道1080p图传。支持2.4/5.8
                        GHz双频通信，作业过程中自动实时切换至最佳信道，复杂环境下依然能有效抵抗干扰。配备AES-256图传加密技术，始终保障数据传输安全。支持LTE备份链路，进一步提高了图传可靠性。</i>
                    <div class="section-4-box">
                        <div>
                            <p>15<i>Km</i></p>
                            <em>图传距离</em>
                        </div>
                        <div>
                            <p>1080<i>p</i></p>
                            <em>三通道高清影像</em>
                        </div>
                        <div>
                            <p>2.4/5.8<i>GHz</i></p>
                            <em>实时自动切换</em>
                        </div>
                    </div>
                </div>
                <div class="section-4-img">

                </div>
            </div>
        </div>
        <div class="section-5">
            <div class="section-5-main">
                <div class="section-5-txt">
                    <h2>飞行性能依然是强项</h2>
                    <i>全新的机身结构和动力系统设计，碳纤维一体成型，只为更加强劲、稳定的飞行表现，让你直面挑战，迎难而上。</i>
                    <div class="section-5-box">
                        <div>
                            <p>55<i>分钟</i></p>
                            <em>最长飞行时间</em>
                        </div>
                        <div>
                            <p>7<i>米/秒</i></p>
                            <em>最大倾斜下降速度</em>
                        </div>
                        <div>
                            <p>7000<i>米</i></p>
                            <em>最大飞行高度</em>
                        </div>
                        <div>
                            <p>15<i>米/秒</i></p>
                            <em>抗风能力</em>
                        </div>
                        <div>
                            <p>23<i>米/秒</i></p>
                            <em>最大飞行速度</em>
                        </div>
                    </div>
                </div>
                <div class="section-5-img">
                </div>
            </div>
        </div>
        <div class="section-6">
            <div class="section-6-main">
                <h2>超大载重 多负载平台</h2>
                <p>RT1可承重100公斤最大起飞重量，超大载重比云台，自重2公斤，可挂载超过50公斤设备。</p>
                <!-- <div class="section-6-box">
                    <img src="../images/RT1/rtk1_section_6.png" alt="">
                    <div class="section-6-box-button">
                        <i>无挂载可承重100公斤</i>
                        <i>挂载可承重150公斤</i>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="section-7">
            <span>安全可靠</span>
        </div>
        <div class="section-8">
            <div class="sticky">
                <div class="children_left">
                    <div>
                        <span>5G操控</span>
                        <p>通过5G网络大数据平台实现异地作业,高速率、低延时和大连接,提高作业效率。</p>
                    </div>
                    <div>
                        <span>前后避障</span>
                        <p>RT1搭配两个亳米波避障雷达，能识别≥3am的障碍物，在复杂的火场环境,确保无人机的飞行安全。</p>
                    </div>
                    <div>
                        <span>RTK定位</span>
                        <p>RT1采用双天线双模，RTK高精度差分定位仪，厘米级精度定位,确保无人机作业精准性。</p>
                    </div>
                    <div>
                        <span>精准电控</span>
                        <p>RT1搭视精准电控系统，配合三体高清MP摄像头，能在复杂环境中，远程控制开关。</p>
                    </div>
                    <div>
                        <span>三冗余</span>
                        <p>RT1采用行业飞控,RTK高精度定位。三冗余U,飞行更稳定。</p>
                    </div>
                    <div>
                        <span>大容量可插拔电池</span>
                        <p>RT1配备两块21700智能电池，可做到快速靥拔替换,应对各种工作环境。提高工作效率。</p>
                    </div>
                </div>
            </div>
            <div class="nowSticky"></div>
        </div>
        <div class="section-9">
            <span>支持丰富的负载</span>
            <ul>
                <li>
                    <span>视觉自动瞄准灭火弹</span>
                </li>
                <li>
                    <span>快拆高压灭火罐</span>
                </li>
                <li>
                    <span>快拆电控干粉灭火球</span>
                </li>
                <li>
                    <span>激光装定水机灭火弹</span>
                </li>
            </ul>
        </div>
        <!-- 行业应用模块 -->
        <section class="IndustryApplications"></section>
    </div>
    <section class="footer"></section>
</body>
<script type="text/javascript" src="https://vncdn.mobi88.cn/public/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="../js/public.js"></script>
<script type="text/javascript" src="../js/jQuery.positionSticky.js"></script>
<script type="text/javascript">
    $(function () {
        $(".header").load("../common/header.html");
        $(".footer").load("../common/fooder.html");
        $(".loading").load("../components/loading.html");
        $(".IndustryApplications").load("../components/IndustryApplications.html");
        jQuery('.nowSticky').positionSticky();
        $(".section-8").children()[1].remove();
        $('.nowSticky')[0].style.transition = "all .5s";
        $('.nowSticky')[0].style.top = "300px";
        $(window).load(function () {
            //适当延迟隐藏，提高loading效果
            $('.loading').hide(0);
        });

        $(window).scroll(function (e) {
            console.log(document.documentElement.scrollTop)
            if (document.documentElement.scrollTop > 0 && document.documentElement.scrollTop < 6323) {
                $('.nowSticky')[0].style.backgroundImage = "url('../images/rtk-section-8-01.jpg')";
            } else if (document.documentElement.scrollTop > 6323 && document.documentElement.scrollTop < 7520) {
                $('.nowSticky')[0].style.backgroundImage = "url('../images/rtk-section-8-02.jpg')";
            } else if (document.documentElement.scrollTop > 7520 && document.documentElement.scrollTop < 8467) {
                $('.nowSticky')[0].style.backgroundImage = "url('../images/rtk-section-8-03.jpg')";
            } else if (document.documentElement.scrollTop > 8467 && document.documentElement.scrollTop < 9469) {
                $('.nowSticky')[0].style.backgroundImage = "url('../images/rtk-section-8-04.jpg')";
            } else if (document.documentElement.scrollTop > 9469 && document.documentElement.scrollTop < 10470) {
                $('.nowSticky')[0].style.backgroundImage = "url('../images/rtk-section-8-05.jpg')";
            } else {
                $('.nowSticky')[0].style.backgroundImage = "url('../images/rtk-section-8-06.jpg')";
            }
        })
    });
</script>

</html>