<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo1</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/public.css">
    <script src="../js/TweenMax.min.js"></script>
    <script src="../js/TimelineMax.min.js"></script>
    <script src="../js/ScrollMagic.min.js"></script>
    <script src="../js/animation.gsap.min.js"></script>
    <link rel="stylesheet" href="../css/ScrollMagic.css">
</head>

<body>
    <div class="hh">
        <div class="market"></div>
        <div class="fvh section2">
            <div class="texts-wrap"></div>
        </div>
        <div class="fvh section3"></div>
        <div class="fvh section4"></div>
        <div class="fvh section5"></div>
        <div class="fvh section6"></div>
        <div class="fvh section7"></div>
        <div class="fvh section8"></div>
        <div class="fvh section9"></div>
    </div>
    <script>
        $(function() {
            var controller = new ScrollMagic.Controller();
            var sense1Duration = 200
            var sense2 = new ScrollMagic.Scene({
                    triggerElement: '.section2',
                    triggerHook: 0,
                    offset: 0,

                    duration: (sense1Duration - 100) + '%'
                })
                .setPin('.section2', {
                    pushFollowers: false
                })

            .addTo(controller)


            let Box = document.getElementsByClassName('texts-wrap')[0];
            console.log(Box)
            for (let i = 1; i < 80; i++) {
                Box.innerHTML += `<div><img src="../images/${i}.png" alt=""></div>`
            }

            ! function() {
                var items = document.querySelector('.section2 .texts-wrap').children;
                items = Array.from(items)

                new TimelineMax().set(items.slice(1), {
                    yPercent: 1,
                    autoAlpha: 0
                })

                var itemsTimeline = new TimelineMax()

                items.forEach((v, i) => {
                    itemsTimeline
                        .to(v, 0.9, {
                            yPercent: 1,
                            autoAlpha: 1,
                            ease: Power4.easeOut,
                            delay: 1000, //延迟1秒，接续前一个动画
                        })
                        .to(v, 1, {})

                    if (i !== items.length - 1) {
                        itemsTimeline.to(v, 1 / 2, {
                            yPercent: 1,
                            autoAlpha: 1,
                            ease: Power2.easeInOut,
                            delay: 1000, //延迟1秒，接续前一个动画
                        })
                    }


                    var sense2Content = new ScrollMagic.Scene({
                            triggerElement: '.section2',
                            triggerHook: 0,
                            offset: 0,
                            duration: (sense1Duration - 100) + '%'
                        })
                        .setTween(itemsTimeline)

                    .addTo(controller)
                })
            }()
        })
    </script>

</body>

</html>