<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ScrollMagic</title>

    <link rel="stylesheet" href="css/ScrollMagic.css">

</head>

<body>
    <div class="box">
        <div class="hh">
            <div class="market"></div>
            <div class="fvh section2">
                <div class="texts-wrap" id="texts-wrap"></div>
                <span class="textwrap_info"></span>
            </div>
            <div class="fvh section3"></div>
            <div class="fvh section4"></div>
            <div class="fvh section5"></div>
            <div class="fvh section6"></div>
            <div class="fvh section7"></div>
            <div class="fvh section8"></div>
            <div class="fvh section9"></div>
            <div class="fvh section10"></div>
            <div class="fvh section11"></div>
            <div class="fvh section12"></div>
            <div class="fvh section13"></div>
            <div class="fvh section14"></div>
            <div class="fvh section15"></div>
            <div class="fvh section16"></div>
            <div class="fvh section17"></div>
            <div class="fvh section18"></div>
            <div class="fvh section19"></div>
            <div class="fvh section20"></div>
            <div class="fvh section21"></div>
            <div class="fvh section22"></div>
            <div class="fvh section23"></div>
        </div>
    </div>
    <script type="text/javascript" src="https://vncdn.mobi88.cn/public/jquery-2.1.3.min.js"></script>
    <script src="js/TweenMax.min.js"></script>
    <script src="js/TimelineMax.min.js"></script>
    <script src="js/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/debug.addIndicators.min.js"></script>
    <script src="js/animation.gsap.min.js"></script>
    <script src="/js/jquery.ImgLazyLoad.min.js"></script>
    <script>
        $(function() {

            let Box = document.getElementsByClassName('texts-wrap')[0];
            var controller = new ScrollMagic.Controller();

            var sense1Duration = 2200
            var sense2 = new ScrollMagic.Scene({
                    triggerElement: '.section2',
                    triggerHook: 0,
                    offset: 0,
                    duration: (sense1Duration - 100) + '%'
                })
                .setPin('.section2', {
                    pushFollowers: false
                })

            .addTo(controller)



            // window.onscroll = function () {
            //     let seeHeight = document.documentElement.clientHeight;
            //     console.log("seeHeight ="+seeHeight);
            //     let scrollTop =  document.body.scrollTop || document.documentElement.scrollTop;
            //     console.log("scrollTop ="+scrollTop);
            //     for(let i=0; i<len; i++){
            //         if(imgArr[i].offsetTop < seeHeight + scrollTop){
            //                 if(imgArr[i].getAttribute('src')=='timg.jpg'){
            //                     imgArr[i].src = imgArr[i].getAttribute('data-src');
            //                 }
            //         }
            //     }
            // }



            for (let i = 1; i < 440; i++) {
                Box.innerHTML += `<div class="ZClass"><img data-src="./images/${i}.jpg" class="loading" alt=""></div>`
            }
            //*/
            let beforeScrollTop = document.documentElement.scrollTop // 记录开始滚动条高度
            const reserved = 2
            const addVisibilityCount = 15
            const ZBoxs = document.getElementsByClassName('ZClass')
            let inheritIndex = 0
            $(window).scroll(function(e) {
                let afterScrollTop = document.documentElement.scrollTop
                const delta = afterScrollTop - beforeScrollTop;
                start(delta > 0 ? "down" : "up")
                beforeScrollTop = afterScrollTop;

                console.log(document.documentElement.scrollTop)
                if (document.documentElement.scrollTop > 2000 && document.documentElement.scrollTop < 3000) {
                    $('.textwrap_info')[0].innerText = '德玛西亚万岁';
                    $('.textwrap_info')[0].style.opacity = '1';
                } else if (document.documentElement.scrollTop > 4000 && document.documentElement.scrollTop < 5000) {
                    $('.textwrap_info')[0].innerText = '断剑重铸之日，骑士归来之时';
                    $('.textwrap_info')[0].style.opacity = '1';
                } else if (document.documentElement.scrollTop > 6000 && document.documentElement.scrollTop < 7000) {
                    $('.textwrap_info')[0].innerText = '我的大刀早已饥渴难耐了';
                    $('.textwrap_info')[0].style.opacity = '1';
                } else {
                    $('.textwrap_info')[0].style.opacity = '0'
                }
            })

            function start(delta) {
                if (delta == 'down') {
                    for (let i = inheritIndex; i < ZBoxs.length; i++) {
                        if (ZBoxs[i].style.visibility == 'inherit') {
                            inheritIndex = i
                        } else if (inheritIndex <= i) {
                            break;
                        }
                    }
                    throttle(clearVisibility(delta), 400) // 节流定时清除非当前展示图
                } else if (delta == 'up') {
                    for (let i = ZBoxs.length - 1; i > 0; i--) {
                        if (ZBoxs[i].style.visibility == 'inherit') {
                            inheritIndex = i
                            break
                        }
                    }
                    throttle(addVisibility(delta), 100) // 节流定时清除非当前展示图
                }
            }

            function addVisibility(delta) {
                for (let index = 1; index < addVisibilityCount; index++) {
                    let i = inheritIndex - index
                    if (i >= 0) {
                        ZBoxs[i].style.visibility = 'inherit'
                    }
                }
            }

            function clearVisibility(delta) {
                for (let i = 0; i < ZBoxs.length; i++) {
                    if (ZBoxs[inheritIndex] != ZBoxs[i] && i > reserved) {
                        ZBoxs[i].style.visibility = 'hidden'
                    } else if (inheritIndex <= i) {
                        break;
                    }
                }
            }

            function throttle(func, time) { // 节流
                let valid = true
                return function() {
                    if (!valid) {
                        return false
                    }
                    valid = false
                    setTimeout(() => {
                        func()
                        valid = true;
                    }, time)
                }
            }
            //*/

            ! function() {
                var items = document.querySelector('.section2 .texts-wrap').children;
                items = Array.from(items)

                new TimelineMax().set(items.slice(2), {
                    yPercent: 1,
                    autoAlpha: 0
                })

                var itemsTimeline = new TimelineMax()

                items.forEach((v, i) => {
                    itemsTimeline
                        .to(v, 1, {
                            yPercent: 1,
                            autoAlpha: 1,
                            ease: Power4.easeOut,
                            delay: 1000, //延迟1秒，接续前一个动画
                        })
                        .to(v, 1, {})

                    if (i !== items.length - 1) {
                        itemsTimeline.to(v, 1 / 2, {
                            yPercent: 1,
                            autoAlpha: 1,
                            ease: Power2.easeInOut,
                            delay: 1000, //延迟1秒，接续前一个动画
                        })
                    }


                    var sense2Content = new ScrollMagic.Scene({
                            triggerElement: '.section2',
                            triggerHook: 0,
                            offset: 0,
                            duration: (sense1Duration - 100) + '%'
                        })
                        .setTween(itemsTimeline)

                    .addTo(controller)
                })
            }()

            var imgLazyLoad = $('#texts-wrap').imgLazyLoad({
                width: 1920,
                height: 1080,
                imgCallback: function() {
                    // console.log(this);
                },
                callback: function() {
                    // console.log(this)
                },
                // scrollTrigger: false
            });
        })
    </script>

</body>

</html>