<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/public.css" />
    <link rel="stylesheet" href="../css/serviceSupport.css">
    <script type="text/javascript" src="/js/public.js"></script>
    <title>服务支持</title>
</head>

<body>
    <section class="header"></section>
    <section class="banner">
        <img src="../img/4B9F23FBC4F2E791972213C31412E916.jpg" alt="">
        <section class="input-p">
            <h1>产品技术支持</h1>
            <img id="inputt_icon" src="../img/15eac376239e7ae088ebc8aa1ccef0a3.jpeg" alt="">
            <input class="inputt" placeholder="搜索你需要的产品资料" type="text">
        </section>

    </section>
    <section class="product_line">
        <section class="form">
            <li class="fotm-li">
                <img src="../img/8D26619B4FD4CBC37FCF32D2BCA8B0E1.png" alt="">
                <p>农业无人机</p>
            </li>
            <li class="fotm-li">
                <img src="../img/8D26619B4FD4CBC37FCF32D2BCA8B0E1.png" alt="">
                <p>农业无人机</p>
            </li>
            <li class="fotm-li">
                <img src="../img/8D26619B4FD4CBC37FCF32D2BCA8B0E1.png" alt="">
                <p>农业无人机</p>
            </li>
            <li class="fotm-li">
                <img src="../img/8D26619B4FD4CBC37FCF32D2BCA8B0E1.png" alt="">
                <p>农业无人机</p>
            </li>
        </section>
        
    </section>
    <section class="footer"></section>
</body>
<script type="text/javascript" src="https://vncdn.mobi88.cn/public/jquery-2.1.3.min.js">
</script>
<script type="text/javascript">
    $(function () {
        $(".header").load("../common/header.html");
        $(".footer").load("../common/fooder.html");
    });

    $(document).ready(function(){
		$(".fotm-li").each(function(index){
		  $(this).click(function(){
            $(this).css(
            'border-bottom','thistle solid .1rem'
        )
        $(!this).css(
            'border-bottom','none'
        )
		  	
		  })	

		})
	})
</script>

</html>