<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/public.css" />
    <link rel="stylesheet" href="/css/vivify.min.css" />
    <link rel="stylesheet" href="../css/serviceSupport.css">
    <script type="text/javascript" src="/js/public.js"></script>
    <title>服务支持</title>
</head>

<body>
    <section class="header"></section>
    <section class="banner">
        <img src="../img/4B9F23FBC4F2E791972213C31412E916.jpg" alt="">
        <section class="input-p">
            <h1>产品技术支持</h1>
            <img id="inputt_icon" src="../img/u=110577387,2340361853&fm=26&fmt=auto&gp=0.webp" alt="">
            <input class="inputt" placeholder="搜索你需要的产品资料" type="text">
        </section>

    </section>
    <section class="product_line">
        <section class="form">
            <li class="fotm-li" id="wuwu">
                <img src="../img/8D26619B4FD4CBC37FCF32D2BCA8B0E1.png" alt="">
                <p>农业无人机</p>
            </li>
            <li class="fotm-li" id="niuniu">
                <img src="../img/8D26619B4FD4CBC37FCF32D2BCA8B0E1.png" alt="">
                <p>农业无人机</p>
            </li>
        </section>

    </section>
    <section class="file">
        <h1>文档与手册</h1>
        <section class="file_word">
            <section class="default">
                <p style="display: flex; justify-content: space-between;">
                    <span>无人default</span><a href="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/注意事项_20210604103426.pdf?versionId=CAEQHxiBgICG.rPv0RciIDJjY2ZjYzI0YWI0OTRhMmRiNjY1NTVlYThkMDFjZWUw" download="">下载</a>
                </p>
            </section>
            <section class="wu" style="display: none;">
                <p style="display: flex; justify-content: space-between;">
                    <span>无人机</span><a href="../word/1.doc" download="">下载</a>
                </p>
            </section>
            <section class="niu" style="display: none;">
                <p style="display: flex; justify-content: space-between;">
                    <span>牛人机</span><a href="../word/1.doc" download="">下载</a>
                </p>
                <p style="display: flex; justify-content: space-between;">
                    <span>牛人机</span><a href="../word/1.doc" download="">下载</a>
                </p>
                <p style="display: flex; justify-content: space-between;">
                    <span>牛人机</span><a href="../word/1.doc" download="">下载</a>
                </p>
                <p style="display: flex; justify-content: space-between;">
                    <span>牛人机</span><a href="../word/1.doc" download="">下载</a>
                </p>
                <p style="display: flex; justify-content: space-between;">
                    <span>牛人机</span><a href="../word/1.doc" download="">下载</a>
                </p>
                <p style="display: flex; justify-content: space-between;">
                    <span>牛人机</span><a href="../word/1.doc" download="">下载</a>
                </p>
            </section>
        </section>
    </section>
    <section class="footer"></section>
</body>
<script type="text/javascript" src="https://vncdn.mobi88.cn/public/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="../js/md5.js"></script>
<script type="text/javascript" src="../js/LanguagePublic.js"></script>
</script>
<script type="text/javascript">
    $(function() {
        $(".header").load("../common/header.html");
        $(".footer").load("../common/fooder.html");
    });

    $(document).ready(function() {
        $(".fotm-li").on("click", function() {
            $(this).addClass("back_red").siblings().removeClass("back_red");
        });
    })
    $(
        function() {
            $("#wuwu").click(
                function() {
                    $(".wu").show();
                    $(".niu").hide();
                    $(".default").hide();
                }
            )
        }
    )
    $(
        function() {
            $("#niuniu").click(
                function() {
                    $(".niu").show();
                    $(".wu").hide();

                }
            )
        }
    )
</script>

</html>