<!--
 * @Author: your name
 * @Date: 2021-06-16 10:46:30
 * @LastEditTime: 2021-07-05 15:54:35
 * @LastEditors: your name
 * @Description: In User Settings Edit
 * @FilePath: \hqtc_pc\components\serviceSupport.html
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="无人机,植保,植保无人机,农业,农业无人机,消防,消防无人机,华启,华启天成,天成,华启无人机,华启消防无人机,华启植保无人机" />
	<meta name="description" content="华启天成（深圳）智能科技有限公司，主要从事行业级无人机和无人机相关产品的研发和制造，公司产品覆盖各行业各领域，是一家专业的无人机解决方案提供商，公司致力于在5G大数据时代，结合AR大数据等技术，针对不同行业的痛点，提供智能专业的无人机产品。" />
	<meta name="author" content="华启天成(深圳)智能科技有限公司 www.hqtcsz.cn" />
    <link rel="shortcut icon" href="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/logo2.png">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/public.css" />
    <link rel="stylesheet" href="../css/vivify.min.css" />
    <link rel="stylesheet" href="../css/serviceSupport.css">
    <script type="text/javascript" src="../js/public.js"></script>
    <title i18n="i18n.serviceSupport">服务支持</title>
</head>

<body>
    <section class="header"></section>
    <section class="banner">
        <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/about-index-pc.png" alt="">
        <h1> <span i18n="i18n.zhidao">行业指导</span> <br/> <span i18n="i18n.yiduiyi">一对一服务</span></h1>
        <!-- <section class="input-p">
            <h1>产品技术支持</h1>
            <img id="inputt_icon" src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/u=110577387,2340361853&fm=26&fmt=auto&gp=0.webp" alt="">
            <input class="inputt" placeholder="搜索你需要的产品资料" type="text"> -->
    </section>
    </section>
    <!-- <section class="product_line">
        <section class="form">
            <li class="fotm-li" id="wuwu">
                <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/8D26619B4FD4CBC37FCF32D2BCA8B0E1.png" alt="">
                <p>农业无人机</p>
            </li>
            <li class="fotm-li" id="niuniu">
                <img src="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/hqtcsz_pc/8D26619B4FD4CBC37FCF32D2BCA8B0E1.png" alt="">
                <p>农业无人机</p>
            </li>
        </section>
    </section> -->
    <section class="file">
        <h1 i18n="i18n.shouce">文档与手册</h1>
        <section class="file_word">
            <p class="file_word_p" style="display: flex; justify-content: space-between;">
                <span i18n="i18n.zhuyishixiang">注意事项</span><a href="https://hqtcsz-oss.oss-cn-shenzhen.aliyuncs.com/注意事项_20210604103426.pdf?versionId=CAEQHxiBgICG.rPv0RciIDJjY2ZjYzI0YWI0OTRhMmRiNjY1NTVlYThkMDFjZWUw" download="" " download=" " i18n="i18n.download ">下载</a>
            </p>
        </section>
    </section>
    <section class="footer "></section>
</body>
<script type="text/javascript " src="https://vncdn.mobi88.cn/public/jquery-2.1.3.min.js "></script>
<script type="text/javascript ">
    $(function() {
        $(".header ").load("../common/header.html ");
        $(".footer ").load("../common/fooder.html ");
    });

    $(document).ready(function() {
        $(".fotm-li ").on("click ", function() {
            $(this).addClass("back_red ").siblings().removeClass("back_red ");
        });
    })
    // $(
    //     function() {
    //         $("#wuwu ").click(
    //             function() {
    //                 $(".wu ").show();
    //                 $(".niu ").hide();
    //                 $(".default ").hide();
    //             }
    //         )
    //     }
    // )
    // $(
    //     function() {
    //         $("#niuniu ").click(
    //             function() {
    //                 $(".niu ").show();
    //                 $(".wu ").hide();

    //             }
    //         )
    //     }
    // )
</script>

</html>