<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/topBox.css">
    <title>topBox</title>
</head>

<body>
    <div class="topBox">
        <span class="title_Name">颠覆性飞行平台</span>
        <!-- <div class="clickViedo_Box" onclick="showVideo()">
            <span>观看视频</span>
            <img src="/images/you.png" alt="">
        </div> -->
        <img src="/images/wrj.png" alt="">
    </div>
</body>
<script src="https://www.jq22.com/jquery/2.1.1/jquery.min.js"></script>

<script>
</script>

</html>